<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
    <style>
        body.login {
            background-color: #ffcb00!important;
        }
    </style>
</head>
<script>
    $(function () {
        $('#username input').attr('placeholder', 'Correo electrónico');
        $('#password input').attr('placeholder', 'Contraseña');
    });
</script>
<body class="login" data-admin-utc-offset="0">
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">

            <h1 id="site-name"><a href="/accounts/login">Hersheys Presentation Login</a></h1>

        </div>
    </div>
    <!-- END Header -->
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form method="post" action="" id="login-form">
                {% if form.errors %}
                    <div class="alert alert-danger"><p>Tu usuario y contraseña no coinciden. Por favor intenta otra
                        vez.</p>
                    </div>
                {% endif %}

                {% csrf_token %}

                <div class="form-row">
                    <label class="required" for="id_username">Username:</label>
                    {{ form.username }}
                </div>
                <div class="form-row">

                    <label class="required" for="id_password">Password:</label>
                    {{ form.password }}

                    <input name="next" value="/web/1.html" type="hidden">
                </div>


                <div class="submit-row">
                    <label>&nbsp;</label><input value="Log in" type="submit">
                </div>
            </form>

        </div>


        <br class="clear">
    </div>
    <!-- END Content -->
</div>

</body>
</html>