<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body data-slide="1">
	<div class="viewer">
		<section class="slide slide-1">
			<img class="logo-home" src="{% static 'img/logo-home.svg' %}" />
			<img class="cloud cloud-1" src="{% static 'img/cloud-a.svg' %}" />
			<img class="cloud cloud-2" src="{% static 'img/cloud-b.svg' %}" />
			<img class="cloud cloud-3" src="{% static 'img/cloud-c.svg' %}" />
			<img class="cloud cloud-4" src="{% static 'img/cloud-d.svg' %}" />
			<img class="cloud cloud-5" src="{% static 'img/cloud-e.svg' %}" />
			<img class="cloud cloud-6" src="{% static 'img/cloud-f.svg'%}" />
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>