<!DOCTYPE html>
<html>
<head>    {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body data-slide="10" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-10 yellow-bg">
			<h2 class="sekunda-font main-heading-text left-space red-text top-s-space">Biodiversity</h2>
			<h3 class="sekunda-font dark-text main-heading-text left-space top-m-space">
				Land of volcanos,<br/>
				deserts, forests,<br/>
				jungles and extensive<br/>
				beaches.
			</h3>
			<div class="border-brush-img img-a">
				<div class="tablecell">
					<img src="{% static 'img/biodiv-a.svg' %}" />
					<span class="border-brush-text dark-text sekunda-font">Beaches</span>
				</div>
			</div>
			<div class="border-brush-img img-b">
				<div class="tablecell">
					<img src="{% static 'img/biodiv-b.svg' %}" />
					<span class="border-brush-text dark-text sekunda-font">Tropical<br/>Forest</span>
				</div>
			</div>
			<div class="border-brush-img img-c">
				<div class="tablecell">
					<img src="{% static 'img/biodiv-c.svg' %}" />
					<span class="border-brush-text yellow-text sekunda-font">Forest &amp;<br/>Volcanoes</span>
				</div>
			</div>
			<div class="border-brush-img img-d">
				<div class="tablecell">
					<img src="{% static 'img/biodiv-d.svg' %}" />
					<span class="border-brush-text yellow-text sekunda-font">Desert</span>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Land of volcanoes, deserts, and extensive beaches.</p>
					<p>Across the country there are many ecosystems with their own unique flora and fauna: in the mountainous forests, coastal regions, snowy mountaintops and volcanoes, jungles, pastures, swamps, deserts, natural parks, marine parks and ecological reserves.</p>
					<p>From the pacific to the Caribbean, from the desert to the tropical rainforest, from the plateaus to the snowy volcanoes, Mexico offers an incredible variety in landscapes.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
    {% include 'menu.html' %}

	{% include 'menu.html' %}<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>