<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="100" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-100 yellow-bg">
			<div class="catholic">
				<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Religion</h3>
				<h4 class="dark-text sekunda-font left-space top-s-space">Our colonial past has a strong impact<br/>on national religious beliefs.</h4>

				<div class="clearfix top-s-space"></div>
				<h4 class="red-text sekunda-font left-space top-l-space text-size-3">{{ datos.religion }}</h4>
				<img src="/static/img/people-group.svg" width="415" class="left-space people-group" />
				<h4 class="red-text sekunda-font left-space text-size-3">are catholic <sub class="dark-text">({{ datos.catholic }}.)</sub></h4>
				
				<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

				<label class="drawer-handler" for="drawer-check"></label>
				<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
				<div class="drawer">
					<div class="inner-drawer">
						<p>In Mexico, 8 out of every 10 citizens are catholic, of which 40% recognize only being so due to tradition.</p>
						<p>These demographics are changing: 10% of people interview in the last census in 2016 declared changing their religious affiliation in the last few years.</p>
						<p>In 14 states of the Mexican Republic (states which include Jalisco and the state of Mexico) more than 90% of the population declares themselves as catholic.</p>
						<p>Catholicism is the predominant religion in the Bajío zone, the Central region and the western part of the country.</p>
					</div>
				</div>
				<label class="trans-overlay" for="drawer-check"></label> 
			</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>