<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="102" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-102 yellow-bg">
			<h2 class="sekunda-font dark-text center-text top-s-space">What is SEL?</h2>
			<h5 class="dark-text sekunda-font center-text">(created by the AMAI in 1997)</h5>
			<h4 class="dark-text sekunda-font center-text">is an indicator comprised of different <span class="red-text">economic, demographic, cultural</span> and <span class="red-text">social variables</span><br/>that allow us to understand the wellbeing of Mexican families</h4>

			<div class="center-text sel-groups top-s-space">
				<img src="/static/img/102-ab.svg" width="148" />
				<img src="/static/img/102-c.svg" width="148" />
				<img src="/static/img/102-c-.svg" width="148" /><br/>
				<img src="/static/img/102-d+.svg" width="148" class="dplus" />
				<img src="/static/img/102-c+.svg" width="148" class="cplus" />
				<img src="/static/img/102-e.svg" width="148" />
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Socioeconomic level is an indicator comprised of different economic, demographic, cultural and social variables that allow us to understand the wellbeing of Mexican families by segmenting them in different spheres and socioeconomic levels.</p>
					<p>This tool, created by the AMAI and used since more than 20 years ago, allows us to group and classify Mexican homes into seven levels, according to their capacity to satisfy their needs in terms of: housing, health, energy, technology, prevention and intellectual development.</p>
					<p>The variables that allow us to better understand the satisfaction of these dimensions and their impact on quality of life are:</p>
					<p>Level of education of family head, number of rooms, bathrooms and lightbulbs, type of flooring, number of automobiles, electronic appliances and oven.</p> 
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>