<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="103" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-103 yellow-bg">
			<h2 class="sekunda-font dark-text center-text top-s-space">What is SEL?</h2>
			<h4 class="dark-text sekunda-font center-text"><span class="red-text">Wellbeing</span> is determined by the characteristics of the household, considering</h4>

			<div class="clearfix">
				<div class="col col-5 right-text">
					<img src="/static/img/big-house.svg" width="320" class="top-m-space house float-anim-reverse" />
				</div>
				<div class="col col-1 center-text">
					<img src="/static/img/life-quality-arrow.svg" width="100" class="top-s-space arrow float-anim" />
				</div>
				<div class="col col-6">
					<img src="/static/img/103-list.svg" width="390" class="top-s-space left-s-space list" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>