<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="104" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-104 yellow-bg">
			<h2 class="sekunda-font dark-text left-space top-s-space">What is SEL?</h2>
			<h4 class="dark-text sekunda-font left-space">What does and does not affect SEL?</h4>

			<div class="clearfix">
				<div class="col col-1">.</div>
				<div class="col col-10 center-text">
					<img src="/static/img/sel-affect.svg" class="" />
				</div>
				<div class="col col-1"></div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>