<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>

</head>
<body data-slide="105" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-105 ">
        <div class="clearfix">
            <div class="col col-4">
                <h2 class="sekunda-font dark-text left-space top-s-space">SEL DISTRIBUTION</h2>
                <h4 class="red-text sekunda-font left-space text-size-3">Urban homes in Mexico</h4>
                <h4 class="dark-text sekunda-font left-space">(populations of more than 50,000 inhabitants).</h4>
            </div>
            <div class="col col-8">
                <div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
            {{ source }}
        </div>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ datos.ab }}, {{ datos.e }}, {{ datos.d }}, {{ datos.dplus }}, {{ datos.cminus }}, {{ datos.c }}, {{ datos.cplus }}],
                backgroundColor: [window.chartColors.a, window.chartColors.b, window.chartColors.c, window.chartColors.d, window.chartColors.e, window.chartColors.f, window.chartColors.g
                ],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['A/B : {{ datos.ab }}%', 'E : {{ datos.e }}%', 'D : {{ datos.d }}% ', 'D+ : {{ datos.dplus }}%', 'C- : {{ datos.cminus }}%', 'C : {{ datos.c }}%', 'C+ : {{ datos.cplus }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>