<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body data-slide="106" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-106 yellow-bg">
        <h2 class="sekunda-font dark-text center-text top-s-space">Social clases in Mexico</h2>
        <h4 class="red-text sekunda-font center-text top-s-space">Evolution of macro-classes in the <span
                class="dark-year white-text">{{ datos.first_year }}</span> <span
                class="red-year white-text">{{ datos.second_year }}</span> and <span
                class="green-year white-text">{{ datos.third_year }}</span> period</h4>

        <div class="clearfix">
            <div class="col col-1">.</div>
            <div class="col col-10">
                <div id="container" style="width: 100%;">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
            <div class="col col-1">.</div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">Source: {{ source }}</div>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var color = Chart.helpers.color;
    var barChartData = {
        labels: ['Farming classes', 'Working classes', 'Middle and high classes'],
        datasets: [{
            label: '2000',
            // backgroundColor: color(window.chartColors.g).alpha(0.5).rgbString(),
            backgroundColor: window.chartColors.g,
            borderColor: window.chartColors.g,
            borderWidth: 1,
            data: [{{ datos.farming_classes1 }}, {{ datos.farming_classes2 }}, {{ datos.farming_classes3 }}]
        }, {
            label: '2006',
            // backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: [{{ datos.working_classes1 }}, {{ datos.working_classes2 }}, {{ datos.working_classes3 }}]
        }, {
            label: '2012',
            // backgroundColor: color(window.chartColors.green).alpha(0.5).rgbString(),
            backgroundColor: window.chartColors.green,
            borderColor: window.chartColors.green,
            borderWidth: 1,
            data: [{{ datos.middle_high_classes1 }}, {{ datos.middle_high_classes2 }}, {{ datos.middle_high_classes3 }}]
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#6E4012';
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'right',
                    labels: {
                        fontSize: 25,
                        fontFamily: 'Sekunda',
                        fontColor: '#E5294D'
                    }
                }
            }
        });

    };

</script>
</body>
</html>