<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body data-slide="107" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-107 yellow-bg">
        <h2 class="sekunda-font dark-text center-text top-s-space">Social clases in Mexico</h2>

        <div class="col col-1">.</div>
        <div class="col col-10">
            <div id="container" style="width: 100%;">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="col col-1">.</div>

        <div class="bottom-line-text dark-text sekunda-font center-text">Source:{{ source }}</div>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var horizontalBarChartData = {
        labels: [
            'Middle and high classes: I. Important directors and professionals',
            'Middle and high classes: II. Superior technicians and intermediate directors',
            'Middle and high classes: III. Office workers',
            'Middle and high classes: IIIB. Dependents on commerce',
            'Middle and high classes: IV. a Small business owners',
            'Working classes: IVB. Freelancers',
            'Working classes: V+VI. Skilled and semi-skilled Manual laborers',
            'Working classes: VIIA. Unskilled manual laborers',
            'Farming classes: VIIB. Agricultural',
            'Farming classes: IVC. Small agricultural landowners',
        ],
        datasets: [{
            label: '2000',
            backgroundColor: window.chartColors.g,
            borderColor: window.chartColors.g,
            borderWidth: 1,
            data: [{{ datos.important_directors1 }}, {{ datos.superior_technicians1 }}, {{ datos.office_workers1 }}, {{ datos.dependents_commerce1 }}, {{ datos.small_bussiness1 }}, {{datos.freelancers1 }}, {{ datos.skilled_semiskilled1 }}, {{ datos.unskilled1 }}, {{ datos.agricultural1 }}, {{ datos.small_agricultural1 }}]
        }, {
            label: '2006',
            backgroundColor: window.chartColors.white,
            borderColor: window.chartColors.white,
            data: [{{ datos.important_directors2 }}, {{ datos.superior_technicians2 }}, {{ datos.office_workers2 }}, {{ datos.dependents_commerce2 }}, {{ datos.small_bussiness2 }}, {{datos.freelancers2 }}, {{ datos.skilled_semiskilled2 }}, {{ datos.unskilled2 }}, {{ datos.agricultural2 }}, {{ datos.small_agricultural2 }}]
        }, {
            label: '2012',
            backgroundColor: window.chartColors.red,
            borderColor: window.chartColors.red,
            data: [{{ datos.important_directors3 }}, {{ datos.superior_technicians3 }}, {{ datos.office_workers3 }}, {{ datos.dependents_commerce3 }}, {{ datos.small_bussiness3 }}, {{datos.freelancers3 }}, {{ datos.skilled_semiskilled3 }}, {{ datos.unskilled3 }}, {{ datos.agricultural3 }}, {{ datos.small_agricultural3 }}]
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#6E4012';
        window.myHorizontalBar = new Chart(ctx, {
            type: 'horizontalBar',
            data: horizontalBarChartData,
            options: {
                elements: {
                    rectangle: {
                        borderWidth: 0.1,
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                    labels: {
                        fontSize: 25,
                        fontFamily: 'Sekunda',
                        fontColor: '#E5294D'
                    }
                }
            }
        });

    };
</script>
</body>
</html>