<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="108" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-108 yellow-bg">
			<h1 class="sekunda-font dark-text top-l-space center-text">High Class</h1>
			<h1 class="sekunda-font white-text red-year center-text anim-left-right">A/B</h1>			
			
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>