<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="109"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-109 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>
			<div class="clearfix">
				<div class="col col-5 right-text">
					<svg version="1.1" class="float-anim top-s-space" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 325.7 444.9" style="enable-background:new 0 0 325.7 444.9; width: 250px;" xml:space="preserve">
					<style type="text/css">
						.st0{fill:#6E4012;}
						.st1{fill:#FFFFFF;}
						.st2{fill:#E4294D;}
						.st3{font-family:'Sekunda';}
						.st4{font-size:118.4051px;}
					</style>
					<g>
						<g>
							<g>
								<path class="st0" d="M264.1,319.4l-0.1,35.7l-63.9-0.2l-67.9-60.4l-41.1-0.1L0,371.5l9.5,9.5l13.4-10.8l-0.2,74.1l48.2,0.1
									l0.1-59.4c0-2.5,1.3-4.2,3.8-4.2l31.6,0.1c2.5,0,4.8,1.7,4.8,4.2l-0.1,59.4l191.5,0.5l0.2-74.1l13.2,10.8l9.7-9.5L264.1,319.4z
									 M172.1,417.2l-26.8-0.1l0.1-26.1l26.8,0.1L172.1,417.2z M222.4,417.3l-26.8-0.1l0.1-26.1l26.8,0.1L222.4,417.3z M271.9,417.4
									l-27.5-0.1l0.1-26.1l27.5,0.1L271.9,417.4z"/>
								<path class="st0" d="M142.3,274.5l0,12.8l62.3,56.3l48.1,0.1l0.2-69l10.1,8.9l7.4-7.8l-17.4-15.4l0.1-44.1c0-2.4-2.2-4.5-4.6-4.6
									l-16.5,0c-2.4,0-4.4,2.2-4.4,4.5l-0.1,22.2l-30.2-26.6l-73.1,63.7l7.6,7.9L142.3,274.5z M186.5,267.9l26.8,0.1l-0.1,26.8
									l-26.8-0.1L186.5,267.9z"/>
							</g>
						</g>
						<path class="st1" d="M230.5,186.3c-1.4-2.9-1.5-6.2-1.5-9.5c0-3.7,0.1-7.8,2.7-10.5c2.5-2.6,6.4-3,10-2.9c2.4,0,4.7,0.2,7,0.5
							c1.1,0.1,2.2,0.3,3.1,1c0.7,0.6,1.1,1.4,1.5,2.2c2.3,5.1,3.5,11.1,1.8,16.4C251.6,194.9,236.1,197.8,230.5,186.3z"/>
						<path class="st1" d="M192,164.7c-2.4-0.9-4.7-1.9-6.5-3.7c-2.5-2.4-3.7-5.9-4.4-9.3c-0.6-2.9-1-6-0.3-9c1.1-4.6,4.7-8.4,8.9-10.3
							c4.3-2,9.2-2.3,13.9-1.7c3.7,0.5,7.5,1.7,10.4,4.1c6.3,5.1,7.2,14.4,6.3,22.4c-0.3,2.4-0.7,4.9-1.9,6.9
							C213.6,171.9,198.5,167,192,164.7z"/>
						<path class="st1" d="M162.1,134.4c-6.6,10.7-16.3,19.2-26.5,26.6c-8.5,6.1-17.5,11.7-27.6,14.7c-23.8,6.9-49.9-2.3-69.4-17.6
							c-15.1-11.9-27.5-27.8-33.1-46.2C2.8,102.6,1.7,93,1.3,83.5C1,76.3,1,69.1,2.6,62.2c2.7-11.9,9.8-22.5,18.8-30.9
							s19.6-14.6,30.6-20.1C63.7,5.3,76.3,0.2,89.5,0c8.7-0.1,17.3,1.8,25.6,4.6c7.9,2.6,15.7,5.9,22.5,10.8c12.6,9.1,20.9,23.1,25.6,38
							c4.5,14.3,6,29.5,6.4,44.4C169.8,111.2,169.4,122.5,162.1,134.4z"/>
						<g>
							<text transform="matrix(1 0 0 1 25.6624 130.4507)" class="st2 st3 st4">{{ datos.high_percentaje }}%</text>
						</g>
					</g>
					</svg>
				</div>
				<div class="col col-7">
					<h4 class="sekunda-font dark-text text-size-3 top-xl-space inline-block left-space">Over</h4>
					<h1 class="sekunda-font red-text inline-block">{{ datos.over }}</h1>
					<h4 class="sekunda-font dark-text text-size-3 top-xl-space inline-block">Pesos<br/>a month</h4>
				</div>
			</div>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The population belonging to this socioeconomic level is made up of the A/B segments, they have monthly incomes above 98,500 pesos. In the country, 6.8% of urban homes is in this situation.</p>
					<p>The pedestal in which people of this socioeconomic level are in is threatened by the middle class. Consequently, the wealthy are obliged to change their concept of luxury, detailed by the study on “Niveles Altos en México” developed by the market investigation firm called De la Riva Group.</p>
					<p>In their new concept of luxury, upper class Mexicans have stopped perceiving the hierarchies and have opted for the concept of horizontality.</p>
					<p>Shopping abroad, gathering life experiences, consuming organic foods and generic medicine, reducing the gap between employee and employer, and assisting entertainment or restaurants commonly frequented by people of middle or lower class is what creates this new concept.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>