<!DOCTYPE html>
<html>
<head>
        {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body data-slide="11" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-11 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Biodiversity</h3>
			<h2 class="sekunda-font main-heading-text left-space dark-text top-xs-space">Northern<br/>Region</h2>
			<p class="valerie-font red-text left-space reg-text top-xs-space">The northern part of Mexico is in large part covered by a great desert; an enormous extension of land situated in the plateaus, surrounded on both west and east by the “Sierra Madre” mountain range and the “Sierra Tarahumara” mountain range. This is where the Tarahumara Indians live, one of the most primitive groups in all of North America. There we find the “Copper Canyon”, one of the most impressive geological fault lines in the country. The State of Nuevo Leon, its capital, Monterrey, is one of the most industrialized cities in the country and also located in this area.</p>
			<img src="{% static 'img/11-1.svg' %}" class="img-11-1 floating-img" />
			<img src="{% static 'img/11-2.svg' %}" class="img-11-2 floating-img" />
			<img src="{% static 'img/11-3.svg' %}" class="img-11-3 floating-img" />
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCES:{{ source }}</div>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>