<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="110" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-110 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>
			<div class="clearfix">
				<div class="col col-5 right-text">
					<img src="/static/img/man-woman.svg" width="250" class="float-anim top-l-space" />
				</div>
				<div class="col col-7">
					<h4 class="sekunda-font red-text text-size-3 top-l-space left-space">new concept of luxury</h4>
					<h4 class="sekunda-font dark-text left-space">
						Shopping abroad<br/>
						gathering life experiences<br/>
						consuming organic foods and generic medicine<br/>
						reducing the gap between employee and employer<br/>
						assisting entertainment or restaurants
					</h4>
					<h6 class="sekunda-font dark-text left-space">(commonly frequented by people of middle or lower class)</h6>
				</div>
			</div>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The population belonging to this socioeconomic level is made up of the A/B segments, they have monthly incomes above 98,500 pesos. In the country, 6.8% of urban homes is in this situation.</p>
					<p>The pedestal in which people of this socioeconomic level are in is threatened by the middle class. Consequently, the wealthy are obliged to change their concept of luxury, detailed by the study on “Niveles Altos en México” developed by the market investigation firm called De la Riva Group.</p>
					<p>In their new concept of luxury, upper class Mexicans have stopped perceiving the hierarchies and have opted for the concept of horizontality.</p>
					<p>Shopping abroad, gathering life experiences, consuming organic foods and generic medicine, reducing the gap between employee and employer, and assisting entertainment or restaurants commonly frequented by people of middle or lower class is what creates this new concept.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>