<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="111" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-111 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>

			<div class="clearfix center-text top-m-space relative">

				<img src="/static/img/111-tacos.svg" width="142" class="floating-img" />
				<img src="/static/img/111-cloth.svg" width="168" class="floating-img" />
				<img src="/static/img/111-shopping.svg" width="170" class="floating-img" />
				<img src="/static/img/111-shoes.svg" width="138" class="floating-img" />
				<img src="/static/img/111-organic-food.svg" width="154" class="floating-img" />
				<img src="/static/img/111-wrestling.svg" width="150" class="floating-img" />

				<img src="/static/img/man-dark.svg" width="120" class="anim-zoom-in-out" />
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>One example is wearing jeans and converse sneakers to work, or eating tacos on the street, going to the tianguis (local street market) or to assist a Lucha Libre (Mexican wrestling) show. They allow themselves these licenses because they have a cultural and intellectual background and the resources that justifies them.</p>
					<p>When it comes to luxury consuming, the wealthy buy everything abroad, because middle class can now buy in stores that were “exclusive” to them.</p>
					<p>57% of the surveyed commented that they customarily buy generic medicine, as well as six of every 10 fruits, vegetables and cheeses organic. It demonstrates knowledge and awareness for consuming products.</p>
					<p>This sector doesn’t necessarily wastes money, they are interested in the cost-benefit ratio, but are indulgent with their personal preferences.</p> 
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>