<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body data-slide="112" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-112 yellow-bg">
        <h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
        <h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">High Class</h4>
        <div class="clearfix">
            <div class="col col-4">
                <h2 class="sekunda-font red-text left-space top-s-space">Income</h2>
                <h4 class="dark-text sekunda-font left-space top-s-space">average income</h4>

                <h2 class="sekunda-font white-text red-bg-text left-space top-s-space">${{ datos.average_income }}</h2>

                <h4 class="dark-text sekunda-font left-space top-s-space">Other income: <span class="red-text">0%</span>
                </h4>
                <h4 class="dark-text sekunda-font left-space">Millions of homes: <span
                        class="red-text">{{ datos.millions_homes }}</span></h4>
                <h4 class="dark-text sekunda-font left-space">Total monthly income (in billions): <span
                        class="red-text">${{ datos.total_monthly }}</span></h4>
            </div>
            <div class="col col-8">
                <div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>One example is wearing jeans and converse sneakers to work, or eating tacos on the street, going to
                    the tianguis (local street market) or to assist a Lucha Libre (Mexican wrestling) show. They allow
                    themselves these licenses because they have a cultural and intellectual background and the resources
                    that justifies them.</p>
                <p>When it comes to luxury consuming, the wealthy buy everything abroad, because middle class can now
                    buy in stores that were “exclusive” to them.</p>
                <p>57% of the surveyed commented that they customarily buy generic medicine, as well as six of every 10
                    fruits, vegetables and cheeses organic. It demonstrates knowledge and awareness for consuming
                    products.</p>
                <p>This sector doesn’t necessarily wastes money, they are interested in the cost-benefit ratio, but are
                    indulgent with their personal preferences.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ datos.income_frome_work }}, {{datos.renting_a_propety }}, {{ datos.transfers }}, {{ datos.rent_estimation }}],
                backgroundColor: [window.chartColors.h, window.chartColors.f, window.chartColors.g, window.chartColors.e],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['Income from work {{ datos.income_frome_work }} %', 'Renting a property {{datos.renting_a_propety }} %',
                'Transfers {{ datos.transfers }}%', 'Rent estimation {{ datos.rent_estimation }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>