<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="114" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-114 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>

			<div class="clearfix">
				<div class="col col-1">.</div>
				<div class="col col-10">
					<div class="clearfix">
						<div class="col col-12">
							<h2 class="sekunda-font red-text top-s-space">Where and what does they buy?</h2>
						</div>
						<div class="col col-6">
							<h2 class="sekunda-font white-text red-bg-text top-s-space">${{ datos.what_where_buy }}</h2>
							<h4 class="dark-text sekunda-font">every trimester</h4>
							<h4 class="red-text sekunda-font text-size-3 top-s-space">products that are marketed the most</h4>
						</div>
						<div class="col col-6">
							<h4 class="dark-text sekunda-font text-size-3 top-s-space">spend {{ datos.spend }}</h4>
							<img src="/static/img/meat.svg" width="120" class="top-s-space right-s-space bottom-s-space anim-left-right" align="left" />
							<h4 class="dark-text sekunda-font text-size-3 top-s-space">meat <br/>cereals <br/> non alcoholic drinks</h4>
						</div>
						<div class="col col-12 center-text bottom-icons">
							<img src="/static/img/pants.svg" width="80" class="right-s-space" />
							<img src="/static/img/converse.svg" width="70" class="right-s-space" />
							<img src="/static/img/ring.svg" width="50" class="right-s-space" />
							<img src="/static/img/watch.svg" width="70" class="right-s-space" />
							<img src="/static/img/crayon.svg" width="21" class="right-s-space" />
							<img src="/static/img/mercedes.svg" width="80" />
						</div>
					</div>
				</div>
				<div class="col col-1">.</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>One example is wearing jeans and converse sneakers to work, or eating tacos on the street, going to the tianguis (local street market) or to assist a Lucha Libre (Mexican wrestling) show. They allow themselves these licenses because they have a cultural and intellectual background and the resources that justifies them.</p>
					<p>When it comes to luxury consuming, the wealthy buy everything abroad, because middle class can now buy in stores that were “exclusive” to them.</p>
					<p>57% of the surveyed commented that they customarily buy generic medicine, as well as six of every 10 fruits, vegetables and cheeses organic. It demonstrates knowledge and awareness for consuming products.</p>
					<p>This sector doesn’t necessarily wastes money, they are interested in the cost-benefit ratio, but are indulgent with their personal preferences.</p> 
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>