<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="116" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-116 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>

			<div class="clearfix">
				<div class="col col-2">.</div>
				<div class="col col-8">
					<div class="clearfix relative">
						<img src="/static/img/116-diagram.svg" class="diagram" />
						<img src="/static/img/woman-red.svg" class="img-a floating-img" width="48" />
						<img src="/static/img/man-red.svg" class="img-b floating-img" width="80" />
						<img src="/static/img/woman-red.svg" class="img-c floating-img" width="80" />
						<img src="/static/img/man-red.svg" class="img-d floating-img" width="48" />
					</div>
				</div>
				<div class="col col-2">.</div>
				<div class="col col-12 center-text">
					<h2 class="sekunda-font dark-text inline-block">excellent quality of life</h2>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 107.2 101.8" style="enable-background:new 0 0 107.2 101.8; width: 90px; vertical-align: top;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#FFFFFF;}
							.st1{fill:#E7294D;}
							.st2{font-family:'Sekunda';}
							.st3{font-size:58.5099px;}
						</style>
						<g>
							<path class="st0" d="M30.5,4.6C19.7,9.1,9.1,16.1,4.3,26.7c-2.1,4.6-3,9.7-3.6,14.8c-1.6,13.4-0.9,27.8,6.5,39.2
								c5.9,9.1,15.6,15.3,26,18.4s21.5,3.2,32.2,1.9c9.9-1.2,20.1-3.7,27.4-10.5c6.4-5.9,9.9-14.4,12.1-22.8c2.3-9.4,3.2-19.3,1.5-28.9
								c-1.7-9.6-6.1-18.8-13.1-25.5C77.8-1.3,49.3-3.4,30.5,4.6z"/>
							<path class="st1" d="M27.6,16.2C21.5,21.2,15.9,27.1,13,34.4C8.8,45.3,11,57.8,16,68.4c2.8,6,6.5,11.7,11.5,16.1
								c7.3,6.3,17.1,9.5,26.7,9.3s19.1-3.6,27-9.1c3.5-2.4,6.9-5.3,9.1-9c3.2-5.1,4.1-11.2,4.6-17.1c0.6-8.2,0.4-16.6-2-24.4
								s-7.3-15.2-14.3-19.4c-7.5-4.5-18.1-6.6-26.8-7C44.6,7.5,34,11,27.6,16.2z"/>
						</g>
						<text transform="matrix(1 0 0 1 25.4937 69.2404)" class="st0 st2 st3">{{ datos.excellent_quality_life }}%</text>
					</svg>
					<h4 class="text-size-3 sekunda-font dark-text inline-block">of the population</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>