<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="117" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-117 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>
			<h4 class="text-size-3 dark-text sekunda-font top-s-space center-text">The infrastructure in their home are <span class="red-text">modern and esthetically pleasing</span></h4>

			<div class="dark-bg-brand-a bottom-s-space">
				<img src="/static/img/117-img.svg" class="dark-brand-img right-m-space left-s-space" align="right" />
				<img src="/static/img/man-bachelor.svg" width="80" class="left-space top-s-space float-anim img-a" />
				<img src="/static/img/woman-red.svg" width="90" class="left-s-space top-s-space float-anim-reverse img-b" />
				<p class="yellow-text sekunda-font text-size-3 left-space">bachelors or master’s degree</p>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space inline-block">planners, entrepreneurs and materialists</h4>
			<img src="/static/img/big-house.svg" width="80" class="left-space" />
			<img src="/static/img/toilet.svg" width="20" />
			<img src="/static/img/toilet.svg" width="20" />
			<img src="/static/img/toilet.svg" width="20" />

			<div class="clearfix">
				<div class="col col-1">.</div>
				<div class="col col-10 center-text">
					
				</div>
				<div class="col col-1">.</div>
				<div class="col col-12 center-text">
					
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>