<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="118" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-118 yellow-bg">
			<h1 class="sekunda-font dark-text top-l-space center-text">Upper Middle <br/>Class <span class="white-text red-year">&nbsp;C+&nbsp;</span></h1>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>