<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="119" class="top-red-brand">
	<div class="viewer"style="height: 800px!important;">
		<section class="slide slide-119 yellow-bg" style="padding-top: 120px;!important;">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">A/B</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">High Class</h4>

			<div class="clearfix center-text">
				<h3 class="dark-text sekunda-font inline-block">From </h3>
				<h2 class="red-text sekunda-font inline-block">{{ datos.from_value }}</h2>
				<h3 class="dark-text sekunda-font inline-block">To </h3>
				<h2 class="red-text sekunda-font inline-block">{{ datos.to_value }}</h2>
			</div>

			<div class="clearfix">
				<div class="col col-4 center-text">
					<img src="/static/img/119-credit.svg" width="170" class="top-m-space float-anim-reverse" />
					<h4 class="sekunda-font dark-text">This segment has access to<br/>many products thanks<br/><span class="red-text">to having credit</span></h4>
				</div>
				<div class="col col-4 center-text">
					<img src="/static/img/big-house.svg" width="230" class="top-m-space float-anim" />
				</div>
				<div class="col col-4 center-text">
					<img src="/static/img/119-pig.svg" width="160" class="top-m-space anim-zoom-in-out" />
					<div class="clearfix"></div>
					<img src="/static/img/car.svg" width="160" class="anim-left-right" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>