<!DOCTYPE html>
<html>
<head>    {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body data-slide="12" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-12 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Biodiversity</h3>
			<h2 class="sekunda-font main-heading-text left-space dark-text top-xs-space">Central<br/>Region</h2>
			<p class="valerie-font red-text left-space reg-text top-xs-space">This area is comprised of the Mexican Plateau, between the states of Zacatecas and Jalisco; and the coastal plain of the Pacific. The occidental part of the “Sierra Madre” mountain range is the main mountain range of the region. In states like Michoacan, we find abundant flora and fauna, as well as diversity in climates and geographic scenarios: rivers, mountains and beaches. The “Sierra Madre del Sur” mountain range of the south runs parallel to the Pacific coast. Between both mountain ranges, there is a depression furrowed by the Tepalcatepec river. Their forests are a refuge for the Monarch butterfly. The state of Puebla, the state of Mexico and Mexico City (capital) are found in this zone.</p>
			<img src="{% static 'img/12-1.svg' %}" class="img-12-1 floating-img" />
			<img src="{% static 'img/12-2.svg' %}" class="img-12-2 floating-img" />
			<img src="{% static 'img/12-3.svg' %}" class="img-12-3 floating-img" />
			<img src="{% static 'img/12-4.svg' %}" class="img-12-4 floating-img" />
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCES: {{ source }}</div>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>