<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="121" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-121 yellow-bg">
			<div class="clearfix">
				<div class="col col-1">.</div>
				<div class="col col-10">
					<img src="/static/img/tablet-b.svg" class="top-s-space" width="100%" />
				</div>
				<div class="col col-1">.</div>
			</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>