<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="122" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-122 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Upper Middle Class</h4>
			<h2 class="sekunda-font red-text left-space top-s-space">Where and what does they buy?</h2>
			<svg version="1.1" class="left-space top-s-space" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 179.1 80" style="enable-background:new 0 0 179.1 80; width: 170px;" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#E4294D;}
					.st1{fill:#FFFFFF;}
					.st2{font-family:'Sekunda';}
					.st3{font-size:63.6591px;}
				</style>
				<g>
					<path class="st0" d="M26.6,0C20.8-0.1,14.2,0.1,9.9,4.1c-2.6,2.4-4,5.9-5,9.4c-4.6,14.5-6,30-4.1,45.1c0.5,3.7,1.2,7.6,3.5,10.6
						c3,3.9,8,5.7,12.7,6.7c7.6,1.7,15.5,2.1,23.3,2.4c14.7,0.6,29.3,1,44,1.3c19.1,0.5,38.2,0.9,57.3-0.3c6-0.4,12.1-1,17.9-2.9
						s11.1-5.4,14.3-10.6c2.7-4.3,3.7-9.5,4.3-14.5c0.9-7.4,1.1-14.8,0.6-22.2c-0.4-5.8-1.4-11.8-5.1-16.2c-4.5-5.4-11.9-7.2-18.9-8.3
						C146.3,3,137.6,2.1,129,1.8c-7-0.3-13.2,0.4-20.1,1.3c-8,1-16.8-0.6-24.9-1c-8.9-0.5-17.9-0.9-26.8-1.2C47,0.5,36.8,0.2,26.6,0z"/>
					<g>
						<text transform="matrix(1 0 0 1 19.9035 63.224)" class="st1 st2 st3">{{ datos.where_what_years }}</text>
					</g>
				</g>
			</svg>

			<div class="clearfix items-img">
				<div class="vertical-align-container">
					<div class="tabcell">
						<img src="/static/img/122-money.svg" class="img-a anim-zoom-in-out" width="50" align="top" />
						<img src="/static/img/122-bachelor.svg" class="img-b anim-zoom-in-out" width="120" align="top" />
						<img src="/static/img/122-ring.svg" class="img-c anim-zoom-in-out" width="50" align="top" />
						<img src="/static/img/122-watch.svg" class="img-d anim-zoom-in-out" width="85" align="top" />
						<img src="/static/img/122-mercedes.svg" class="img-e anim-zoom-in-out" width="70" align="top" />
						<br/>
						<img src="/static/img/122-pants.svg" class="img-f anim-zoom-in-out" width="100" align="top" />
						<img src="/static/img/122-shoe.svg" class="img-g anim-zoom-in-out" width="85" align="top" />
						<img src="/static/img/car.svg" class="img-h anim-zoom-in-out" width="140" align="top" />
						<img src="/static/img/122-money.svg" class="img-i anim-zoom-in-out" width="50" align="top" />
						<br/>
						<img src="/static/img/122-money.svg" class="img-j anim-zoom-in-out" width="30" align="top" />
						<img src="/static/img/122-money.svg" class="img-k anim-zoom-in-out" width="30" align="top" />
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font left-space">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>In the last couple of years, the majority of sales have been fueled by the “hopeful middle class”, a sector of the population made up of people with higher incomes than average. It a group that wants to display their ascent on the social ladder with the purchase of luxury items.</p>
					<p>This segment also includes people who need to wear expensive clothing to display their economic solvency or that want to be admitted into exclusive social circles.</p>
					<p>The average type of person in this profile are young adults with university degrees and a high income. The majority live in cities that have more than 50,000 inhabitants.</p>
					<p>A lot of them have their own businesses or are directors or some company. In general, they have access to international trips and are active on social media and the internet.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>