<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="123">
	<div class="viewer">
		<section class="slide slide-123 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Upper Middle Class</h4>

			<div class="clearfix">
				<div class="col col-1">.</div>
				<div class="col col-10">
					<img src="/static/img/123-img.svg" />
				</div>
				<div class="col col-1">.</div>
			</div>
			
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>