<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="124">
	<div class="viewer">
		<section class="slide slide-124 yellow-bg">
			<h2 class="sekunda-font red-text bubble inline-block top-s-space left-space text-size-5">{{ datos.the_homes_country }}%</h2>
			<h4 class="text-size-5 red-text sekunda-font inline-block">of the homes in the country</h4>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font text-size-3 left-space top-m-space">idealist and worker families</h4>
						<h4 class="yellow-text sekunda-font left-space top-s-space">who work hard and have all the necessary requirements to have a good standard of living and they can even afford to give themselves some luxuries.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/124-img.svg" class="dark-brand-img right-m-space left-s-space" width="80%" />
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>This SEL consists of 14% of the homes in the country, and they tend to be younger people, extended families or same sex families.</p>
					<p>They tend to be idealist families, who work hard and have all the necessary requirements to have a good standard of living and they can even afford to give themselves some luxuries.</p>
					<p>They restrict the number of children they can have to guarantee their status, they are families that promote independence among their members and both parents work to provide for the family’s income.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>