<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="125">
	<div class="viewer">
		<section class="slide slide-125 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Upper Middle Class</h4>
			<h4 class="text-size-3 dark-text sekunda-font top-s-space center-text">Their homes are <span class="red-text">{{ datos.their_homes_are }}</span> square meters.</h4>

			<div class="dark-bg-brand-a">
				<img src="/static/img/125-img.svg" class="dark-brand-img right-m-space left-s-space" align="right" />
				<img src="/static/img/man-bachelor.svg" width="80" class="left-space top-s-space float-anim img-a inline-block" />
				<h4 class="yellow-text sekunda-font text-size-3 left-space inline-block">bachelor’s degree,<br/>finished or unfinished.</h4>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text">The purchases in this home are chosen for their psychological benefits.</h4>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The highest level of education from the family head is usually bachelor’s degree, finished or unfinished.</p>
					<p>The biggest percentage of career centered people and independent freelancers are from this level.</p>
					<p>The purchases in this home are chosen for their psychological benefits.</p>
					<p>Their homes are more than 200 square meters.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>