<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="127">
	<div class="viewer">
		<section class="slide slide-127 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>
			
			<div class="clearfix">
				<div class="col col-4 right-text">
					<img src="/static/img/127-man-a.svg" class="top-s-space float-anim" width="50%" />
				</div>
				<div class="col col-4 center-text">
					<h4 class="sekunda-font red-text text-size-4 center-text top-s-space">economic independence</h4>
					<h4 class="sekunda-font dark-text center-text">but have very different incomes.</h4>
					<h4 class="text-size-3 white-text red-bg-text sekunda-font">office workers</h4><br/>
					<h4 class="text-size-3 white-text red-bg-text sekunda-font">merchants</h4><br/>
					<h4 class="text-size-3 white-text red-bg-text sekunda-font">bureaucrat</h4><br/>
					<h4 class="text-size-3 white-text red-bg-text sekunda-font">employees</h4><br/>
					<h4 class="text-size-3 white-text red-bg-text sekunda-font">academics</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/127-man-b.svg" class="top-s-space float-anim" width="50%" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The majority of people in this class are office workers, merchants, bureaucrat, employees or academics, it is a segment of the population that have economic independence, but have very different incomes.</p>
					<p>Mexico’s economic development and job creation efforts (Mexico’s exporting profile became an opportunity for new jobs), influenced the country so that the middle class grew 33.8 percent, that is, the number of families that were added to this segment of the population went from 11.8 to 15.8 million.</p>
					<p>Salaries saw a moderate rise, the middle class demonstrated an important rise in their consumership dynamic, from 2000 to the year 2014 family spending represents almost a third or the total spending in Mexico.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>