<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="129">
	<div class="viewer">
		<section class="slide slide-129 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>
			
			<div class="clearfix">
				<div class="col col-7">
					<h4 class="dark-text sekunda-font text-size-3 left-space top-l-space">a great part of this class’ consumption<br/><span class="red-text">depends</span> on diverse lines of financing</h4>
					<img src="/static/img/credit-a.svg" class="anim-left-right left-space top-s-space" width="60%" />
				</div>
				<div class="col col-5 center-text">
					<img src="/static/img/coin.svg" class="img-a" width="13" />
					<img src="/static/img/coin.svg" class="img-b" width="19" />
					<img src="/static/img/coin.svg" class="img-c" width="33" />
					<img src="/static/img/coin.svg" class="img-d" width="33" />
					<img src="/static/img/coin.svg" class="img-e" width="40" />
					<div class="clearfix">
						<img src="/static/img/pig.svg" class="img-f anim-zoom-in-out" width="180" />
					</div>
					<img src="/static/img/fridge.svg" class="img-g right-s-space top-s-space float-anim" width="80" align="left" />
					<img src="/static/img/tv.svg" class="img-h top-s-space anim-zoom-in-out" width="100" align="left" /><br/><br/><br/><br/><br/>
					<img src="/static/img/car.svg" class="img-i anim-left-right" width="130" align="left" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Before the small salary increase, a great part of this class’ consumption depends on diverse lines of financing, mainly credit, which for the banks represents their second biggest credit portfolio, only surpassed by the financing of productive activities.</p>
					<p>The improved flow of banking resources to consumers allowed the purchase of long lasting products like automobiles and domestic appliances to increase.</p>
					<p>The purchase of new cars is considered one of the ways to break into the middle class, and in Mexico there has been an increase of families that entered this segment of the population causing a 6% increase in car sales from 2000 to 2016. The acquisition of housing also increased for this segment.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>