<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

</head>
<body data-slide="13" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-13 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Biodiversity</h3>
        <h2 class="sekunda-font main-heading-text left-space dark-text top-xs-space">Southern<br/>Region</h2>
        <p class="valerie-font red-text left-space reg-text top-xs-space">The states of Guerrero, Oaxaca and Tabasco
            make up the southern part of the country. In this zone is where the two “Sierra Madre” mountain ranges unite
            to continue their southern descent towards the Andes. The topography of the region is characterized by
            deserts, heavily wooded mountainous zones and low altitude jungles. Also in this region, in the southeast we
            find the states of Yucatan, Campeche, Chiapas and Quintana Roo: the best places in Mexico to learn about
            Mayan culture and to enjoy the best beaches in Mexico, on the shores of the Caribbean, like Cancun or the
            Mayan Riviera.</p>
        <img src="{% static 'img/13-1.svg' %}" class="img-13-1 floating-img"/>
        <img src="{% static 'img/13-2.svg' %}" class="img-13-2 floating-img"/>
        <img src="{% static 'img/13-3.svg' %}" class="img-13-3 floating-img"/>
        <img src="{% static 'img/13-4.svg' %}" class="img-13-4 floating-img"/>
        <img src="{% static 'img/13-5.svg' %}" class="img-13-5 floating-img"/>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCES:
         {{ source }}
        </div>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>