<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="130">
	<div class="viewer">
		<section class="slide slide-130 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>

			<div class="clearfix"></div>

			<svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 467.5 238.3" style="enable-background:new 0 0 467.5 238.3; width: 380px; stroke-dasharray:1000,1000; stroke-dashoffset:0" xml:space="preserve">
				<path fill="transparent" d="M10.3,228.6c0,0,81-83,182.5-125.8s255.5-60,255.5-60l-31.7,42.8l41.2-45.7l-56-31c0,0-7,0.1-5.2,5.7
					c1.8,5.6,55.7,26.8,55.7,26.8" stroke="#e4294d" stroke-width="10">
					<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="remove" repeatCount="indefinite" />
				</path>
			</svg>

			<img src="/static/img/car-flag.svg" class="car" width="300" />

			<h2 class="red-text sekunda-font floating-text text-a">2000</h2>
			<h2 class="red-text sekunda-font floating-text text-b">2016</h2>
			<div class="text-c center-text">
				<h1 class="dark-text sekunda-font">{{ datos.yearly }}%</h1>
				<h3 class="dark-text sekunda-font text-size-3">yearly</h3>
			</div>

			<div class="bottom-line-text yellow-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Before the small salary increase, a great part of this class’ consumption depends on diverse lines of financing, mainly credit, which for the banks represents their second biggest credit portfolio, only surpassed by the financing of productive activities.</p>
					<p>The improved flow of banking resources to consumers allowed the purchase of long lasting products like automobiles and domestic appliances to increase.</p>
					<p>The purchase of new cars is considered one of the ways to break into the middle class, and in Mexico there has been an increase of families that entered this segment of the population causing a 6% increase in car sales from 2000 to 2016. The acquisition of housing also increased for this segment.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>