<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="133">
	<div class="viewer">
		<section class="slide slide-133 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>

			<h2 class="sekunda-font red-text left-space">Where and what does they buy?</h2>
			<h3 class="sekunda-font red-text left-space top-s-space">Consumer Insight Study</h3>
			<h4 class="sekunda-font dark-text left-space">Kantar Worldpanel in Mexico</h4>
			
			<div class="clearfix">
				<div class="col col-5 right-text">
					<h4 class="text-size-3 dark-text sekunda-font">Before</h4>
					<img src="/static/img/man-red.svg" width="65" class="man-a anim-zoom-in-out" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-a" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-b" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-c" />
				</div>
				<div class="col col-2 center-text"><img src="/static/img/77-separator.svg" width="10" /></div>
				<div class="col col-5">
					<h4 class="text-size-3 dark-text sekunda-font">Now</h4>
					<img src="/static/img/man-red.svg" width="65" class="man-b" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-ba" />
					<img src="/static/img/man-red.svg" width="65" class="man-c" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-bb" />
					<img src="/static/img/man-red.svg" width="65" class="man-d" />
					<img src="/static/img/shop-bag.svg" width="38" class="bag-bc" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Kantar Worldpanel in Mexico conducted the Consumer Insight Study every trimester and it detected that this year is different from previous years, due to the changes in the taxes (IVA), these changes are modifying the way Mexican homes spend. Two of the most important changes are: people are shopping more frequently, but spending less money on every shopping trip.</p>
					<p>The C level homes, are spending more in traditional shops, pharmacies, bodegas and wholesale stores; this is directly related to their new way of spending money on small and medium purchases. Where they did increase their spending was on soda, $52 more than in the 2013 trimester- but although they are spending more, the consumption of this category is diminishing, every home is drinking almost 8 liters less this trimester.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>