<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="134">
	<div class="viewer"  style="height: 800px!important;">
		<section class="slide slide-134 yellow-bg" style="padding-top: 120px;!important;">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>
			
			<div class="clearfix top-m-space">
				<div class="col col-3 right-text">
					<h4 class="text-size-3 dark-text sekunda-font">Before</h4>
					<img src="/static/img/soda-full.svg" class="top-s-space float-anim-reverse" width="42" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.before_trimester }}</h4>
				</div>
				<div class="col col-2 center-text"><img src="/static/img/77-separator.svg" width="10" /></div>
				<div class="col col-7">
					<h4 class="text-size-3 dark-text sekunda-font">Now</h4>
					<img src="/static/img/soda-not-full.svg" class="top-m-space right-s-space img-a" width="37" />
					<img src="/static/img/soda-not-full.svg" class="top-m-space right-s-space img-b" width="37" />
					<img src="/static/img/soda-not-full.svg" class="top-m-space img-c" width="37" />
					<img src="/static/img/soda-bubbles.svg" width="44" class="soda-bubbles" />
					<svg version="1.1" class="bubble-number" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 65.2 65.7" style="enable-background:new 0 0 65.2 65.7; width: 60px;" xml:space="preserve">
						<style type="text/css"> .st0{fill:#E4294D;} .st1{fill:#FFC900; font-family:'Sekunda'; font-size:45.3107px;} </style>
						<g><path class="st0" d="M13.4,9c-4,2.9-8.2,6-10.5,10.4C0.4,23.8,0.1,29.1,0,34.2c-0.1,5.4,0.2,11.1,2.6,15.9c2.2,4.5,6.1,8,10.4,10.6
								c7.4,4.3,16.4,6,24.9,4.5c8.5-1.6,16.3-6.5,21.2-13.5c7.1-10.1,7.6-23.9,3.3-35.4c-1.3-3.6-3.2-7-5.9-9.6C44.6-5,25.1,0.6,13.4,9z" /></g>
						<text transform="matrix(1 0 0 1 18.6806 50.2888)" class="st1">$52</text>
					</svg>
					<svg version="1.1" class="attention" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 229.5 104.7" style="enable-background:new 0 0 229.5 104.7; width: 220px" xml:space="preserve">
						<style type="text/css"> .st0a{fill:#6E4012;} .st1a{fill:#FFFFFF;} .st2{font-family:'Sekunda';} .st3{font-size:39.9303px;} .st4{fill:#F9EB21;} </style>
						<g>
							<path class="st0a" d="M34,2.7c-8.8,0.6-18.3,1.7-24.6,7.9C3.5,16.4,2,25.2,1.1,33.4C-1.2,54.1-1,77,11.9,93.3
								c2.6,3.3,5.6,6.2,9.3,8.1c5.9,3.1,12.8,3.3,19.4,3.2c19.5-0.2,39-2.8,58.4-5.1c11.3-1.4,22.6-2.7,33.9-3.1
								c9.1-0.4,18.2-0.2,27.2-1.8c8.9-1.6,17.8-5.3,23.8-12.1c7.1-8.1,9.2-19.6,8.9-30.3c-0.4-15.9-6.1-32.5-18.9-41.9
								c-5.6-4.1-12.2-6.5-19-7.9c-18.3-3.9-39.3-1.9-57.9-1.7C75.9,0.8,54.9,1.3,34,2.7z"/>
							<g>
								<text transform="matrix(1 0 0 1 18.6651 47.0871)"><tspan x="0" y="0" class="st1a st2 st3">the consumption</tspan>
								<tspan x="0" y="37.1" class="st1a st2 st3">is diminishing</tspan></text>
							</g>
							<path class="st0a" d="M167.4,42.8c-1.7,3-3.4,6.1-4.2,9.5c-0.7,3.4-0.4,7.2,1.7,10c3.1,4,8.7,4.7,13.7,5.1
								c16.1,1.2,26.8,1.5,42.9-0.7c1.5-0.2,3-0.5,4.3-1.3c1.8-1.1,2.9-3.2,3.4-5.3c1.4-6.2-1.7-12.4-4.9-17.8
								c-7.6-12.8-11.1-23.9-22.1-34c-3.4-3.2-6.9-7.2-11.8-4.9c-3.4,1.6-4.8,4.1-6.5,8.2c-2.1,5.2-4.6,10-7.3,14.9
								C173.5,31.9,170.4,37.3,167.4,42.8z"/>
							<path class="st4" d="M169.9,49.3c-1.3,2.6-2,9.4,0.7,11.3c3.9,2.9,7,3.3,11.9,3.3c13.1-0.1,20.7-1,33.8-1.1c0.9,0,1.7,0,2.5-0.4
								c1.3-0.7,1.9-2.2,2.2-3.7c0.6-3.2,0.3-6.6-0.9-9.7c-1.1-2.9-2.8-5.8-4.3-8.4c-3.6-6.4-3.3-9.9-7.5-15.6c-3.4-4.6-7.1-12.1-12.2-15
								c-4.2-2.4-5.8,0.8-7.3,4.3c-2.4,5.3-5.3,10.2-8.2,15.2C176.6,36.1,173.1,42.7,169.9,49.3z"/>
							<g>
								<path class="st0a" d="M192.5,22.3c-0.2,2.1-0.2,4.2-0.2,6.3c0.1,6.1,0.2,12.4,2.1,18.2c0.1,0.3,0.2,0.5,0.3,0.7
									c0.7,0.8,2.1,0.4,2.7-0.5c0.5-0.9,0.4-2.1,0.3-3.2c-0.7-6.8-0.8-13.7-0.5-20.6c0.1-1.5,0.1-4-1.8-4.4
									C193.5,18.5,192.6,20.8,192.5,22.3z"/>
								<path class="st0a" d="M192.2,53.6c-0.7,1.2-0.5,3,0.6,3.8c0.8,0.6,1.9,0.8,2.9,0.7c0.5,0,1-0.1,1.4-0.3c0.6-0.3,1-0.9,1.2-1.6
									C199.7,52.3,194.3,50.1,192.2,53.6z"/>
							</g>
						</g>
					</svg>
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.now_trimester }}</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Kantar Worldpanel in Mexico conducted the Consumer Insight Study every trimester and it detected that this year is different from previous years, due to the changes in the taxes (IVA), these changes are modifying the way Mexican homes spend. Two of the most important changes are: people are shopping more frequently, but spending less money on every shopping trip.</p>
					<p>The C level homes, are spending more in traditional shops, pharmacies, bodegas and wholesale stores; this is directly related to their new way of spending money on small and medium purchases. Where they did increase their spending was on soda, $52 more than in the 2013 trimester- but although they are spending more, the consumption of this category is diminishing, every home is drinking almost 8 liters less this trimester.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>