<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="135">
	<div class="viewer">
		<section class="slide slide-135 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>
			
			<h4 class="sekunda-font dark-text top-m-space center-text relative">The category that has seen the <span class="red-text">biggest reduction</span><br/>is <span class="red-text">personal care</span> (non-basic products) <img src="/static/img/135-arrow.svg" width="32" class="arrow float-anim-reverse dur_1" /></h4>

			<div class="clearfix center-text">
				<div class="col col-4">
					<img src="/static/img/perfume.svg" width="130" class="float-anim-reverse dur_2 top-s-space" />
					<div class="clearfix"></div>
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 93.1 72.4" style="enable-background:new 0 0 93.1 72.4; width: 90px;" xml:space="preserve">
						<style type="text/css">	.st0{fill:#E4294D;}	.st1{fill:#FFC900;}	.st2{font-family:'Sekunda';} .st3{font-size:35.8869px;}	.st4{fill:#6E4012;}	.st5{font-size:50px;} </style>
						<path class="st0" d="M36.1,9.9c-4.4,3.2-9,6.6-11.6,11.4c-2.7,4.9-3.1,10.7-3.1,16.3c-0.1,6,0.2,12.2,2.9,17.6
											c2.4,5,6.7,8.8,11.5,11.6c8.2,4.8,18.1,6.7,27.4,4.9C72.4,70,81,64.6,86.4,56.8c7.8-11.1,8.4-26.3,3.6-39
											c-1.5-3.9-3.5-7.7-6.5-10.6C70.4-5.5,48.9,0.7,36.1,9.9z"/>						
						<text transform="matrix(1 0 0 1 41.8912 55.3673)" class="st1 st2 st3">${{ datos.perfume }}</text>
						<path class="st4" d="M13.6,19.8c-2.4,0.3-4.8,0.9-6.7,2.4c-2,1.6-3,4-4,6.3c-2,4.7-4,10-2.1,14.8c1.3,3.3,4.3,5.8,7.6,7.1
											c6.1,2.5,14,1.2,17.9-4.1c1.8-2.5,2.7-5.6,3.3-8.6c0.5-2.4,1-4.9,0.7-7.4C29,21.3,21.5,18.9,13.6,19.8z"/>
						<text transform="matrix(1 0 0 1 8.4882 53.624)" class="st1 st2 st5">-</text>						
					</svg>
					<h4 class="sekunda-font dark-text top-s-space center-text">homes are spending<br/><span class="red-text">${{ datos.perfume }} less than a year ago.</span></h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/labial.svg" width="40" class="float-anim-reverse dur_2 delay_02 top-s-space" />
					<div class="clearfix"></div>
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 93.1 72.4" style="enable-background:new 0 0 93.1 72.4; width: 90px;" xml:space="preserve">
						<path class="st0" d="M36.1,9.9c-4.4,3.2-9,6.6-11.6,11.4c-2.7,4.9-3.1,10.7-3.1,16.3c-0.1,6,0.2,12.2,2.9,17.6
											c2.4,5,6.7,8.8,11.5,11.6c8.2,4.8,18.1,6.7,27.4,4.9C72.4,70,81,64.6,86.4,56.8c7.8-11.1,8.4-26.3,3.6-39
											c-1.5-3.9-3.5-7.7-6.5-10.6C70.4-5.5,48.9,0.7,36.1,9.9z"/>
						<text transform="matrix(1 0 0 1 41.8912 55.3673)" class="st1 st2 st3">${{ datos.labial }}</text>
						<path class="st4" d="M13.6,19.8c-2.4,0.3-4.8,0.9-6.7,2.4c-2,1.6-3,4-4,6.3c-2,4.7-4,10-2.1,14.8c1.3,3.3,4.3,5.8,7.6,7.1
											c6.1,2.5,14,1.2,17.9-4.1c1.8-2.5,2.7-5.6,3.3-8.6c0.5-2.4,1-4.9,0.7-7.4C29,21.3,21.5,18.9,13.6,19.8z"/>
						<text transform="matrix(1 0 0 1 8.4882 53.624)" class="st1 st2 st5">-</text>
					</svg>
					<h4 class="sekunda-font dark-text top-s-space center-text">make up is another category<br/>with people spending.</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/soups.svg" width="130" class="float-anim-reverse dur_2 delay_04 top-s-space" />
					<div class="clearfix"></div>
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 93.1 72.4" style="enable-background:new 0 0 93.1 72.4; width: 90px;" xml:space="preserve">
						<path class="st0" d="M36.1,9.9c-4.4,3.2-9,6.6-11.6,11.4c-2.7,4.9-3.1,10.7-3.1,16.3c-0.1,6,0.2,12.2,2.9,17.6
											c2.4,5,6.7,8.8,11.5,11.6c8.2,4.8,18.1,6.7,27.4,4.9C72.4,70,81,64.6,86.4,56.8c7.8-11.1,8.4-26.3,3.6-39
											c-1.5-3.9-3.5-7.7-6.5-10.6C70.4-5.5,48.9,0.7,36.1,9.9z"/>
						<text transform="matrix(1 0 0 1 41.8912 55.3673)" class="st1 st2 st3">${{ datos.soup_serial }}</text>
						<path class="st4" d="M13.6,19.8c-2.4,0.3-4.8,0.9-6.7,2.4c-2,1.6-3,4-4,6.3c-2,4.7-4,10-2.1,14.8c1.3,3.3,4.3,5.8,7.6,7.1
											c6.1,2.5,14,1.2,17.9-4.1c1.8-2.5,2.7-5.6,3.3-8.6c0.5-2.4,1-4.9,0.7-7.4C29,21.3,21.5,18.9,13.6,19.8z"/>
						<text transform="matrix(1 0 0 1 8.4882 53.624)" class="st1 st2 st5">-</text>
					</svg>
					<h4 class="sekunda-font dark-text top-s-space center-text">soups and cereals<br/><span class="red-text">have seen a decrease as well.</span></h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The category that has seen the biggest reduction is personal care, these are non-basic products, which makes it easier to forego them. Some examples are: lotions, homes are spending $68 less than a year ago, make up is another category with people spending $19 less, and some foods like cereal bars, soups and cereals have seen a decrease as well.</p>
					<p>The increases in price have managed to diminish consumption in some categories like snacks. In the case of soda, consumption has been reduced, but more soda is being purchased this year compared to last year. Homes are spending less on other categories like beauty products, or other unnecessary products to compensate for their spending on required categories.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>