<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="137">
	<div class="viewer">
		<section class="slide slide-137 yellow-bg">
			<h2 class="sekunda-font red-text bubble inline-block top-s-space left-space text-size-7">{{ datos.young_families }}%</h2>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font text-size-3 left-space top-m-space">young families & roomies</h4>
						<h4 class="yellow-text sekunda-font left-space top-s-space">This SEL lives without surpluses or luxuries but have the necessary for a practical life, with aspirations.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/137-img.svg" class="dark-brand-img right-m-space left-s-space" width="80%" />
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>