<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="138">
	<div class="viewer">
		<section class="slide slide-138 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">C</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Typical Middle Class</h4>
			<h4 class="text-size-3 dark-text sekunda-font top-s-space center-text">The majority of these families <span class="red-text">rent a house or apartment</span></h4>

			<div class="dark-bg-brand-a">
				<img src="/static/img/138-img.svg" class="dark-brand-img right-m-space left-s-space" align="right" />
				<img src="/static/img/man-red.svg" width="90" class="left-space top-s-space float-anim img-a inline-block" />
				<h4 class="yellow-text sekunda-font text-size-3 left-space inline-block">high school level<br/>or uncompleted college.</h4>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text">The purchase decisions in this sector are oriented to the cost-benefit.</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>