<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="141">
	<div class="viewer">
		<section class="slide slide-141 yellow-bg">
			<h4 class="text-size-3 dark-text sekunda-font top-m-space center-text"><span class="red-text">single</span> mothers or fathers or are <span class="red-text">reconstituted</span> families</h4>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font text-size-3 left-space top-m-space">They cover the families’ basic necessities, but there are substantial shortfalls in these homes, which they try to cover by undertaking small businesses through informal commerce.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/141-img.svg" class="dark-brand-img right-m-space left-s-space" />
					</div>
				</div>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text"><span class="red-text text-size-3">{{ datos.headed_mothers }}</span> </h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>