<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="142">
	<div class="viewer">
		<section class="slide slide-142 yellow-bg">
			<h4 class="text-size-3 red-text sekunda-font top-m-space center-text">INFONAVIT: FOVISSTE or FONHAPO</h4>

			<div class="dark-bg-brand-a">
				<img src="/static/img/142-img.svg" class="dark-brand-img right-m-space left-s-space" align="right" />
				<img src="/static/img/man-red.svg" width="90" class="left-space top-s-space float-anim img-a inline-block" />
				<h4 class="yellow-text sekunda-font text-size-3 left-space inline-block">of middle or<br/>high school level.</h4>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text">These families value discounts and promos at the moment of their purchases,<br/> as they are always looking to save money.</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>