<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body class="top-red-brand" data-slide="144">
<div class="viewer" style="height: 800px!important;">
    <section class="slide slide-144 yellow-bg" style="padding-top: 120px;!important;">
        <h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
        <h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Lower Middle Class</h4>
        <div class="clearfix relative">
            <img src="/static/img/144-arrow.svg" width="120" class="arrow anim-semirotate-clockwise origin_bottom"/>
        </div>
        <h4 class="sekunda-font yellow-darker-text text-size-3 top-s-space left-space">NSE C</h4>
        <h4 class="sekunda-font white-text text-size-3 left-space inline-block red-bg-text">NSE D+</h4>
        <h4 class="sekunda-font yellow-text text-size-3 left-s-space dark-bg-text">the lowest level that is still in
            good conditions</h4>
        <div class="clearfix">
            <div class="col col-2">
                <h4 class="sekunda-font yellow-darker-text text-size-3 top-s-space left-space">NSE E</h4>
            </div>
            <div class="col col-5">
                <h4 class="sekunda-font dark-text top-s-space left-s-space">taxi drivers<br/>stationary or mobile
                    merchants<br/>plumbers<br/>carpenters</h4>
            </div>
            <div class="col col-5">
                <h4 class="sekunda-font dark-text top-s-space left-s-space">chauffeurs<br/>couriers<br/>debt
                    collectors<br/>workers, etc.</h4>
            </div>
        </div>


        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
        {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>This sector regards people with incomes or living standard that is just below middle class, in other
                    words it is the lowest level that is still in good conditions.</p>
                <p>Within the professions of the heads of family in this sector there are taxi drivers (whose car is
                    owned by themselves), stationary or mobile (plumbers, carpenters), chauffeurs, couriers, debt
                    collectors, workers, etc.</p>
                <p>Sometimes there are some heads of family that have a higher schooling level but that as a result of
                    several years of crisis, they lost employment and now work in informal economy.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>