<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="145">
	<div class="viewer">
		<section class="slide slide-145 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Lower Middle Class</h4>
			
			<div class="clearfix top-s-space">
				<div class="col col-6 right-text">
					<img src="/static/img/parking.svg" width="50" />
					<img src="/static/img/woman-red.svg" width="34" class="float-anim-reverse dur_3" />
					<img src="/static/img/man-red.svg" width="58" class="float-anim-reverse dur_3 delay_02" />
					<img src="/static/img/woman-red.svg" width="61" class="float-anim-reverse dur_3 delay_04" />
					<img src="/static/img/man-red.svg" width="34" class="float-anim-reverse dur_3 delay_06" />
				</div>
				<div class="col col-6">
					<img src="/static/img/parking.svg" width="50" />
					<img src="/static/img/woman-red.svg" width="34" class="float-anim-reverse dur_4" />
					<img src="/static/img/man-red.svg" width="58" class="float-anim-reverse dur_4 delay_02" />
					<img src="/static/img/woman-red.svg" width="61" class="float-anim-reverse dur_4 delay_04" />
					<img src="/static/img/man-red.svg" width="34" class="float-anim-reverse dur_4 delay_06" />
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-6 right-text">
					<img src="/static/img/parking.svg" width="50" />
					<img src="/static/img/woman-red.svg" width="34" class="float-anim-reverse dur_5" />
					<img src="/static/img/man-red.svg" width="58" class="float-anim-reverse dur_5 delay_02" />
					<img src="/static/img/woman-red.svg" width="61" class="float-anim-reverse dur_5 delay_04" />
					<img src="/static/img/man-red.svg" width="34" class="float-anim-reverse dur_5 delay_06" />
				</div>
				<div class="col col-6">
					<img src="/static/img/car-full.svg" width="190" class="anim-left-right left-space top-m-space" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>This sector regards people with incomes or living standard that is just below middle class, in other words it is the lowest level that is still in good conditions.</p>
					<p>Within the professions of the heads of family in this sector there are taxi drivers (whose car is owned by themselves), stationary or mobile (plumbers, carpenters), chauffeurs, couriers, debt collectors, workers, etc.</p>
					<p>Sometimes there are some heads of family that have a higher schooling level but that as a result of several years of crisis, they lost employment and now work in informal economy.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>