<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="146">
	<div class="viewer">
		<section class="slide slide-146 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Lower Middle Class</h4>
			
			<h4 class="sekunda-font dark-text top-m-space left-space">The bank services that they have<br/>are seldom and basically remit to <span class="red-text">savings accounts,<br/>debit accounts or cards, and hardly ever have<br/>national credit cards.</span></h4>

			<div class="clearfix center-text">
				<div class="col col-4">
					<img src="/static/img/146-card-a.svg" width="250" class="float-anim" />
				</div>
				<div class="col col-4">
					<img src="/static/img/146-card-b.svg" width="250" class="float-anim delay_02" />
				</div>
				<div class="col col-4 relative">
					<img src="/static/img/coin.svg" width="13" class="coin float-anim coin-a" />
					<img src="/static/img/coin.svg" width="20" class="coin float-anim delay_02 coin-b" />
					<img src="/static/img/coin.svg" width="33" class="coin float-anim delay_04 coin-c" />
					<img src="/static/img/coin.svg" width="33" class="coin float-anim delay_06 coin-d" />
					<img src="/static/img/coin.svg" width="40" class="coin float-anim delay_08 coin-e" />
					<img src="/static/img/pig-a.svg" width="250" class="float-anim delay_04" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The bank services that they have are seldom and basically remit to savings accounts, debit accounts or cards, and hardly ever have national credit cards Generally a person of this level assist to shows organized by the municipality and/or the government. They also use sports center services and public parks.</p>
					<p>Television is also part of their entertainment and they preferably attend telenovelas (soap operas) and gameshows. This group tends to watch television daily for a period of time greater to two hours.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>