<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="148">
	<div class="viewer">
		<section class="slide slide-148 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Lower Middle Class</h4>
			
			<div class="clearfix center-text top-l-space">
				<div class="col col-4">
					<h4 class="sekunda-font yellow-text text-size-3 red-bg-text top-m-space">gameshows</h4>
					<div class="clearfix"></div>
					<h4 class="sekunda-font yellow-text text-size-3 red-bg-text">soap operas</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/novela.svg" width="80%" />
				</div>
				<div class="col col-4">
					<img src="/static/img/148-clock.svg" width="150" />
					<h4 class="red-text sekunda-font text-size-3">{{ datos.hours_tv }} hours daily</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>