<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="/static/js/Chart.bundle.min.js"></script>
	<script src="/static/js/utils.js"></script>
</head>
<body class="top-red-brand" data-slide="149">
	<div class="viewer">
		<section class="slide slide-149 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-m-space inline-block">Lower Middle Class</h4>
			<div class="clearfix">
				<div class="col col-4">
					<h2 class="sekunda-font red-text left-space top-s-space">Income</h2>
					<h4 class="dark-text sekunda-font left-space top-s-space">average income</h4>

					<h2 class="sekunda-font white-text red-bg-text left-space top-s-space">${{ datos.income_average }}</h2>

					<h4 class="dark-text sekunda-font left-space top-s-space">Other income: <span class="red-text">{{ datos.other_income }}%</span></h4>
					<h4 class="dark-text sekunda-font left-space">Millions of homes: <span class="red-text">{{ datos.million_homes }}</span></h4>
					<h4 class="dark-text sekunda-font left-space">Total monthly income (in billions): <span class="red-text">${{ datos.total_monthly }}</span></h4>
				</div>
				<div class="col col-8">
					<div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
						<canvas id="chart-area"></canvas>
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Transfers: Retirement, pensions and severance indemnities, fired or voluntary withdrawal, scholarships from the goverment and institutions, money donations from the institutions and others households, income from others countries, government program benefits, transfers in kind from other households (gifts) and transfers in kind from institutions.</p>
					<p>Income from Work: Remuneration for subordinate, remuneration for independent and other income from work Rent of the propetry: Incomes from cooperatives, companies and companies that functions as corporations.</p>
					<p>Value of imputed Rent: These estimates represent an amount of resourcse that household release from payment for housing services and who can manage their consumption of goods and services on a regular basis, which ultimately has a direct and continuous impact on their levels of well-being</p>
					<p>Others incomes: They are all those incomes that weren´t classified correctly</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
	<script>
		var config = {
			type: 'pie',
			data: {
				datasets: [{
					data: [ {{ datos.income_work }}, {{ datos.property_rent }}, {{ datos.transfers }}, {{ datos.rent_estimation }} ],
					backgroundColor: [ window.chartColors.h, window.chartColors.f, window.chartColors.g, window.chartColors.e ],
					borderWidth: 0.1,
					label: 'Dataset 1'
				}],
				labels: [ 'Income from work {{ datos.income_work }}%', 'Renting a property {{ datos.property_rent }}%',
                    'Transfers {{ datos.transfers }}%', 'Rent estimation  {{ datos.rent_estimation }}%' ]
			},
			options: {
				responsive: true,
			legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('chart-area').getContext('2d');
			window.myPie = new Chart(ctx, config);
		};
	</script>
</body>
</html>