<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="151">
	<div class="viewer" style="height: 800px!important;">
		<section class="slide slide-151 yellow-bg" style="padding-top: 120px;!important;">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Lower Middle Class</h4>
			<h2 class="sekunda-font dark-text center-text top-s-space">Where and what do <span class="red-text">they buy?</span></h2>
			<div class="clearfix center-text">
				<div class="col col-5">
					<h4 class="dark-text sekunda-font top-m-space">they don't buy big packages.<br/>although sometimes it helps them<br/>save money.</h4>
					<img src="/static/img/151-tuna-a.svg" width="230" />
				</div>
				<div class="col col-7">
					<img src="/static/img/151-tuna-b.svg" width="70%" />
					<h4 class="dark-text sekunda-font top-s-space">because they <span class="red-text">don't have a car</span> to store them in,<br/>and they oftentimes <span class="red-text">don't fit in the home</span>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The people of this level oftentimes cannot purchase what they want and need until the next sale or storewide discount, and they try not to buy big packages (because they do not have a car to store them in, and they oftentimes do not fit in the home) because sometimes it helps them save money.</p>
					<p>This segment can generally buy a product with an overcharge at a convenience store. People with low income usually buy loose pieces in the small corner shops (a single roll of toilet paper, cigarettes by the piece), and these individual products are usually more expensive than their counterparts in big supermarkets outside the city.</p>
					<p>They usually have access to auto service channels through bodegas.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>