<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="153">
	<div class="viewer">
		<section class="slide slide-153 yellow-bg">
			<h4 class="sekunda-font sel-group-badge white-text inline-block text-size-3">D+</h4>
			<h4 class="sekunda-font dark-text text-size-3 top-s-space inline-block">Lower Middle Class</h4>
			<h4 class="text-size-3 dark-text sekunda-font top-m-space center-text">This segment has a <span class="red-text">hard time getting by</span></h4>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font text-size-3 left-space top-m-space">They just do not have enough to have a good quality of life, and they don’t count with the necessary services to have proper hygiene.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/153-img.svg" class="dark-brand-img right-m-space left-s-space" />
					</div>
				</div>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text">extremely authoritarian or extremely passive whit their children</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>This segment has a hard time getting by. They just do not have enough to have a good quality of life, and they don’t count with the necessary services to have proper hygiene.</p>
					<p>These homes have a limited income that does allow them to have an education or adequate nutrition.</p>
					<p>These are families that take extreme approaches to parenting when they raise their children: or extremely authoritarian or extremely passive. They usually have more than three children each, and they sometimes live with extended family: parents or in-laws.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>