<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="154">
	<div class="viewer">
		<section class="slide slide-154 yellow-bg">
			<h2 class="sekunda-font red-text bubble inline-block top-s-space left-space text-size-5"> {{ datos.homes_country }}%</h2>
			<h4 class="text-size-5 dark-text sekunda-font inline-block">homes in this country</h4>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<img src="/static/img/man-red.svg" align="left" width="80" class="left-space top-s-space right-s-space float-anim" />
						<h4 class="yellow-text sekunda-font text-size-3 top-l-space">middle school<br/>level.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/154-img.svg" class="dark-brand-img right-m-space left-s-space" width="70%" />
					</div>
				</div>
			</div>

			<h4 class="dark-text sekunda-font text-size-3 left-space center-text">The members of these families tend to work in factories<br/>and their purchases are guided by price.</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>18.5% of all homes in this country are part of this segment.</p>
					<p>Their parent’s highest level of scholarship is middle school.</p>
					<p>They tend to be traditional and rigid families, but with vague rules of interaction.</p>
					<p>They share their homes with other families, be it the same house or the same land.</p>
					<p>The members of these families tend to work in factories and their purchases are guided by price.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>