<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="157">
	<div class="viewer">
		<section class="slide slide-157 yellow-bg">
			<h4 class="text-size-3 dark-text sekunda-font top-m-space center-text"><span class="red-text">single</span> mothers or fathers or are <span class="red-text">reconstituted</span> families</h4>

			<div class="dark-bg-brand-a">
				<div class="clearfix">
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font text-size-3 left-space top-m-space">This segment of the population barely survives with their income and their deficiencies are profound and permanent.</h4>
					</div>
					<div class="col col-6">
						<img src="/static/img/157-img.svg" class="dark-brand-img right-m-space left-s-space" width="70%" />
					</div>
				</div>
			</div>

			<h4 class="left-space sekunda-font dark-text top-s-space center-text">There is little cohesion in the home and they live in constant worry about<br/>getting the basic necessities, and or water.</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>