<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="159">
	<div class="viewer">
		<section class="slide slide-159 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">SEL</h1>
			<h3 class="sekunda-font main-heading-text dark-text anim-text floating-text">Central Region</h3>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The report on the Municipal Human Development Index (IDH) from 2000 to 2005, published in 2008 by the United Nations Development Program (PNUD) points out this entity as one of the entities that contribute the most to national inequality.</p>
					<p>Unlike the southern states like Chiapas and Oaxaca, poverty in the State of Mexico is mainly of an urban character. This means that although most of the inhabitants of the State of Mexico don’t live in houses with dirt floors, and they do finish their basic education, their possible sources of income are not enough to allow them to afford basic necessities, like food.</p>
					<p>The Social Development Office indicates that the average daily income of the luxurious parts of the ZMVSM is almost 128 dollars, which is 10 times more than what 57% of the population make (they make between 5 to 15 dollars a day).</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>