<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body data-slide="16"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-16 yellow-bg">

        <h2 class="sekunda-font red-text main-heading-text left-space top-s-space">Central Region</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text">Metropolitan Area VDM</h3>

        <h3 class="sekunda-font main-heading-text left-space dark-text top-l-space"><img
                src="{% static 'img/16-a.svg' %}" width="60"
                align="absmiddle"
                class="right-s-space"/>{{ datos.population_central_area }}
            Million</h3>
        <h4 class="sekunda-font main-heading-text left-space dark-text top-s-space"><img
                src="{% static 'img/16-b.svg' %}" width="60"
                align="left"
                class="right-s-space"/>One of
            the most<br/>populated cities.</h4>

        <div class="star center-text">
            <h4 class="white-text sekunda-font txt-a">CD.MX.</h4>
            <span class="yellow-text sekunda-font txt-a">16 Municipalities</span>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>With more than 23 million inhabitants, the metropolitan zone in the Valley of Mexico is one of the
                    most populated cities in the world: 1 out of 5 Mexicans lives there.</p>
                <p>Mexico City is the country’s capital and is located there. It has more than 8 million in habitants,
                    which represent 5% of the entire countries population.</p>
                <p>Despite its contrasts, it is an eclectic and cosmopolitan city. Commerce is one of the main economic
                    motors in this city, a city which is also one of the biggest in the world.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>