<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="160">
	<div class="viewer">
		<section class="slide slide-160 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">SEL</h1>
			<h3 class="sekunda-font main-heading-text dark-text anim-text floating-text">Central Region</h3>

			<div class="info">
				<div class="vertical-align-container">
					<div class="tabcell">
						<h4 class="sekunda-font dark-text text-size-3"><img src="/static/img/160-people.svg" class="anim-zoom-in-out" width="55" />{{ datos.central_region_people }} </h4>
						<h4 class="sekunda-font dark-text text-size-3"><img src="/static/img/160-gdp.svg" width="55" class="anim-zoom-in-out delay_02" />{{ datos.central_gdp }}<br/><span class="red-text text-size-2 left-space">{{ datos.central_millions_usd }}</span></h4>
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>