<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="161">
	<div class="viewer">
		<section class="slide slide-161 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">SEL</h1>
			<h3 class="sekunda-font main-heading-text dark-text anim-text floating-text">NORTHERN REGION</h3>

			<div class="clearfix">
				<div class="col col-4">.</div>
				<div class="col col-4">.</div>
				<div class="col col-4">
					<img src="/static/img/usa-flag.svg" width="190" class="anim-zoom-in-out top-m-space" />
					<h4 class="sekunda-font dark-text top-s-space"><span class="red-text">prosperity largely</span><br/>because of their closeness to<br/>the world’s number one economy</h4>
					<h4 class="sekunda-font dark-text top-s-space right-text right-m-space">the least amount of<br/><span class="red-text">nutritional poverty</span><br/>at <span class="red-text">{{ datos.nutritional_poverty }}%</span><br/><span class="red-text">{{ datos.equity_poverty }}%</span> equity poverty
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>