<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="162">
	<div class="viewer">
		<section class="slide slide-162 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">SEL</h1>
			<h3 class="sekunda-font main-heading-text dark-text anim-text floating-text">WESTERN REGION</h3>

			<div class="info">
				<div class="vertical-align-container">
					<div class="tabcell">
						<h4 class="sekunda-font red-text text-size-3">middle class</h4>
						<h4 class="sekunda-font dark-text">2002 - <span class="red-text">{{ datos.middle_class_2002 }}</span></h4>
						<h4 class="sekunda-font dark-text">2016 - to <span class="red-text">{{ datos.to_2016 }}%</span></h4>
						<h4 class="sekunda-font dark-text">this has increased the wealth<br/>inequality of the state.</h4>
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>For a long time, it was believed that Guadalajara was a balanced city that did not suffer from the large concentration of wealth that other cities did. Despite not having access to the finer details of the urban zone, the Guadalajara Metropolitan Zone (ZMG) masses together 65% of the population of the state. That is why state-wide data can be interpreted as city level data. The Economic and Social Council of Jalisco (CESJAL) has noticed the middle class is weakening. In 1996, one out of every two pesos was found in the pocket of a middle-class family, nowadays that wealth has been reduced up to 40%. The only social classes that have managed to grow are the 20% poorest and the 10% richest. In Jalisco wealth is increasingly found in a small amount of hands, unlike the past.</p>
					<p>According to a CESJAL study that was done on a national level, the middle class went from having 40% of the wealth to having 43% after a fourteen-year period, this has increased the wealth inequality of the state.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>