<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="163">
	<div class="viewer">
		<section class="slide slide-163 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">SEL</h1>
			<h3 class="sekunda-font main-heading-text dark-text anim-text floating-text">WESTERN REGION</h3>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The National Population Council recently disclosed the 2015 Marginalization Index, based on results obtained by the National Geography and Statistics Institute (INEGI) by means of the Intercensal Population Survey. In this recent survey, which results essential to the budget, since based on it is the formula for distribution of the resources of the “Ramo 33”, the five entities with the worst indicators are, once again: Guerrero, as the state with the greatest marginalization in the country; Chiapas, in second place; Oaxaca.</p>
					<p>The enclaves with the greatest marginalization are also enclaves with high poverty and inequality; according to data from the Coneval , in 2014 76.2% of the population of Chiapas were poor; in Oaxaca it was 66.8% of the population, and in Guerrero 65.2%</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>