<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="164">
	<div class="viewer">
		<section class="slide slide-164 yellow-bg">

			<h4 class="text-size-3 dark-text sekunda-font center-text top-m-space">inequality, high poverty AND marginalization</h4>

			<div class="clearfix center-text top-m-space wrapper-poor">
				<div class="col col-4">
					<h4 class="text-size-3 dark-text sekunda-font center-text">Guerrero</h4>
					<img src="/static/img/164-map-1.svg" width="60%" class="top-m-space" />
                    <h3 class="white-text sekunda-font guerrero-txt" >{{ datos.guerrero }}%</h3>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 dark-text sekunda-font center-text">Oaxaca</h4>
					<img src="/static/img/164-map-2.svg" width="60%" class="top-m-space" />
                    <h3 class="white-text sekunda-font oaxaca-txt">{{ datos.oaxaca }}%</h3>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 dark-text sekunda-font center-text">Chiapas</h4>
					<img src="/static/img/164-map-3.svg" width="60%" class="top-m-space" />
                    <h3 class="white-text sekunda-font chiapas-txt">{{ datos.chiapas }}%</h3>
				</div>
			</div>

			<h4 class="text-size-3 dark-text sekunda-font center-text top-m-space">of the population are poor</h4>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE{{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>