<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="165" class="red-bg">
	<div class="viewer" style="height: 800px!important;">
		<section class="slide slide-165 red-bg" style="padding-top: 120px;!important;">
			<h1 class="center-text sekunda-font white-text main-heading-text mb-none top-xl-space anim-text">EATING HABITS</h1>
			<div class="button-box-container center-text">
				<a href="/web/166.html" class="button-box button-box-3 sekunda-font red-text">MEXICAN FOOD GENERALS</a>
				<a href="/web/182.html" class="button-box button-box-3 sekunda-font red-text">EATING HABITS BY REGION</a>
			</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>