<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="167">
	<div class="viewer">
		<section class="slide slide-167 yellow-bg">
			<div class="clearfix">
				<div class="col col-6">
					<h4 class="text-size-3 sekunda-font dark-text left-space top-s-space">Food tastes better<br/>when it goes <span class="red-text">with something</span></h4>
				</div>
				<div class="col col-6">
					<h4 class="text-size-3 sekunda-font dark-text right-text right-space top-s-space">Food `<span class="red-text">serves more</span>´<br/>if it goes with something</h4>
				</div>
				<div class="col col-1"></div>
				<div class="col col-10">
					<div class="clearfix top-s-space">
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-1.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-2.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-3.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-4.jpg" />
							</a>
						</div>
					</div>
				</div>
				<div class="col col-1"></div>
				<div class="col col-12">
					<h4 class="text-size-3 sekunda-font dark-text center-text top-s-space">Food with <span class="red-text">siders</span> looks nicer</h4>
				</div>
				<div class="col col-1"></div>
				<div class="col col-10">
					<div class="clearfix top-s-space">
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-5.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-6.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-7.jpg" />
							</a>
						</div>
						<div class="col col-3">
							<a class="paper-menu-tile-red" href="#">
								<img src="/static/img/167-img-8.jpg" />
							</a>
						</div>
					</div>
				</div>
				<div class="col col-1"></div>
				<div class="col col-12">
					<h4 class="text-size-3 sekunda-font dark-text center-text top-s-space">We have <span class="red-text">dishes, full meals and starters</span> mainly made of corn or bread</h4>
				</div>
			</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>