<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="168">
	<div class="viewer">
		<section class="slide slide-168 yellow-bg">


			<div class="floating-tile">
				<img src="/static/img/168-cable.svg" width="600" class="cable" />
				<a class="paper-menu-tile-red" href="#">
					<img src="/static/img/168-tile-img.jpg" width="350" />
				</a>
			</div>

			<h4 class="sekunda-font dark-text text-size-3 left-space top-s-space">To any Mexican,<br/>a freshly made <span class="red-text">tortilla</span><br/>represents the ideal<br/>of a <span class="red-text">good meal</span></h4>

			<h4 class="dark-text sekunda-font top-s-space left-space">Made with<br/>the freshest ingredients.</h4>

			<div class="clearfix">
				<div class="col col-4">
					<h4 class="sekunda-font dark-text text-size-3 left-space top-s-space"><span class="red-text">No Mexican can resist the soft texture and the taste of a</span> tortilla just out of the ‘comal’ (grill).</h4>
				</div>
				<div class="col col-4">
					<h4 class="dark-text sekunda-font top-l-space left-space">Made in the best possible way, ‘by hand.’</h4>
				</div>
				<div class="col col-4">
					<h4 class="dark-text sekunda-font top-l-space left-space">Made to enjoy more our combinations.</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>