<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="169">
	<div class="viewer">
		<section class="slide slide-169 yellow-bg">

			<h4 class="sekunda-font dark-text top-m-space center-text text-size-3">In Mexico, there are a<br/><span class="red-text">lots of ways of eating corn.</span></h4>
			<div class="clearfix center-text top-s-space">
				<img src="/static/img/21-maiz.svg" width="95" class="float-anim" />
			</div>

			<img src="/static/img/169-img-1.png" class="floating-img img-a anim-zoom-in-out" />
			<img src="/static/img/169-img-2.png" class="floating-img img-b anim-zoom-in-out delay_02" />
			<img src="/static/img/169-img-3.png" class="floating-img img-c anim-zoom-in-out delay_04" />
			<img src="/static/img/169-img-4.png" class="floating-img img-d anim-zoom-in-out delay_06" />
			<img src="/static/img/169-img-5.png" class="floating-img img-e anim-zoom-in-out delay_08" />
			<img src="/static/img/169-img-6.png" class="floating-img img-f anim-zoom-in-out delay_1" />
			<img src="/static/img/169-img-7.png" class="floating-img img-g anim-zoom-in-out delay_02" />

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>