<!DOCTYPE html>
<html>
<head>    {% load staticfiles %}

    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body data-slide="17" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-17 yellow-bg">

        <h3 class="sekunda-font main-heading-text center-text dark-text top-l-space">The <span class="red-text">population growth</span>
            in CD.MX. is constant and exponential.</h3>

        <div class="dark-bg-brand top-m-space">
            <img src="{% static '' %}img/17-img.svg" class="dark-brand-img left-space" align="left"/>
            <h3 class="marker center-text white-text sekunda-font left-space">CD.MX.</h3>
            <div class="brand-box-a">
                <img src="{% static '' %}img/h-m.svg" width="50" align="bottom"
                     class="top-s-space left-s-space right-s-space"/>
                <h3 class="dark-text sekunda-font inline-block">8 million</h3>
                <div class="clearfix"></div>
                <h2 class="sekunda-font red-text inline-block left-s-space right-s-space text-size-5">{{ datos.population_cdmx }}%</h2><h4
                    class="sekunda-font dark-text inline-block">of the entire<br/> country´s <span class="red-text">population.</span>
            </h4>
            </div>
            <div class="brand-box-b">
                <div class="clearfix top-xs-space"></div>
                <h2 class="sekunda-font red-text inline-block left-s-space right-s-space text-size-5">{{ datos.surface_cdmx }}%</h2><h4
                    class="sekunda-font dark-text inline-block">of the country´s<br/>total <span class="red-text">surface area.</span>
            </h4>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>With more than 23 million inhabitants, the metropolitan zone in the Valley of Mexico is one of the
                    most populated cities in the world: 1 out of 5 Mexicans lives there.</p>
                <p>Mexico City is the country’s capital and is located there. It has more than 8 million in habitants,
                    which represent 5% of the entire countries’ population. Despite its contrasts, it is an eclectic and
                    cosmopolitan city. Commerce is one of the main economic motors in this city, a city which is also
                    one of the biggest in the world.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>