<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="170">
	<div class="viewer">
		<section class="slide slide-170 yellow-bg">


			<h2 class="sekunda-font dark-text top-m-space center-text">the tortilla ritual</h2>

			<div class="clearfix">
				<div class="col col-8">
					<h3 class="text-size-3 sekunda-font dark-text left-space top-m-space">the <span class="red-text">contact with the hands</span><br/>is essential to trigger the enjoyment</h3>
					<h4 class="dark-text sekunda-font left-space top-s-space">
						<span class="red-text">Freedom to handle the tortillas</span> is a distinctive feature of Mexican meals.<br/>
						It is <span class="red-text">a must</span> for all the daily, simple foods.<br/>
						Fundamental element of most <span class="red-text">street foods.</span><br/>
						<span class="red-text">Exclusion element of formal meals</span> and most foreign cuisines.
					</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/tortilla.svg" width="90%" class="top-m-space" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>