<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="171">
	<div class="viewer">
		<section class="slide slide-171 yellow-bg">

			<h3 class="sekunda-font dark-text text-size-3 top-m-space center-text">We learn to value food with the eating ritual<br/>of <span class="red-text">tortillas, tostadas, gorditas, quesadillas...</span></h3>

			<div class="clearfix top-m-space">
				<div class="col col-5 right-text">
					<img src="/static/img/171-img.png" width="" />
				</div>
				<div class="col col-7">
					<h3 class="text-size-3 dark-bg-text sekunda-font yellow-text left-space">There is no good meal with bad tortillas…</h3>
					<h4 class="sekunda-font dark-text left-space top-s-space">
						The <span class="red-text">carrier represents the freshness</span> of the meal.<br/><span class="red-text">Seeing</span> the preparation of the carrier <span class="red-text">guarantees</span> the freshness.
					</h4>
					<h4 class="sekunda-font dark-text left-space top-s-space">
						<img src="/static/img/171-img-a.png" align="left" class="right-s-space" />We <span class="red-text">even</span> test the freshness of tortillas<br/>at a <span class="red-text">tortilleria</span> by trying them on the spot.
					</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>