<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="172">
	<div class="viewer">
		<section class="slide slide-172 yellow-bg">

			<h3 class="sekunda-font dark-text text-size-3 top-s-space center-text">How would Mexican food be</h3>
			<h2 class="red-text sekunda-font center-text">without meat <span class="dark-text">or</span> with the minimum?</h2>
			<div class="clearfix center-text">
				<h3 class="text-size-3 dark-bg-text sekunda-font yellow-text">Just vegetables or other ingredient</h3>
				<br/>
				<h3 class="text-size-3 dark-bg-text sekunda-font yellow-text">They are full dishes, meals, starters or drinks</h3>
			</div>

			<div class="clearfix top-m-space center-text imgs">
				<div class="col col-4"><img src="/static/img/172-img-1.png" /></div>
				<div class="col col-4"><img src="/static/img/172-img-2.png" /></div>
				<div class="col col-4"><img src="/static/img/172-img-3.png" /></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>