<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="173">
	<div class="viewer">
		<section class="slide slide-173 yellow-bg">

			<h3 class="sekunda-font dark-text text-size-3 top-s-space center-text">Its nutritional value is justified upon a long history of a daily diet</h3>
			<h4 class="red-text sekunda-font center-text">(that does not rely on animal protein)</h4>
			
			<div class="clearfix top-m-space imgs">
				<div class="col col-6">
					<img src="/static/img/173-img-1.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Chia</h2>
					<h4 class="dark-text sekunda-font">Excellent source of fiber, antioxidants, calcium, proteins, good source of energy and aids digestion</h4>
					<div class="clearfix"></div>
					<img src="/static/img/173-img-2.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Amaranth</h2>
					<h4 class="dark-text sekunda-font">Contains minerals, fiber, calcium and iron.</h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/173-img-3.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Squash</h2>
					<h4 class="dark-text sekunda-font">It is a good source of fiber, calcium, magnesium, potassium and essential fatty acids like Omega 3</h4>
					<div class="clearfix"></div>
					<img src="/static/img/173-img-4.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Cacao</h2>
					<h4 class="dark-text sekunda-font">It is a source of energy and serotonin</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>