<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="174">
	<div class="viewer">
		<section class="slide slide-174 yellow-bg">

			<h3 class="sekunda-font dark-text text-size-3 top-s-space center-text">Its nutritional value is justified upon a long history of a daily diet</h3>
			<h4 class="red-text sekunda-font center-text">(that does not rely on animal protein)</h4>
			
			<div class="clearfix top-m-space imgs">
				<div class="col col-6">
					<img src="/static/img/174-img-1.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Avocado</h2>
					<h4 class="dark-text sekunda-font">Anti-aging and strengthens bones.</h4>
					<div class="clearfix"></div>
					<img src="/static/img/174-img-2.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Chili</h2>
					<h4 class="dark-text sekunda-font">Antiseptic, anti-inflammatory, boosts immune system and anti-cancer.</h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/174-img-3.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Beans</h2>
					<h4 class="dark-text sekunda-font">High in calcium, fiber, vitamin B, iron, potassium and phosphorus.</h4>
					<div class="clearfix"></div>
					<img src="/static/img/174-img-4.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Tomato</h2>
					<h4 class="dark-text sekunda-font">Most used vegetable in the world. Has minerals and vitamins.</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>