<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="175">
	<div class="viewer">
		<section class="slide slide-175 yellow-bg">

			<h3 class="sekunda-font dark-text text-size-3 top-s-space center-text">Its nutritional value is justified upon a long history of a daily diet</h3>
			<h4 class="red-text sekunda-font center-text">(that does not rely on animal protein)</h4>
			
			<div class="clearfix top-m-space imgs">
				<div class="col col-6">
					<img src="/static/img/175-img-1.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Cactus</h2>
					<h4 class="dark-text sekunda-font">It is traditionally the most eaten food by Mexicans. It has iron, magnesium, sodium, potassium, calcium and is low fat.</h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/175-img-2.png" class="bottom-l-space right-s-space left-space" align="left" />
					<h2 class="sekunda-font red-text">Corn</h2>
					<h4 class="dark-text sekunda-font">It provides 10% of the protein required by the human body. High in fiber, fights cholesterol.</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>