<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="176">
	<div class="viewer">
		<section class="slide slide-176 yellow-bg">
			<h2 class="center-text sekunda-font dark-text main-heading-text anim-text top-s-space">What <span class="red-text">stews</span> does a Mexican prefer?</h2>
			<div class="clearfix center-text img-wall">
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">PORK RINDS IN GREEN SAUCE</h4>
					<img src="/static/img/176-img-1.png" width="205" />
				</div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">PORK RINDS IN RED SAUCE</h4>
					<img src="/static/img/176-img-2.png" width="205" />
				</div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">CHICKEN WITH CHIPOTLE CREAM</h4>
					<img src="/static/img/176-img-3.png" width="205" />
				</div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">BEEF OF SOUP</h4>
					<img src="/static/img/176-img-4.png" width="205" />
				</div>
				<div class="col col-4">
					<img src="/static/img/176-img-5.png" width="205" />
					<h4 class="sekunda-font dark-text">PORK IN ADOBO</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/176-img-6.png" width="205" />
					<h4 class="sekunda-font dark-text">MOLE DE OLLA</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/176-img-7.png" width="205" />
					<h4 class="sekunda-font dark-text">PICADILLO</h4>
				</div>
			</div>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>