<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="178">
	<div class="viewer">
		<section class="slide slide-178 yellow-bg">

			<h2 class="center-text sekunda-font dark-text main-heading-text anim-text top-s-space">What <span class="red-text">quesadillas</span> does a Mexican prefer?</h2>
			<div class="clearfix center-text img-wall top-s-space">
				<div class="col col-1-5"></div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">CHICKEN QUESADILLA</h4>
					<img src="/static/img/178-img-1.png" width="205" />
				</div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">CHICKEN QUESADILLA</h4>
					<img src="/static/img/178-img-2.png" width="205" />
				</div>
				<div class="col col-3">
					<h4 class="sekunda-font dark-text">CHEESE QUESADILLA</h4>
					<img src="/static/img/178-img-3.png" width="205" />
				</div>
				<div class="col col-1-5"></div>
				<div class="clearfix top-s-space">.</div>
				<div class="col col-3"></div>
				<div class="col col-3">
					<img src="/static/img/178-img-4.png" width="205" />
					<h4 class="sekunda-font dark-text">PUMPKIN FLOWER QUESADILLA</h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/178-img-5.png" width="205" />
					<h4 class="sekunda-font dark-text">QUESADILLA DE HUITLACOCHE</h4>
				</div>
				<div class="col col-3"></div>
			</div>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>