<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="18"   class="top-red-brand">
<div class="viewer">
    <section class="slide slide-18 yellow-bg">

        <h2 class="sekunda-font main-heading-text left-space red-text top-m-space">Central Region</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text mt-none">Metropolitan Area VDM</h3>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>

        <div class="area-a center-text">
            <h3 class="white-text sekunda-font top-s-space text-size-3">It provides</h3>
            <h1 class="red-text sekunda-font mt-none">{{ datos.metropolitan_area_vdm }}%</h1>
            <h3 class="white-text sekunda-font mt-none text-size-3">of the national GDP</h3>
        </div>

        <div class="area-b">
            <h3 class="yellow-text sekunda-font mt-none text-size-3 area-b-text">there are not just many jobs but a lot
                of services,<br/>government institutions and transnational corporations.</h3>
        </div>

        <img src="/static/img/bird.svg" class="bird"/>

        <img class="cloud cloud-1" src="/static/img/cloud-a.svg"/>
        <img class="cloud cloud-2" src="/static/img/cloud-b.svg"/>
        <img class="cloud cloud-4" src="/static/img/cloud-d.svg"/>
        <img class="cloud cloud-5" src="/static/img/cloud-e.svg"/>
        <img class="cloud cloud-6" src="/static/img/cloud-f.svg"/>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>