<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="180">
	<div class="viewer">
		<section class="slide slide-180 yellow-bg">

			
			<div class="clearfix top-m-space imgs">
				<div class="col col-5">
					<h2 class="sekunda-font dark-text left-space">The Mexican food is almost <span class="red-text">always served with salsa.</span></h2>
					<h3 class="text-size-3 sekunda-font dark-text left-space top-s-space"><span class="red-text">the taste of a salsa can change</span> with a single ingredient, An extra chili, or with a different process...</h3>
				</div>
				<div class="col col-7">
					<h3 class="sekunda-font red-text left-space text-size-4">TYPES OF SALSAS / CHILI</h3>
					<div class="clearfix">
						<div class="col col-6">
							<img src="/static/img/180-img-1.png" align="top" class="top-s-space left-s-space" />
							<h4 class="sekunda-font yellow-text red-bg-text top-s-space text-size-3">Grilled</h4>
							<ul class="sekunda-font dark-text left-m-space text-size-2">
								<li>Spicier</li>
								<li>Salsa for the table</li>
								<li>Better taste</li>
							</ul>
							<div class="clearfix"></div>
							<img src="/static/img/180-img-2.png" align="top" class="top-s-space left-s-space" />
							<h4 class="sekunda-font yellow-text red-bg-text top-s-space text-size-3">Fried</h4>
							<ul class="sekunda-font dark-text left-m-space text-size-2">
								<li>Convenient</li>
								<li>Better taste</li>
								<li>Lasts longer</li>
								<li>Spicier</li>
								<li>Salsa for the table</li>
							</ul>
						</div>
						<div class="col col-6">
							<img src="/static/img/180-img-3.png" align="top" class="top-s-space left-s-space" />
							<h4 class="sekunda-font yellow-text red-bg-text top-s-space text-size-3">Boiled</h4>
							<ul class="sekunda-font dark-text left-m-space text-size-2">
								<li>Convenient</li>
								<li>Lasts longer</li>
								<li>More for stews</li>
							</ul>
							<div class="clearfix"></div>
							<img src="/static/img/180-img-4.png" align="top" class="top-s-space left-s-space" />
							<h4 class="sekunda-font yellow-text red-bg-text top-s-space text-size-3">Raw</h4>
							<ul class="sekunda-font dark-text left-m-space text-size-2">
								<li>Convenient</li>
								<li>Lasts longer</li>
								<li>Salsa for tacos</li>
								<li>(less refined)</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>