<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="181">
	<div class="viewer">
		<section class="slide slide-181 yellow-bg">


			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/181-img.png" class="dark-brand-img left-space right-s-space" align="left" />
				<h2 class="top-s-space">&nbsp;</h2>
				<h2 class="sekunda-font red-text">Fried food</h2>
				<h4 class="yellow-text sekunda-font text-size-3">ARE also elemental in the Mexican diet.</h4>
				<h4 class="yellow-text sekunda-font text-size-2 top-s-space">Although we assume all Mexicans tolerate the ‘greasy’ taste, it is in principle the first taste disclaimer:</h4>
			</div>

			<div class="clearfix center-text top-s-space">
				<div class="col col-4">
					<h4 class="sekunda-font dark-text">If you <span class="red-text">cannot tolerate</span> greasy,<br/>you do <span class="red-text">not learn</span><br/><span class="red-text">to eat</span> Mexican.</h4>
				</div>
				<div class="col col-4">
					<h4 class="sekunda-font dark-text">If you do <span class="red-text">not accept</span> the greasy foods,<br/>you <span class="red-text">never acquire</span> the<br/>taste for fried foods.</h4>
				</div>
				<div class="col col-4">
					<h4 class="sekunda-font dark-text">If you do <span class="red-text">not like</span> greasy foods,<br/>you do <span class="red-text">not like</span> foods<br/>with <span class="red-text">intense flavor.</span></h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>