<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="186">
	<div class="viewer">
		<section class="slide slide-39 yellow-bg">

			<h2 class="center-text sekunda-font red-text main-heading-text anim-text top-m-space">Typical foods</h2>
			<img src="/static/img/cable.svg" class="cable top-l-space" />
			<div class="relative tiles-cont">
				<a class="paper-menu-tile valerie-font white-text tile-1" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Sopes</h4><img src="/static/img/186-img-a.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-2" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Tortas</h4><img src="/static/img/186-img-b.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-3" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Tacos</h4><img src="/static/img/186-img-c.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-4" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Tacos al pastor</h4><img src="/static/img/186-img-d.png" /></span></a>
			</div>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>