<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="188">
	<div class="viewer">
		<section class="slide slide-188 yellow-bg">

			<h4 class="sekunda-font red-text top-m-space center-text text-size-3">Mexican´s palate</h4>

			<div class="clearfix top-m-space center-text top-m-space">
				<div class="col col-4">
					<img src="/static/img/188-img-a.png" />
					<div class="clearfix"></div>
					<img src="/static/img/steak.svg" class="top-s-space" width="110" />
					<h4 class="sekunda-font dark-text text-size-3 top-s-space">animal protein</h4>
					<h4 class="sekunda-font red-text">high frequency</h4>
				</div>
				<div class="col col-4 relative">
					<img src="/static/img/188-flames.svg" class="flames float-anim-reverse" width="90" />
					<img src="/static/img/grill.svg" width="" />
				</div>
				<div class="col col-4 relative">
					<img src="/static/img/cabrito.svg" width="80%" />
					<h4 class="sekunda-font dark-text text-size-3 top-s-space">cabrito</h4>
					<h4 class="sekunda-font red-text">grilled, spiced<br/>intense condiments</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The inhabitants of this region are avid patrons of fried food, made up mainly of corn. The tendency is to eat foods with a high caloric intake, that fill you up, and that have diverse textures all leaning towards salty flavors.</p>
					<p>It is a habit of many residents to feed themselves with corn based foods, or accompanied by corn or served with corn: tamales, tacos or tostadas are prime examples. In the capital, for example, they serve foods that combine corn with corn, like the traditional tamal sandwich, better known as the Guajolota (or big turkey).</p>
					<p>The drinks that utilize corn as an ingredient are also very popular in this area: champurrado or atole. Other drinks that are enjoyed are fermented products made from agave or fruits, like pulque or tepache.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>