<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="189">
	<div class="viewer">
		<section class="slide slide-189 yellow-bg">


			<div class="clearfix top-s-space">
				<div class="col col-6">
					<h2 class="sekunda-font red-text left-space">Mexican´s palate</h2>
					<h3 class="dark-text sekunda-font left-space top-s-space">Stews and other dishes</h3>
					<h4 class="red-text sekunda-font left-space">strong and salty flavors</h4>
					<img src="/static/img/pig-c.svg" width="260" class="left-space float-anim top-s-space" />
					<h4 class="dark-bg-text yellow-text sekunda-font left-space top-s-space">being preferably accompanied<br/>by flour tortillas.</h4>
					<img src="/static/img/189-img-a.png" align="bottom" />
				</div>
				<div class="col col-6">
					<img src="/static/img/stews.svg" width="260" class="left-space float-anim top-s-space delay_02" />
					<div class="clearfix"></div>
					<h3 class="dark-text sekunda-font left-space inline-block">Even Snacks</h3>
					<img src="/static/img/189-img-b.png" align="bottom" class="top-m-space" />
					<h4 class="red-text sekunda-font left-space">dried beef, cooked beef, fried pig-skin<br/>or flour snacks.</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>