<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="190">
	<div class="viewer">
		<section class="slide slide-39 yellow-bg">

			<h2 class="center-text sekunda-font red-text main-heading-text anim-text top-m-space">Typical food in Monterrey</h2>
			<img src="/static/img/cable.svg" class="cable top-m-space" />
			<div class="relative tiles-cont tiles-3">
				<a class="paper-menu-tile valerie-font white-text tile-1" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Arrachera</h4><img src="/static/img/190-img-1.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-2" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Capirotada</h4><img src="/static/img/190-img-2.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-3" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Glorias</h4><img src="/static/img/190-img-3.png" /></span></a>
			</div>
			<img src="/static/img/cable.svg" class="cable top-m-space" />
			<div class="relative tiles-cont tiles-2">
				<a class="paper-menu-tile valerie-font white-text tile-1" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Machaca with eggs</h4><img src="/static/img/190-img-4.png" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-2" href="#"><span><h4 class="dark-text sekunda-font tile-legend">Cabrito al pastor</h4><img src="/static/img/190-img-5.png" /></span></a>
			</div>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>