<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="197">
	<div class="viewer">
		<section class="slide slide-197 yellow-bg">


			<h2 class="sekunda-font red-text center-text top-s-space">Mexican´s palate</h2>
			<div class="clearfix top-s-space">
				<div class="col col-6 right-text">
					<h4 class="text-size-3 dark-text sekunda-font right-space">salty AND spicY food</h4>
					<h3 class="red-text sekunda-font right-space">tortas ahogadas</h3>
					<h4 class="dark-text sekunda-font right-space">(drowned sandwiches)</h4>
					<img src="/static/img/bread-sauce.svg" width="240" class="right-space" />
				</div>
				<div class="col col-6">
					<h4 class="text-size-3 dark-text sekunda-font right-space">dishes with sauce or in broth like</h4>
					<h3 class="red-text sekunda-font right-space">birria, chicharroón en salsa,<br/>or consomme</h3>
					<div class="right-text right-space">
						<img src="/static/img/consome.svg" width="160" class="right-space" />
					</div>
				</div>
			</div>

			<div class="clearfix">
				<div class="col col-4"></div>
				<div class="col col-4">
					<img src="/static/img/tequila.svg" width="80" align="left" />
					<h2 class="sekunda-font red-text inline-block">Tequila</h2><br/>
					<h4 class="dark-text sekunda-font inline-block">traditional alcoholic drink </h4>
				</div>
				<div class="col col-4"></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The people’s palate in this region prefer salty food that has a spicy touch, although there are also local dishes that are famous for their level of spiciness, like tortas ahogadas (drowned sandwiches).</p>
					<p>There is a preference for dishes with sauce or in broth like: birria, chicharrón en salsa, or consomme. The famous tortas ahogadas (drowned sandwiches) have that name because they are served in a tomato sauce/broth with different level of spiciness to choose from.</p>
					<p>They have a particular kind of bread, called “birote salado”, and the reason why it is different than the center of the country’s “bolillo” bread is, allegedly, the altitude. It is saltier and crunchier. With this “birote salado” they prepare “tortas” and “lonches” (big sandwiches) and the favorites are those drenched in tomato sauce and sour cream.</p>
					<p>The traditional alcoholic drink is Tequila; its name comes from the village where it was originally produced, Tequila, Jalisco, where they still make it.</p>
					<p>They also like and drink fermented corn beverages.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>