<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body data-slide="2">
<div class="viewer">
    <section class="slide slide-2 yellow-bg">
        <h2 class="center-text sekunda-font dark-text main-heading-text anim-text">MEXICO AND MEXICAN CONSUMER</h2>
        <img src="{% static 'img/bird.svg' %}" class="bird"/>
        <img src="{% static 'img/cable.svg' %}" class="cable"/>
        <a class="paper-menu-tile valerie-font white-text tile-1" href="/web/3.html"><span>Country<br/>Overview</span></a>
        <a class="paper-menu-tile valerie-font white-text tile-2" href="/web/93.html"><span>Population</span></a>
        <a class="paper-menu-tile valerie-font white-text tile-3" href="/web/165.html"><span>Eating<br/>Habits</span></a>
        <a class="paper-menu-tile valerie-font white-text tile-4" href="/web/211.html"><span>HSY<br/>Categories</span></a>

        <img class="cloud cloud-1" src="{% static 'img/cloud-a.svg' %}"/>
        <img class="cloud cloud-2" src="{% static 'img/cloud-b.svg' %}"/>
        <img class="cloud cloud-3" src="{% static 'img/cloud-c.svg' %}"/>
        <img class="cloud cloud-4" src="{% static 'img/cloud-d.svg' %}"/>
        <img class="cloud cloud-5" src="{% static 'img/cloud-e.svg' %}"/>
        <img class="cloud cloud-6" src="{% static 'img/cloud-f.svg' %}"/>
    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>