<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="20"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-20 yellow-bg">

        <h2 class="sekunda-font main-heading-text left-space red-text top-m-space">Central Region</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text mt-none">Metropolitan Area VDM</h3>
        <h4 class="dark-text sekunda-font left-space top-s-space">all the ecosystems that existed<br/>in the Valley of
            Mexico in <span class="red-text">danger.</span></h4>
        <h4 class="dark-text sekunda-font floating-text-a">Urban zone</h4>
        <h4 class="dark-text sekunda-font floating-text-b">Agricultural<br/>communities</h4>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
      {{ source }}
        </div>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>