<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="205">
	<div class="viewer">
		<section class="slide slide-205 yellow-bg">


			<h2 class="sekunda-font red-text center-text top-s-space">Mexican´s palate</h2>
			<div class="clearfix top-s-space">
				<div class="col col-3 right-text">
					<img src="/static/img/piramid-dark.svg" width="95" />
				</div>
				<div class="col col-6 center-text">
					<h4 class="text-size-3 red-text sekunda-font">Mayan cuisine + Spanish ingredients</h4>
					<h4 class="dark-text sekunda-font">diverse textures and flavors<br/>bittersweet palate</h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/spain-flag.svg" width="130" />
				</div>
			</div>

			<div class="clearfix center-text top-s-space">
					<img src="/static/img/205-img.png" align="top" />
					<h1 class="sekunda-font dark-text inline-block">Recaudos</h1><br/>
					<h4 class="dark-text sekunda-font inline-block">many condiments and ground chili peppers mixed into a paste,<br/>and those are the basiCs for many Yucatecan dishes. </h4>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>