<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="207">
	<div class="viewer">
		<section class="slide slide-207 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-m-space">Cochinita pibil</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/207-img.png" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">It is a mixed dish, although its origin is pre-Hispanic and was just basically pork with a achiote crust/sauce. It is prepared in a banana leaf, and inside an earth oven. It is accompanied by purple onion, a habanero sauce and is generally served in tacos or sandwiches.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>