<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="21"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-21 yellow-bg">


			<h4 class="dark-text sekunda-font floating-text-a">Urban zone</h4>
			<h4 class="dark-text sekunda-font floating-text-b">Agricultural communities</h4>

			<div class="floating-items clearfix">
				<img src="/static/img/21-maiz.svg" class="maiz" />
				<img src="/static/img/21-frijol.svg" class="frijol" />
				<img src="/static/img/21-nopal.svg" class="nopal" />
				<img src="/static/img/21-trigo.svg" class="trigo" />
				<img src="/static/img/21-flor.svg" class="flor" />
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>