<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="210">
	<div class="viewer">
		<section class="slide slide-210 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-m-space">Papadzules</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/210-img.png" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">They are a type of enchiladas prepared with a special seed sauce with squash and a herb called epazote. The tortillas are filled with hardboiled eggs and are bathed in tomato sauce. The filling can be interchanged with chicken, cheese or pork.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>