<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="211" class="dark-bg">
	<div class="viewer">
		<section class="slide slide-93 dark-bg">
			<h1 class="center-text sekunda-font yellow-text main-heading-text mb-none top-xl-space anim-text">HSY Categories</h1>
			<div class="button-box-container center-text">
				<a href="/web/212.html" class="button-box btn-box btn-a sekunda-font dark-text">Chocolates</a>
				<a href="/web/229.html" class="button-box btn-box btn-b sekunda-font dark-text">SPICY CANDY</a>
				<a href="/web/243.html" class="button-box btn-box btn-c sekunda-font dark-text">Flavored milk</a><br/>
				<a href="/web/253.html" class="button-box btn-box btn-d sekunda-font dark-text top-s-space">OTHER CATEGORIES</a>
			</div>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>