<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="213">
	<div class="viewer">
		<section class="slide slide-213 yellow-bg">

			<h2 class="sekunda-font dark-text left-space top-s-space">annually consumption</h2>
			<h2 class="sekunda-font red-text left-space">per person</h2>

			<div class="clearfix">
				<div class="col col-5"></div>
				<div class="col col-5">
					<div class="choco-bars bars-3">
						<div class="bar" data-val="11.9">
							<span class="bar-legend">Austria</span>
							<span class="bar-value">{{ datos.austria }} K</span>
						</div>
						<div class="bar" data-val="8.8">
							<span class="bar-legend">Switzerland </span>
							<span class="bar-value">{{ datos.switzerland }}K</span>
						</div>
						<div class="bar" data-val="0.75">
							<span class="bar-legend">MEXICO </span>
							<span class="bar-value">{{ datos.mexico }} K</span>
						</div>
					</div>
				</div>
				<div class="col col-2">
					<img src="/static/img/people-think.svg" width="80%" class="float-anim-reverse" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Chocolate consumption in Mexico is barely 750g per person annually, due to myths that denounce it as a cause of obesity weight-gain, despite its gastronomic, economic, social and cultural importance.</p>
					<p>José Ramón Fernández Martínez-Gallo, president of the National Chocolate, Sweets and Similar Products Manufacturers Association (Aschoco) pointed out that that figure is very low compared to other countries like Switzerland and Austria where chocolate consumption is at 11.9 and 8.8 kilograms respectively.</p>
					<p>He said that Mexico is one of the few countries with the climate where cacao can be grown; nevertheless, it takes up eleventh place in the world-wide production of cacao with around 22,000 tons with a value of 22,000 million pesos.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>