<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="214">
	<div class="viewer">
		<section class="slide slide-214 yellow-bg">


			<div class="clearfix center-text top-m-space">
				<div class="col col-3">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 182.4 187.8" style="enable-background:new 0 0 182.4 187.8; width: 70%;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#6E4012;} .st1{fill:#FFC900;} .st2{font-family:'Sekunda';} .st31{font-size:50px;} .st3{font-size:59.1152px;} .st4{fill:#FFFFFF;} .st5{font-size:31.4197px;}
						</style>
						<path class="st0" d="M144.2,70c-1.9-5.6-3.6-11.3-3.9-17.2c-0.1-1.3-0.1-2.9-1.2-3.7c-0.8-0.6-1.8-0.6-2.8-0.6
							c-8.1,0.1-16.2,0.2-24.3,0.4c0.2-0.3,0.5-0.5,0.7-0.8c1.2-1.3,2.4-2.6,3.4-4.2c1.6-2.7,2.3-5.9,2.7-9c0.5-4.6,0.3-9.3-0.8-13.8
							c-0.6-2.5-1.4-5-2.8-7.3c-3.1-5.3-8.7-8.8-13.8-11.5c-2.6-1.3-5.4-2.1-8.2-2.3C78.8-0.8,67.8,4.8,62.6,12.7
							c-5.3,8-6.7,18.5-3.7,27.6c0.7,2.2,1.7,4.3,3.1,6.1c0.4,0.4,0.7,0.9,1.2,1.3c-7.7,0-15.4,0.7-23.2,1.3c-3.3,0.3-6,2.9-6.2,6.3
							c-2.6,37.6-15.6,73.7-28.5,109.2c-1.6,4.4-3.2,8.8-4.8,13.2c-1.7,4.6,1.8,9.4,6.7,9.3c6-0.2,12.1,0.2,18.1-0.2
							c8.2-0.5,16.3-0.7,24.5-1c10.3-0.4,20.6,0,30.9-0.1c9.9-0.1,19.8,0.1,29.8,0.5c10.6,0.4,21.2,0.6,31.7,1.5
							c11.1,0.9,22.3-0.7,33.3-0.5c4.6,0.1,7.9-4.3,6.6-8.7C171.4,141.7,156.3,106.3,144.2,70z M73.9,28.1c0.1-2.5,0.2-5.1,1.4-7.3
							c4.9-9.2,17.7-8.7,24.3-2c4.3,4.3,6.6,10.8,5,16.7c-0.4,1.5-1,2.9-2,4.1c-1.3,1.6-3.2,2.8-5.1,3.7C94,45,90,46.1,86.2,45.1
							c-2.6-0.6-4.8-2.2-6.9-3.8c-1.7-1.4-3.4-2.9-4.3-4.8C73.7,34,73.8,31,73.9,28.1z"/>
						<text transform="matrix(1 0 0 1 41.2893 127.7514)" class="st1 st2 st3">{{ datos.ghana }}</text>
						<text transform="matrix(1 0 0 1 72.5623 170.0805)" class="st4 st2 st5">TONS</text>
					</svg>
				</div>
				<div class="col col-3">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 182.4 187.8" style="enable-background:new 0 0 182.4 187.8; width: 70%;" xml:space="preserve">
						<path class="st0" d="M144.2,70c-1.9-5.6-3.6-11.3-3.9-17.2c-0.1-1.3-0.1-2.9-1.2-3.7c-0.8-0.6-1.8-0.6-2.8-0.6
							c-8.1,0.1-16.2,0.2-24.3,0.4c0.2-0.3,0.5-0.5,0.7-0.8c1.2-1.3,2.4-2.6,3.4-4.2c1.6-2.7,2.3-5.9,2.7-9c0.5-4.6,0.3-9.3-0.8-13.8
							c-0.6-2.5-1.4-5-2.8-7.3c-3.1-5.3-8.7-8.8-13.8-11.5c-2.6-1.3-5.4-2.1-8.2-2.3C78.8-0.8,67.8,4.8,62.6,12.7
							c-5.3,8-6.7,18.5-3.7,27.6c0.7,2.2,1.7,4.3,3.1,6.1c0.4,0.4,0.7,0.9,1.2,1.3c-7.7,0-15.4,0.7-23.2,1.3c-3.3,0.3-6,2.9-6.2,6.3
							c-2.6,37.6-15.6,73.7-28.5,109.2c-1.6,4.4-3.2,8.8-4.8,13.2c-1.7,4.6,1.8,9.4,6.7,9.3c6-0.2,12.1,0.2,18.1-0.2
							c8.2-0.5,16.3-0.7,24.5-1c10.3-0.4,20.6,0,30.9-0.1c9.9-0.1,19.8,0.1,29.8,0.5c10.6,0.4,21.2,0.6,31.7,1.5
							c11.1,0.9,22.3-0.7,33.3-0.5c4.6,0.1,7.9-4.3,6.6-8.7C171.4,141.7,156.3,106.3,144.2,70z M73.9,28.1c0.1-2.5,0.2-5.1,1.4-7.3
							c4.9-9.2,17.7-8.7,24.3-2c4.3,4.3,6.6,10.8,5,16.7c-0.4,1.5-1,2.9-2,4.1c-1.3,1.6-3.2,2.8-5.1,3.7C94,45,90,46.1,86.2,45.1
							c-2.6-0.6-4.8-2.2-6.9-3.8c-1.7-1.4-3.4-2.9-4.3-4.8C73.7,34,73.8,31,73.9,28.1z"/>
						<text transform="matrix(1 0 0 1 41.2893 127.7514)" class="st1 st2 st31">{{ datos.ivory_coast }}</text>
						<text transform="matrix(1 0 0 1 72.5623 170.0805)" class="st4 st2 st5">TONS</text>
					</svg>
				</div>
				<div class="col col-6 minimap">
					<div class="clearfix">
						<div class="col col-6">
							<h4 class="dark-text sekunda-font">Tabasco</h4>
							<h1 class="red-text sekunda-font top-s-space">{{ datos.tabasco }}%</h1>
						</div>
						<div class="col col-6">
							<h4 class="dark-text sekunda-font">Chiapas</h4>
							<h1 class="red-text sekunda-font top-s-space">{{ datos.chiapas }}%</h1>
						</div>
						<div class="col col-12 top-s-space">
							<h4 class="dark-text sekunda-font">Guerrero - Oaxaca - Veracruz<br/><span class="red-text">only 1%</span></h4>
						</div>
					</div>
				</div>
			</div>

			<div class="center-text">
				<img src="/static/img/214-img.svg" width="80%" />
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Countries like Ghana or the Ivory Coast generate 835,000 tons and 1,449,000 tons, respectively.</p>
					<p>In this country, Tabasco is the biggest producer, with 67% of the chocolate being produced there, followed by Chiapas with 31%, while Guerrero, Oaxaca and Veracruz represent only 1% of national production, despite having optimal conditions for the crop.</p>
					<p>65% of the formal chocolate making industry in this country belongs to only six companies, among them Nestle, mars, Turin and Bimbo, the last two of which are Mexican.</p>
					<p>Chocolate bars are the most consumed form of chocolate, and its growth rate is 3% while tabletop and powdered chocolate decreased by 5% and 1% respectively.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>