<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="215">
	<div class="viewer">
		<section class="slide slide-215 yellow-bg">


			<svg version="1.1" class="ship-a anim-left-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 287.5 191.3" style="enable-background:new 0 0 287.5 191.3; width: 250px;" xml:space="preserve">
				<style type="text/css"> .st0{fill:#6E4012;} .st1{fill:#FFC900;} .st2{fill:#E4294D;} .st3{font-family:'Sekunda';} .st4{font-size:121.0544px;} .st5{font-size:28.4092px;} </style>
				<path class="st0" d="M35,122.2c4.8,0,8.7,0,13.2,0c0-11.9,0-23.5,0-35.4c2.9,0,5.4,0,8.4,0c0,5.7,0,11.5,0,17.4
									c2.2,0,3.8,0,5.8,0c0.2-2.5,0.4-4.9,0.6-7.7c2.5-0.1,4.9-0.3,8-0.5c0-7.1,0-14.2,0-21.5c2.2-0.1,3.8-0.2,6-0.3
									c0,7.3,0,14.3,0,21.9c4,0,7.4,0,11,0c0,3.5,0,6.4,0,9.7c-1.1,0.3-2.5,0.7-3.8,1.1c0,5,0,9.8,0,15.2c41,0,81.9,0,123.9,0
									c-6.2,9.7-11.8,18.5-17.5,27.2c-0.6,0.9-2.6,1.2-4,1.2c-44.5,0.1-88.9,0.1-133.4,0c-10.8,0-18-7.5-18.2-18.4
									C35,129.1,35,126,35,122.2z"/>
				<path class="st1" d="M7.7,143.1c11.3,4.9,24.1,4.8,36.2,3.2s24.2-4.4,36.5-4.8c15-0.4,30,3,45,1.3c13.5-1.6,26.6-7.5,40.2-6.7
						c8.2,0.5,16.1,3.3,24.2,4.8c14.4,2.7,29.3,1,43.7,3c13.4,1.9,26.3,7,39.8,7.2c3.7,0.1,7.6-0.2,10.6,2c3.8,2.7,4.4,8.4,2.4,12.6
						c-2,4.2-6.1,7-10.3,9c-7.3,3.4-15.4,4.8-23.4,5.5c-49,4.3-97.3-16.2-146.5-14.4c-31,1.2-62.8,11.1-92.2,1.4
						c-4.4-1.5-9.1-3.8-10.7-8.1c-1.2-3.1-0.7-7.1-3.3-9.2"/>
				<text transform="matrix(1 0 0 1 106.9479 106.75)" class="st2 st3 st4">{{ datos.left_ship }}</text>
				<text transform="matrix(1 0 0 1 195.9254 76.6279)"><tspan x="0" y="0" class="st2 st3 st5">million</tspan><tspan x="0" y="26.4" class="st2 st3 st5">USD</tspan></text>
			</svg>

			<svg version="1.1" class="ship-b anim-left-right delay_02" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 287.5 191.3" style="enable-background:new 0 0 287.5 191.3; width: 250px;" xml:space="preserve">
				<style type="text/css"> .st0{fill:#6E4012;} .st1{fill:#FFC900;} .st2{fill:#E4294D;} .st3{font-family:'Sekunda';} .st4{font-size:121.0544px;} .st5{font-size:28.4092px;} </style>
				<path class="st0" d="M35,122.2c4.8,0,8.7,0,13.2,0c0-11.9,0-23.5,0-35.4c2.9,0,5.4,0,8.4,0c0,5.7,0,11.5,0,17.4
									c2.2,0,3.8,0,5.8,0c0.2-2.5,0.4-4.9,0.6-7.7c2.5-0.1,4.9-0.3,8-0.5c0-7.1,0-14.2,0-21.5c2.2-0.1,3.8-0.2,6-0.3
									c0,7.3,0,14.3,0,21.9c4,0,7.4,0,11,0c0,3.5,0,6.4,0,9.7c-1.1,0.3-2.5,0.7-3.8,1.1c0,5,0,9.8,0,15.2c41,0,81.9,0,123.9,0
									c-6.2,9.7-11.8,18.5-17.5,27.2c-0.6,0.9-2.6,1.2-4,1.2c-44.5,0.1-88.9,0.1-133.4,0c-10.8,0-18-7.5-18.2-18.4
									C35,129.1,35,126,35,122.2z"/>
				<path class="st1" d="M7.7,143.1c11.3,4.9,24.1,4.8,36.2,3.2s24.2-4.4,36.5-4.8c15-0.4,30,3,45,1.3c13.5-1.6,26.6-7.5,40.2-6.7
						c8.2,0.5,16.1,3.3,24.2,4.8c14.4,2.7,29.3,1,43.7,3c13.4,1.9,26.3,7,39.8,7.2c3.7,0.1,7.6-0.2,10.6,2c3.8,2.7,4.4,8.4,2.4,12.6
						c-2,4.2-6.1,7-10.3,9c-7.3,3.4-15.4,4.8-23.4,5.5c-49,4.3-97.3-16.2-146.5-14.4c-31,1.2-62.8,11.1-92.2,1.4
						c-4.4-1.5-9.1-3.8-10.7-8.1c-1.2-3.1-0.7-7.1-3.3-9.2"/>
				<text transform="matrix(1 0 0 1 106.9479 106.75)" class="st2 st3 st4">{{ datos.right_ship }}</text>
				<text transform="matrix(1 0 0 1 195.9254 76.6279)"><tspan x="0" y="0" class="st2 st3 st5">million</tspan><tspan x="0" y="26.4" class="st2 st3 st5">USD</tspan></text>
			</svg>

			<div class="center-text bottom-text">
				<h4 class="text-size-3 sekunda-font dark-text">which means it is <span class="red-text">a deal</span> that <span class="red-text">is in favor of the country.</span></h4>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexico exports 550 million USD a year of the product, while it imports 410 million USD, which means it is a deal that is in favor of the country.</p>
					<p>Chocolate is a symbol of national identity, heritage and tradition.</p>
					<p>13 of September is chocolate day all around the world, and among the benefits that are attributed to this product are: stress relief, mood improvement, help in serotonin and endorphin production and general wellbeing and pleasure.</p>
					<p>Besides the beneficial cardiovascular and cerebral effects, chocolate also increases blood flow to the brain and heart, and is a good source of antioxidants that counter free radicals.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>