<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="216">
	<div class="viewer">
		<section class="slide slide-216 yellow-bg">


			<div class="clearfix top-l-space">
				<div class="col col-3">
					<h1 class="dark-bg-text sekunda-font yellow-text p2">{{ datos.sensory }}%</h1>
				</div>
				<div class="col col-7">
					<h3 class="sekunda-font dark-text">Consumption segment</h3>
					<h2 class="sekunda-font red-text">Sensory Indulgers</h2>
					<h4 class="sekunda-font dark-text top-s-space">Chocolate has <span class="red-text">only positive</span> connotations for these consumers it is <span class="red-text">sensorial</span>, a sign of <span class="red-text">affection</span> and a <span class="red-text">necessity</span>.</h4>
					<div class="clearfix top-m-space"></div>
					<img src="/static/img/man-red.svg" class="float-anim-reverse" align="left" width="50" />
					<img src="/static/img/woman-red.svg" class="float-anim-reverse delay_02 right-s-space" align="left" width="53" />
					<h3 class="sekunda-font red-text inline-block">36-55</h3><br/>
					<h4 class="sekunda-font dark-text inline-block">years old</h4>
					<h4 class="sekunda-font red-text inline-block">high and medium sel levels</h4>
				</div>
				<div class="col col-2">
					<img src="/static/img/heart-face.svg" width="80%" class="anim-zoom-in-out dur_1" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>