<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="217">
	<div class="viewer">
		<section class="slide slide-217 yellow-bg">


			<div class="clearfix top-l-space">
				<div class="col col-3">
					<h1 class="dark-bg-text sekunda-font yellow-text p2">{{ datos.escape_seekers }}%</h1>
				</div>
				<div class="col col-7">
					<h3 class="sekunda-font dark-text">Consumption segment</h3>
					<h2 class="sekunda-font red-text">ESCAPE Seekers</h2>
					<h4 class="sekunda-font dark-text top-s-space">Chocolate is <span class="red-text">a necessity</span>, but a <span class="red-text">guilty pleasure</span> and needs to be limited in the house! She/he is <span class="red-text">a worrier</span> and chocolate helps her <span class="red-text">escape from the worries</span>.</h4>
					<div class="clearfix top-m-space"></div>
					<img src="/static/img/man-red.svg" class="float-anim-reverse" align="left" width="50" />
					<img src="/static/img/woman-red.svg" class="float-anim-reverse delay_02 right-s-space" align="left" width="53" />
					<h3 class="sekunda-font red-text inline-block">26-35</h3><br/>
					<h4 class="sekunda-font dark-text inline-block">years old</h4>
					<h4 class="sekunda-font red-text inline-block">all sel levels</h4>
				</div>
				<div class="col col-2">
					<img src="/static/img/spiral.svg" width="80%" class="anim-rotate-z" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>