<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="218">
	<div class="viewer">
		<section class="slide slide-218 yellow-bg">


			<div class="clearfix top-l-space">
				<div class="col col-3">
					<h1 class="dark-bg-text sekunda-font yellow-text p2">{{ datos.price_seekers }}%</h1>
				</div>
				<div class="col col-7">
					<h3 class="sekunda-font dark-text">Consumption segment</h3>
					<h2 class="sekunda-font red-text">Price Seekers</h2>
					<h4 class="sekunda-font dark-text top-s-space">Familiar is best and <span class="red-text">price matters</span> for these consumers who see chocolate as a <span class="red-text">necessity but try to limit it</span> in their lives because it <span class="red-text">is too tempting</span>.</h4>
					<div class="clearfix top-m-space"></div>
					<img src="/static/img/man-red.svg" class="float-anim-reverse right-s-space" align="left" width="50" />
					<h2 class="sekunda-font dark-text inline-block">LOW SEL levels</h2>
				</div>
				<div class="col col-2">
					<img src="/static/img/money-circle.svg" width="80%" class="anim-rotate-z" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>