<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="219">
	<div class="viewer">
		<section class="slide slide-219 yellow-bg">


			<div class="clearfix top-l-space">
				<div class="col col-3">
					<h1 class="dark-bg-text sekunda-font yellow-text p2">{{ datos.health_conscious }}%</h1>
				</div>
				<div class="col col-7">
					<h3 class="sekunda-font dark-text">Consumption segment</h3>
					<h2 class="sekunda-font red-text">Health Conscious</h2>
					<h4 class="sekunda-font dark-text top-s-space">For these disciplined and <span class="red-text">health focused</span> consumers, chocolate <span class="red-text">is not an integral apart of their lives</span>. These consumers <span class="red-text">eat to live</span>, rather than live to eat.</h4>
					<div class="clearfix top-m-space"></div>
					<img src="/static/img/man-red.svg" class="float-anim-reverse" align="left" width="50" />
					<img src="/static/img/woman-red.svg" class="float-anim-reverse delay_02 right-s-space" align="left" width="53" />
					<h3 class="sekunda-font red-text inline-block">46-55</h3><br/>
					<h4 class="sekunda-font dark-text inline-block">years old</h4>
				</div>
				<div class="col col-2">
					<img src="/static/img/health.svg" width="80%" class="anim-zoom-in-out" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>