<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="22" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-22 yellow-bg">


			<h2 class="red-text sekunda-font left-space top-m-space">Seasons</h2>

			<div class="clearfix table-cont top-m-space">
				<div class="clearfix">
					<div class="col col-4">
						<h3 class="sekunda-font dark-text text-size-3">Spring</h3>
						<h4 class="sekunda-font red-text">(March-April-May)</h4>
					</div>
					<div class="col col-8">
						<img src="/static/img/sun-mini.svg" width="70" align="left" class="right-s-space anim-a" />
						<span class="sekunda-font dark-text reg-text right-s-space inline-block left">warmest and<br/>driest season</span>
						<h2 class="dark-text sekunda-font inline-block right-s-space">30<img width="9" src="/static/img/celsius-a-dark.svg" class="celsius" align="top" />C</h2>
						<h2 class="red-text sekunda-font inline-block">86<img width="9" src="/static/img/celsius-a-red.svg" class="celsius" align="top" />F</h2>
					</div>
				</div>
				<div class="clearfix top-s-space">
					<div class="col col-4">
						<h3 class="sekunda-font dark-text text-size-3">Summer</h3>
						<h4 class="sekunda-font red-text">(JUNE-JULY-AUGUST)</h4>
					</div>
					<div class="col col-8">
						<img src="/static/img/rain-mini.svg" width="90" class="anim-b" />
						<img src="/static/img/sun-mini.svg" class="right-s-space anim-ab" width="70" />
						<h2 class="dark-text sekunda-font inline-block right-s-space">26-30<img width="9" src="/static/img/celsius-a-dark.svg" class="celsius" align="top" />C</h2>
						<h2 class="red-text sekunda-font inline-block">79-86<img width="9" src="/static/img/celsius-a-red.svg" class="celsius" align="top" />F</h2>
					</div>
				</div>
				<div class="clearfix top-s-space">
					<div class="col col-4">
						<h3 class="sekunda-font dark-text text-size-3">Fall</h3>
						<h4 class="sekunda-font red-text">(SEPTEMBER-OCTOBER-NOVEMBER)</h4>
					</div>
					<div class="col col-8">
						<img src="/static/img/sun-mini.svg" width="70" class="right-s-space anim-ac" />
						<h2 class="dark-text sekunda-font inline-block right-s-space">20<img width="9" src="/static/img/celsius-a-dark.svg" class="celsius" align="top" />C</h2>
						<h2 class="red-text sekunda-font inline-block">68<img width="9" src="/static/img/celsius-a-red.svg" class="celsius" align="top" />F</h2>
					</div>
				</div>
				<div class="clearfix top-s-space">
					<div class="col col-4">
						<h3 class="sekunda-font dark-text text-size-3">Winter</h3>
						<h4 class="sekunda-font red-text">(DECEMBER-JANUARY-FEBRUARY)</h4>
					</div>
					<div class="col col-8">
						<img src="/static/img/wind-mini.svg" width="90" class="right-s-space anim-b" />
						<h2 class="dark-text sekunda-font inline-block right-s-space relative">-3<img width="9" src="/static/img/celsius-a-dark.svg" class="celsius" align="top" />C<img src="/static/img/moon-mini.svg" class="floating-icon" width="35" /></h2>
						<h2 class="red-text sekunda-font inline-block">26<img width="9" src="/static/img/celsius-a-red.svg" class="celsius" align="top" />F</h2>
						<img src="/static/img/mountain-mini.svg" width="90" class="right-s-space anim-b" />
						<h2 class="dark-text sekunda-font inline-block right-s-space relative">20<img width="9" src="/static/img/celsius-a-dark.svg" class="celsius" align="top" />C<img src="/static/img/sun-mini.svg" width="45" class="floating-icon" /></h2>
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Spring (March – April – May): tends to be the warmest and driest season with temperatures that reach 30°C in the afternoon, or 86°F.</p>
					<p>Summer (June – July – August): this is the season that provides, practically, all the pluvial precipitation that the city receives. It is characterized by having moderate temperatures, warm in the morning with cloudy skies and rain in the afternoon, temperatures which alternate from 26 and 30 °C, between 79 and 86°F.</p>
					<p>Fall (September – October – November): temperatures averaging at 20°C or 68°F with clear skies.</p>
					<p>Winter (December – January – February): this season oftentimes presents cold fronts from the north that make temperatures drop to their annual minimums of sometimes -3°C or 26°F at night, although during the day temperatures usually rise to 20°C. Occasionally during this season the mountain peaks that surround the city get covered in snow.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>