<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body class="top-dark-brand" data-slide="221">
<div class="viewer" style="height: 800px!important;">
    <section class="slide slide-221 yellow-bg" style="padding-top: 120px;!important;">
        <div class="clearfix">
            <div class="col col-5">
                <h2 class="sekunda-font dark-text left-space top-s-space">Chocolate Category<br/>in modern trade</h2>
                <h4 class="red-text sekunda-font left-space text-size-3">top manufacturers</h4>
            </div>
            <div class="col col-7">
                <div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">Nielsen RI | T. México | T. Chocolate| Jun
            2017
        </div>
    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    '{{ datos.ferrero_rocher }}',
                    '{{ datos.mars }}',
                    '{{ datos.hersheys }}',
                    '{{ datos.nestle }}',
                    '{{ datos.grebon }}',
                    '{{ datos.other }}'
                ],
                backgroundColor: [window.chartColors.a, window.chartColors.b, window.chartColors.c, window.chartColors.d, window.chartColors.e, window.chartColors.f, window.chartColors.g
                ],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['Ferrero Rocher {{ datos.ferrero_rocher }}%', 'Mars {{ datos.mars }}%', "Hershey's {{ datos.hersheys }}% ",
                'Nestlé  {{ datos.nestle }}%', 'Grebon {{ datos.grebon }}%', 'Others  {{ datos.other }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>