<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="222">
	<div class="viewer">
		<section class="slide slide-222 yellow-bg">

			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Chocolate is a symbol of national identity, heritage and tradition.</p>
					<p>6 out of 10 people consume chocolate in the last month (U&A 2016 Chocolate Category),</p>
					<p>Moments of consumption are for snacking between meals, for eating after a meal/ as a dessert and for preparing a milkshake. Also, is more likely to eat chocolates during the weekdays (Monday to Thursday) (U&A 2016 Chocolate Category).</p>
					<p>Consumers usually switch consumption with cookies, candies and gummies (U&A 2016 Chocolate Category).</p>
					<p>Even though consumption is spread among all ages, genders and socioeconomic levels, there is slightly more incidence in middle class people and ages up to 45 years old. And also, this consumers eats chocolates on an average of 4 times a week (U&A 2016 Chocolate Category).</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>