<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="223">
	<div class="viewer">
		<section class="slide slide-223 yellow-bg">


			<div class="clearfix top-m-space center-text">
				<div class="col col-3">
					<h3 class="sekunda-font dark-text">presentation<br/>consumed</h3>
				</div>
				<div class="col col-3">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 90px;" xml:space="preserve">
						<style type="text/css">	.st0{fill:#E4294D;}	.st1{fill:#FFFFFF;}	.st2{font-family:'Sekunda';} .st3{font-size:60.3657px;} </style>
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.presentation_consumed1 }}%</text>
					</svg>
					<img src="/static/img/bar.svg" width="80%" />
					<h4 class="sekunda-font dark-text text-size-3">Bar</h4>
				</div>
				<div class="col col-3">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 90px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.presentation_consumed3 }}%</text>
					</svg>
					<img src="/static/img/display.svg" width="80%" />
					<h4 class="sekunda-font dark-text text-size-3">Display</h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/bag.svg" width="100" align="left" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 90px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.presentation_consumed3 }}%</text>
					</svg>
					<div class="clearfix"></div>
					<h4 class="sekunda-font dark-text text-size-3">Bags</h4>
				</div>

			</div>

			<div class="clearfix top-m-space">
				<div class="col col-6">
					<h4 class="dark-text sekunda-font left-space">Chocolate is a category <img src="/static/img/heart-face.svg" width="60" /></h4>
					<h3 class="sekunda-font dark-text left-space">more likely to share</h3>
					<h4 class="dark-text sekunda-font left-space">8 of than people <span class="red-text">share the chocolate they consume</span>.</h4>
				</div>
				<div class="col col-6">
					<h4 class="dark-text sekunda-font left-space inline-block">mainly <span class="red-text">bought</span></h4>
					<h3 class="sekunda-font red-text inline-block">by impulse <img src="/static/img/happy-face.svg" width="80" /></h3>
					<h4 class="dark-text sekunda-font left-space">in the POS purchase decision is driven by <span class="red-text">flavor</span>, <span class="red-text">brand</span> / <span class="red-text">format</span> and <span class="red-text">price</span>. </h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Bar is the main presentation consumed (35%), followed by Display (23%) and Bags (15%). (U&A 2016 – 2017 Chocolate Category)</p>
					<p>Chocolate is a category more likely to share, 8 of than people share the chocolate they consume. (U&A 2016 – 2017 Chocolate Category)</p>
					<p>Chocolate is mainly bought by impulse, consumers don´t planned to buy it but in the POS purchase decision is driven by flavor, brand/ format and price. (U&A 2016 – 2017 Chocolate Category)</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>