<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="224">
	<div class="viewer">
		<section class="slide slide-224 yellow-bg">


			<div class="clearfix">
				<div class="col col-2"></div>
				<div class="col col-8">
					<img src="/static/img/gift.svg" width="70" align="left" class="right-s-space" />
					<img src="/static/img/people-group-a.svg" width="260" align="top" class="" /><br/>
					<h4 class="text-size-3 dark-text sekunda-font inline-block">Almost <span class="red-text">{{ datos.almost }}</span> out of <span class="red-text">{{ datos.out_of }}</span> buy chocolate <span class="red-text">for gifting</span>.</h4>
				</div>
				<div class="col col-2"></div>
			</div>

			<div class="clearfix center-text top-s-space">
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 80px;" xml:space="preserve">
						<style type="text/css">	.st0{fill:#E4294D;}	.st1{fill:#FFFFFF;}	.st2{font-family:'Sekunda';} .st3{font-size:55.3657px;} </style>
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.HBD }}%</text>
					</svg>
					<img src="/static/img/hbd.svg" style="width: calc( 90% - 90px );" />
				</div>
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 80px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.valentines_day }}%</text>
					</svg>
					<img src="/static/img/valentines.svg" style="width: calc( 90% - 90px );" />
				</div>
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 80px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.mothers_day }}%</text>
					</svg>
					<img src="/static/img/mothers-day.svg" style="width: calc( 90% - 90px );" />
				</div>
			</div>

			<div class="clearfix center-text">
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 60px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.christmas_day }}%</text>
					</svg>
					<h4 class="text-size-3 dark-text sekunda-font inline-block">Christmas day</h4>
				</div>
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 60px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.anniversary }}%</text>
					</svg>
					<h4 class="text-size-3 dark-text sekunda-font inline-block">For an anniversary</h4>
				</div>
				<div class="col col-4">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 60px;" xml:space="preserve">
						<path class="st0" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st1 st2 st3">{{ datos.childrens_day }}%</text>
					</svg>
					<h4 class="text-size-3 dark-text sekunda-font inline-block">Children´s day</h4>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-1"></div>
				<div class="col col-2">
					<img src="/static/img/like.svg" width="35" align="left" class="" />
					<h6 class="dark-text sekunda-font inline-block">Without a <br/>specific reason</h6>
					<div class="clearfix"></div>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 50px; margin-top: -20px; margin-left: -10px;" xml:space="preserve">
							<style type="text/css">	.st01{fill:#6e4012;} .st11{fill:#ffc900;} </style>
						<path class="st01" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st11 st2 st3">{{ datos.without_a_specific_reason }}%</text>
					</svg>
				</div>
				<div class="col col-2">
					<img src="/static/img/mustache.svg" width="35" align="left" class="" />
					<h6 class="dark-text sekunda-font inline-block">Father´s day</h6>
					<div class="clearfix"></div>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 50px;" xml:space="preserve">
						<path class="st01" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st11 st2 st3">{{ datos.fathers_day }}%</text>
					</svg>
				</div>
				<div class="col col-2">
					<img src="/static/img/pencil.svg" width="35" align="left" class="" />
					<h6 class="dark-text sekunda-font inline-block">Teacher´s day</h6>
					<div class="clearfix"></div>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 50px;" xml:space="preserve">
						<path class="st01" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st11 st2 st3">{{ datos.teachers_day }}%</text>
					</svg>
				</div>
				<div class="col col-2">
					<div class="clearfix"></div>
					<img src="/static/img/baby-car.svg" width="35" align="left" class="" />
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 50px;" xml:space="preserve">
						<path class="st01" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st11 st2 st3">{{ datos.unique_moment }}%</text>
					</svg>
					<h6 class="dark-text sekunda-font inline-block">For a unique moment<br/> like, child birth</h6>
				</div>
				<div class="col col-2">
					<img src="/static/img/bat.svg" width="35" align="left" class="" />
					<h6 class="dark-text sekunda-font inline-block">Halloween</h6>
					<div class="clearfix"></div>
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							viewBox="0 0 94.5 92.4" style="enable-background:new 0 0 94.5 92.4; width: 50px;" xml:space="preserve">
						<path class="st01" d="M32.7,2c-4.8,0.2-9.3,2.4-13.3,4.9C15.4,9.4,11.7,12.2,9,16c-2.9,4-4.4,8.9-5.7,13.7c-2.4,9.1-4.1,18.6-2.9,28
							s5.6,18.6,13.3,24.1c4.6,3.2,10,4.9,15.4,6.5c4.9,1.5,9.8,3,14.9,3.7c6.1,0.8,12.4,0.3,18.5-0.7c10.9-1.8,22.6-5.9,28.1-15.4
							c3.7-6.4,4.1-14.2,3.8-21.6C94,47,93,39.6,90.6,32.7s-6.4-13.4-12.1-18.1C72.4,9.6,64.8,7,57.4,4.4C50.8,2.2,44.1-0.1,37.1,0
							L32.7,2z"/>
						<text transform="matrix(1 0 0 1 17.3658 74.5618)" class="st11 st2 st3">{{ datos.halloween }}%</text>
					</svg>
				</div>
				<div class="col col-1"></div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
	
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>