<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="225">
	<div class="viewer">
		<section class="slide slide-225 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-6">
					<img src="/static/img/hersheys.png" align="left" width="130" class="left-s-space right-s-space" />
					<h3 class="dark-text sekunda-font text-size-3">Bar consumers<br/>are mainly from Mexico City</h3>
				</div>
				<div class="col col-3">
					<img src="/static/img/77-separator.svg" height="80" align="top" class="right-s-space" />
					<img src="/static/img/man-red.svg" height="60" class="" />
					<img src="/static/img/woman-red.svg" height="60" />
					<h3 class="dark-text sekunda-font text-size-3 inline-block">25 to 35 y.o.</h3>
				</div>
				<div class="col col-3">
					<img src="/static/img/77-separator.svg" height="80" align="top" class="right-s-space" />
					<h3 class="dark-text sekunda-font inline-block">level</h3>
					<h3 class="white-text sekunda-font inline-block red-bg-text">C</h3>
				</div>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Frequency of consumption</h4>
					<h5 class="sekunda-font dark-text left-s-space">{{ datos.frequency_of_consumption_one }}</h5>
					<h5 class="sekunda-font dark-text left-s-space">{{ datos.frequency_of_consumption_two }}</h5>
				</div>
				<div class="col col-2">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Flavor</h4>
					<h5 class="sekunda-font dark-text left-s-space">Milk chocolate <span class="red-text">{{ datos.flavor }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Who was with you</h4>
					<h5 class="sekunda-font dark-text left-s-space">Just me <span class="red-text">{{ datos.who_was_you_just_me }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">Partner <span class="red-text">{{ datos.who_was_you_partner }}</span></h5>
				</div>
				<div class="col col-2">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Age</h4>
					<h5 class="sekunda-font dark-text left-s-space">25-35</h5>
					<h5 class="sekunda-font dark-text left-s-space">Years <span class="red-text">{{ datos.age }}</span></h5>
				</div>
				<div class="col col-2">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Gender</h4>
					<h5 class="sekunda-font dark-text left-s-space">Male <span class="red-text">{{ datos.gender_male }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">Female <span class="red-text">{{ datos.gender_female }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Sustitute product</h4>
					<h5 class="sekunda-font dark-text left-s-space">Almonds/ Peanuts with chocolate <span class="red-text">{{ datos.sustitute_product }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Place of consumption</h4>
					<h5 class="sekunda-font dark-text left-s-space">IN HOME <span class="red-text">{{ datos.place_consumption }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Way to consume chocolate</h4>
					<h5 class="sekunda-font dark-text left-s-space">For eating after a meal / as a dessert <span class="red-text">{{ datos.way_to_consume_chocolate }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Activity</h4>
					<h5 class="sekunda-font dark-text left-s-space">Looking TV / Listen to music Playing videogames <span class="red-text">{{ datos.activity }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-2">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">CITY</h4>
					<h5 class="sekunda-font dark-text left-s-space">Mexico <span class="red-text">{{ datos.activity }}</span></h5>
				</div>
				<div class="col col-1">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">TYPE</h4>
					<h5 class="sekunda-font dark-text left-s-space">Solid <span class="red-text">{{ datos.type }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Place of purchase</h4>
					<h5 class="sekunda-font dark-text left-s-space">Selfservice store <span class="red-text">{{ datos.place_purchase }}</span></h5>
				</div>
				<div class="col col-1">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">SEL</h4>
					<h5 class="sekunda-font dark-text left-s-space">C/C-<span class="red-text">{{ datos.sel }}</span></h5>
				</div>
				<div class="col col-2">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Kind of pack</h4>
					<h5 class="sekunda-font dark-text left-s-space">bar <span class="red-text">{{ datos.kind_pack }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Average spent per month</h4>
					<h5 class="sekunda-font red-text left-s-space">$ {{ datos.average_spent_per_month }}</h5>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>