<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="226">
	<div class="viewer">
		<section class="slide slide-226 yellow-bg">


			<div class="clearfix top-s-space">
				<div class="col col-6">
					<img src="/static/img/hersheys-bag.png" align="left" width="60" class="left-s-space right-s-space" />
					<h3 class="dark-text sekunda-font text-size-3">BITES consumers<br/>don’t share chocolate</h3>
				</div>
				<div class="col col-6">
					<img src="/static/img/house-red.svg" align="left" height="70" align="top" class="right-s-space" />
					<h3 class="dark-text sekunda-font text-size-3">Despite most of chocolate<br/>consumption is done at home</h3>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">FREQUENCY OF CONSUPTION</h4>
					<h5 class="sekunda-font dark-text left-s-space">3 DAYS PER WEEK <span class="red-text">{{ datos.frequency_of_consumption }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">FLAVOR</h4>
					<h5 class="sekunda-font dark-text left-s-space">MILK CHOCOLATE <span class="red-text">{{ datos.flavor }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">WHO WAS WITH YOU</h4>
					<h5 class="sekunda-font dark-text left-s-space">JUST ME <span class="red-text">{{ datos.who_was_you_just_me }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Age</h4>
					<h5 class="sekunda-font dark-text left-s-space">25 - 35 YEARS <span class="red-text">{{ datos.age }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">SUBSTITUTE PRODUCT</h4>
					<h5 class="sekunda-font dark-text left-s-space">ICE CREAM <span class="red-text">{{ datos.ice_cream }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">ALMONDS <span class="red-text">{{ datos.almods }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Place of consumption</h4>
					<h5 class="sekunda-font dark-text left-s-space">In home <span class="red-text">{{ datos.place_consumption }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">GENDER</h4>
					<h5 class="sekunda-font dark-text left-s-space">Male <span class="red-text">{{ datos.gender_male }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">Female <span class="red-text">{{ datos.gender_female }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">PLACE OF PURCHASE</h4>
					<h5 class="sekunda-font dark-text left-s-space">SELF-SERVICE STORE <span class="red-text">{{ datos.place_purchase }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">WAY TO CONSUME CHOCOLATE</h4>
					<h5 class="sekunda-font dark-text left-s-space">FOR SNACKING BETWEEN MEALS <span class="red-text">{{ datos.way_to_consume_chocolate }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">ACTIVITY</h4>
					<h5 class="sekunda-font dark-text left-s-space">AT WORK <span class="red-text">{{ datos.at_work }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">WATCHING TV <span class="red-text">{{ datos.watching_tv }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">TYPE</h4>
					<h5 class="sekunda-font dark-text left-s-space">solid <span class="red-text">{{ datos.solid }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space">INSERTION <span class="red-text">{{ datos.insertion }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">AVERAGE SPENT PER MONTH</h4>
					<h5 class="sekunda-font red-text left-s-space">${{ datos.average_spent_per_month }}</h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">City</h4>
					<h5 class="sekunda-font dark-text left-s-space">Mexico <span class="red-text">{{ datos.city }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">KIND OF PACK</h4>
					<h5 class="sekunda-font dark-text left-s-space">Bar <span class="red-text">{{ datos.kind_pack }}</span></h5>
				</div>
				<div class="col col-6">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">SEL</h4>
					<h5 class="sekunda-font dark-text left-s-space">C / C - <span class="red-text">{{ datos.sel }}</span></h5>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font right-text"><span class="right-s-space">SOURCE: {{ source }}</span></div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>