<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="227">
	<div class="viewer">
		<section class="slide slide-227 yellow-bg">


			<div class="clearfix top-s-space">
				<div class="col col-8">
					<img src="/static/img/kisses.png" align="left" width="60" class="left-s-space right-s-space" />
					<h3 class="dark-text sekunda-font text-size-3">Kisses consumer tend to shared chocolate<br/>with his/ her partner</h3>
				</div>
				<div class="col col-4">
					<img src="/static/img/77-separator.svg" class="right-s-space" height="90" align="left">
					<img src="/static/img/couple.svg" align="left" height="70" align="top" class="right-s-space" />
					<h3 class="dark-text sekunda-font text-size-3"><span class="red-text">dessert</span> or<br/><span class="red-text">after meals</span>.</h3>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">FREQUENCY OF CONSUPTION</h4>
					<h5 class="sekunda-font dark-text left-s-space">once a day <span class="red-text">{{ datos.frequency_of_consumption }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">FLAVOR</h4>
					<h5 class="sekunda-font dark-text left-s-space">MILK CHOCOLATE <span class="red-text">{{ datos.flavor }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">WHO WAS WITH YOU</h4>
					<h5 class="sekunda-font dark-text left-s-space">Partner <span class="red-text">{{ datos.who_was_you }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Age</h4>
					<h5 class="sekunda-font dark-text left-s-space">25 - 35 YEARS <span class="red-text">{{ datos.age }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">SUBSTITUTE PRODUCT</h4>
					<h5 class="sekunda-font dark-text left-s-space">ICE CREAM / ice pop <span class="red-text">{{ datos.sustitute_product }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">Place of consumptiON</h4>
					<h5 class="sekunda-font dark-text left-s-space">In home <span class="red-text">{{ datos.place_consumption }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">GENDER</h4>
					<div class="clearfix"></div>
					<h5 class="sekunda-font dark-text left-s-space inline-block">Male <span class="red-text">{{ datos.gender_male }}</span></h5>
					<h5 class="sekunda-font dark-text left-s-space inline-block">Female <span class="red-text">{{ datos.gender_female }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">PLACE OF PURCHASE</h4>
					<h5 class="sekunda-font dark-text left-s-space">SELF-SERVICE STORE <span class="red-text">{{ datos.place_purchase }}</span></h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">WAY TO CONSUME CHOCOLATE</h4>
					<h5 class="sekunda-font dark-text left-s-space">Feating after a meal as a dessert <span class="red-text">{{ datos.way_to_consume_chocolate }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">ACTIVITY</h4>
					<h5 class="sekunda-font dark-text left-s-space">i watched tv / listen music / play videogames <span class="red-text">{{ datos.activity }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">TYPE</h4>
					<h5 class="sekunda-font dark-text left-s-space">solid <span class="red-text">{{ datos.type }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">AVERAGE SPENT PER MONTH</h4>
					<h5 class="sekunda-font red-text left-s-space">${{ datos.average_spent_per_month }}</h5>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">City</h4>
					<h5 class="sekunda-font dark-text left-s-space">Mexico <span class="red-text">{{ datos.city }}</span></h5>
				</div>
				<div class="col col-3">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">KIND OF PACK</h4>
					<h5 class="sekunda-font dark-text left-s-space">Bar <span class="red-text">{{ datos.kind_pack }}</span></h5>
				</div>
				<div class="col col-6">
					<h4 class="yellow-bg-text dark-text sekunda-font inline-block left-s-space">SEL</h4>
					<h5 class="sekunda-font dark-text left-s-space">C / C - <span class="red-text">{{ datos.sel }}</span></h5>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text right-text"><span class="right-s-space">SOURCE: {{ source }}</span></div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>