<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body class="top-dark-brand" data-slide="228">
<div class="viewer">
    <section class="slide slide-228 yellow-bg">
        <h2 class="dark-text sekunda-font center-text top-s-space">SWOT OF
            <img src="/static/img/hersheys.svg"
                 width="170"/></h2>

        <div class="clearfix top-s-space">
            <div class="col col-3">
                <div class="m05 red-panel-header">
                    <div class="panel-header">STRENGTHS</div>
                    <div class="panel-content">
                        {{ datos.strengths }}
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="m05 red-panel-header">
                    <div class="panel-header">WEAKNESSES</div>
                    <div class="panel-content">
                        {{ datos.WEAKNESSES }}

                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="m05 red-panel-header">
                    <div class="panel-header">OPPORTUNITIES</div>
                    <div class="panel-content">
                        {{ datos.OPPORTUNITIES }}
                    </div>
                </div>
            </div>
            <div class="col col-3">
                <div class="m05 red-panel-header">
                    <div class="panel-header">THREATS</div>
                    <div class="panel-content">
                        {{ datos.THREATS }}
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>