<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="230">
	<div class="viewer">
		<section class="slide slide-230 yellow-bg">


			<div class="clearfix top-xl-space">
				<div class="col col-6 center-text">
					<h3 class="sekunda-font dark-text">Sugary sweets + spicy chili</h3>
					<h4 class="sekunda-font dark-text">paste or liquid</h4>
					<img src="/static/img/sugar.svg" width="75" class="right-s-space float-anim" />
					<img src="/static/img/chili.svg" width="85" class="float-anim delay_02" />
				</div>
				<div class="col col-1">
					<img src="/static/img/right-arrow.svg" />
				</div>
				<div class="col col-5">
					<h4 class="sekunda-font dark-text left-space">traditional flavors</h4>
					<h3 class="sekunda-font dark-text left-space">marzipan or<br/>marshmallow</h3>
					<h4 class="sekunda-font dark-text left-space">and other categories of sweets.</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Sugary sweets with a spicy chili flavor, in paste or liquid, continue gaining ground against traditional flavors like marzipan or marshmallow and other categories of sweets.</p>
					<p>Tamarindo, chili peppers, and dried fruits are children’s preferred flavors. The combination of sweet and bitter ingredients is consumed more than just simple flavors. Companies like Lucas continue to capitalize over this trend since 2008, through the expansion of their “Swkinkles” and Lucas brands into the “Skwinkles Explosion” product, a type of bubblegum that is fruit flavored, covered in a sugar-chili mixture. Another product is the “Lucas Gusano Crystal” which is a type of gummy worm that is chili flavored.  Another interesting development from that company is “Skwinkles Salsaghetti” gummy’s that are shaped like pasta, they have a bittersweet taste, and are covered in chili powder; this product has demonstrated good performance in terms of sales since its launch in 2008. There is no apparent tendency to fortify sweets with vitamins and calcium.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>