<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body class="top-dark-brand" data-slide="231">
<div class="viewer" style="height: 800px!important;">
    <section class="slide slide-231 yellow-bg" style="padding-top: 120px;!important;">


        <div class="clearfix top-m-space">
            <div class="col col-3 right-text">
                <img src="/static/img/child.svg" width="100" align="top" class="right-s-space"/>
            </div>
            <div class="col col-9">
                <h2 class="dark-text sekunda-font inline-block top-s-space"><span class="red-text">children's</span>
                    preferred flavoRS</h2><br/>
                <h4 class="dark-text sekunda-font inline-block">Tamarindo, chili peppers, and dried fruits</h4>
            </div>
        </div>

        <div class="clearfix top-s-space center-text">
            <img src="/static/img/tamarindo.svg" class="right-s-space anim-zoom-in-out" width="140"/>
            <img src="/static/img/chili-circle.svg" class="right-s-space anim-zoom-in-out delay_02" width="140"/>
            <img src="/static/img/dried-fruits.svg" class="anim-zoom-in-out delay_04" width="140"/>
        </div>

        <div class="clearfix top-m-space">
            <h4 class="dark-text text-center sekunda-font">The combination of <span
                    class="red-text">sweet and bitter</span> ingredients is consumed more than just simple flavors.</h4>
        </div>

        <div class="mt-100 dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>Sugary sweets with a spicy chili flavor, in paste or liquid, continue gaining ground against
                    traditional flavors like marzipan or marshmallow and other categories of sweets.</p>
                <p>Tamarindo, chili peppers, and dried fruits are children’s preferred flavors. The combination of sweet
                    and bitter ingredients is consumed more than just simple flavors. Companies like Lucas continue to
                    capitalize over this trend since 2008, through the expansion of their “Swkinkles” and Lucas brands
                    into the “Skwinkles Explosion” product, a type of bubblegum that is fruit flavored, covered in a
                    sugar-chili mixture. Another product is the “Lucas Gusano Crystal” which is a type of gummy worm
                    that is chili flavored. Another interesting development from that company is “Skwinkles Salsaghetti”
                    gummy’s that are shaped like pasta, they have a bittersweet taste, and are covered in chili powder;
                    this product has demonstrated good performance in terms of sales since its launch in 2008. There is
                    no apparent tendency to fortify sweets with vitamins and calcium.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>