<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="232">
	<div class="viewer">
		<section class="slide slide-232 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-6 center-text">
					<img src="/static/img/lucas.svg" width="250" />
				</div>
				<div class="col col-6">
					<h4 class="dark-text sekunda-font">continue to capitalize over this trend<br/><span class="red-text">{{ datos.since }}</span></h4>
				</div>
			</div>

			<div class="dark-bg-text d-block">
				<div class="clearfix">
					<div class="col col-6 center-text">
						<img src="/static/img/swinkles.png" style="max-width: 80%" />
					</div>
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font top-s-space">a type of <span class="red-text">GUMMY</span> that is fruit flavored,<br/>covered in a <span class="red-text">sugar-chili mixture.</span></h4>
					</div>
				</div>
			</div>

			<div class="dark-bg-text d-block">
				<div class="clearfix">
					<div class="col col-6 center-text">
						<img src="/static/img/lucas.png" style="max-width: 80%" />
					</div>
					<div class="col col-6">
						<h4 class="yellow-text sekunda-font top-s-space">a type of <span class="red-text">gummy worm</span> that is <span class="red-text">chili</span> flavored. Another interesting development from that company is <span class="red-text">Skwinkles Salsaghetti</span> gummy’s that are shaped <span class="red-text">like pasta</span>, they have a <span class="red-text">bittersweet taste</span>, and are <span class="red-text">covered in chili powder</span></h4>
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Sugary sweets with a spicy chili flavor, in paste or liquid, continue gaining ground against traditional flavors like marzipan or marshmallow and other categories of sweets.</p>
					<p>Tamarindo, chili peppers, and dried fruits are children’s preferred flavors. The combination of sweet and bitter ingredients is consumed more than just simple flavors. Companies like Lucas continue to capitalize over this trend since 2008, through the expansion of their “Swkinkles” and Lucas brands into the “Skwinkles Explosion” product, a type of bubblegum that is fruit flavored, covered in a sugar-chili mixture. Another product is the “Lucas Gusano Crystal” which is a type of gummy worm that is chili flavored.  Another interesting development from that company is “Skwinkles Salsaghetti” gummy’s that are shaped like pasta, they have a bittersweet taste, and are covered in chili powder; this product has demonstrated good performance in terms of sales since its launch in 2008. There is no apparent tendency to fortify sweets with vitamins and calcium.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>