<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="233">
	<div class="viewer">
		<section class="slide slide-233 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-4 right-text">
					<img src="/static/img/child.svg" width="130" />
					<h3 class="text-size-3 sekunda-font dark-text">THE CONSUMERS<br/><span class="red-text">KIDS & TeenagerS</span></h3>
				</div>
				<div class="col col-4 center-text">
					<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 150.1 163.5" style="enable-background:new 0 0 150.1 163.5; width: 80%; max-width: 150px;" xml:space="preserve">
						<style type="text/css"> .st0{fill:#E4294D;} .st1{fill:#FFC900;} .st2{font-family:'Sekunda';} .st3{font-size:80.7176px;} .st4{fill:#FFFFFF;} .st5{font-size:46.637px;} </style>
						<path class="st0" d="M148.3,59.7c-1.7-10.5-4.6-21-10.6-29.9C129,17,114.5,9,99.6,3.8c-9-3.1-19-5.4-27.9-2.3
							C63.6,1,55.5,1.1,47.6,2.8C37.6,4.9,27.8,9.6,21.4,17.5c-4.1,5-6.7,10.9-8.9,16.9C5.7,52.3,1.6,71.2,0.4,90.2
							c-0.7,10.4-0.5,21,2,31.1c2.6,10.1,7.6,19.8,15.6,26.7c9.1,7.8,21.1,11.5,33.1,13.5c20,3.3,40.7,2.4,60.3-2.7
							c8.7-2.2,17.5-5.5,23.3-12.3c3.6-4.2,5.7-9.3,7.4-14.5C150,108.9,152.1,83.9,148.3,59.7z"/>
						<text transform="matrix(1.0194 0 0 1 26.2447 95.3034)" class="st1 st2 st3">+{{ datos.annyally_percentage }}%</text>
						<g>
							<text transform="matrix(1.0194 0 0 1 35.085 144.7868)" class="st4 st2 st5">annually</text>
						</g>
					</svg>
					<h4 class="dark-text sekunda-font">counting volume and sales</h4>
				</div>
				<div class="col col-4">
					<h1 class="sekunda-font dark-text inline-block">{{ datos.annyally_mxn }}</h1>
					<h3 class="sekunda-font dark-text inline-block">billion<br/>MXN</h3>
				</div>
			</div>

			<div class="center-text">
				<svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 617 289.6" style="enable-background:new 0 0 617 289.6; width: 380px; stroke-dasharray:1000,1000; stroke-dashoffset:0" xml:space="preserve">
					<path fill="transparent" d="M16.4,275.7c0,0,33.7-32.2,59.9-43.6c26.2-11.5,94.3-16.9,131.7-32.5s64.2-42.8,79.4-51.4
	c36.9-21,89-13.5,114.9-19.1c25.9-5.6,37.4-4.5,62.7-18.1c14.1-7.6,33.8-39.6,57.6-49.1c23.8-9.5,64.6-32.2,72.3-42.2
	s5.3-2.3,5.3-2.3s-0.2,9.2-3.3,20.1c-3.1,10.9-7,18.8-7,18.8s-0.6-10.3,1.5-19.8c2-9.5,6.8-19.2,6.8-19.2L596,14
	c0,0-14.9-0.5-29,0.7c-14.2,1.1-17.6,2.6-17.6,2.6" stroke="#e4294d" stroke-width="10">
						<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="remove" repeatCount="indefinite"></animate>
					</path>
				</svg>
			</div>

			<div class="clearfix">
				<div class="col col-2"></div>
				<div class="col col-8 center-text">
					<img src="/static/img/line.svg" />
					<h3 class="sekunda-font dark-text"><span class="red-text">{{ datos.year1 }}</span> {{ datos.year2 }} <span class="red-text">{{ datos.year3 }}</span> {{ datos.year4 }} <span class="red-text">{{ datos.year5 }}</span> {{ datos.year6 }} <span class="red-text">{{ datos.year7 }}</span> {{ datos.year8 }}</h3>
				</div>
				<div class="col col-2"></div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Kids and adolescents continue being the number one consumers of spicy candy. It is anticipated that said candies will register a 2% increase in terms of annual composite growth, (counting volume and sales) in the projected future, to reach sales that will be at 38 billion MXN in 2013.</p>
					<p>The strongest competitors have focused their innovative efforts on spicy candy, strong mint bubblegum, gelatinous gummy’s and chewable caramels since 2007/2008, and many small businesses are aware of the market’s potential they build their own brands to fight for their share of the market.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>