<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="234">
	<div class="viewer">
		<section class="slide slide-234 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-4 right-text">
					<img src="/static/img/tamarindo-bottle.svg" class="right-s-space float-anim dur_1" width="80" />
					<img src="/static/img/chamoy-bottle.svg" class="float-anim dur_2" width="80" />
				</div>
				<div class="col col-8">
					<h3 class="dark-text sekunda-font left-space">two of the <span class="red-text">most popular flavors</span><br/>in the Mexican markets</h3>
				</div>
			</div>

			<div class="floating-text center-text">
				<h2 class="yellow-text sekunda-font">The expansion</h2>
				<h4 class="yellow-text sekunda-font">and even the consolidation</h4>
				<h3 class="yellow-text sekunda-font top-s-space">highly depend on their <span class="white-text">location in gondolas</span><br/>on <span class="white-text">marketing campaigns</span> and the <span class="white-text">consumers’ tastes</span></h3>
			</div>
			
			<div class="bottom-line-text yellow-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Products that are filled with Tamarindo sauce and chamoy (type of hot sauce), two of the most popular flavors in the Mexican markets, are increasing in sales. More brands could adopt these combinations for the future, pushing consumers away from traditional sweets and into new products.</p>
					<p>The expansion - and even the consolidation - of Tamarindo flavored candy highly depend on their location in gondolas, on marketing campaigns and the consumers’ tastes, respectively. Tamarindo is a very traditional flavor for sugary sweets in Mexico.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>