<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="235">
	<div class="viewer">
		<section class="slide slide-235 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-5 right-text">
					<img src="/static/img/child.svg" width="100" />
				</div>
				<div class="col col-7">
					<h3 class="red-text sekunda-font left-s-space">Teens (13-15)</h3>
					<h4 class="sekunda-font dark-text left-s-space">most frequent consumers/shoppers<br/>average expense of <span class="red-text">${{ datos.teens }}MXN.</span></h4>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-5 right-text">
					<img src="/static/img/man-dark.svg" width="50" />
					<img src="/static/img/woman-dark.svg" width="55" />
				</div>
				<div class="col col-7">
					<h3 class="red-text sekunda-font left-s-space">(18-25)</h3>
					<h4 class="sekunda-font dark-text left-s-space">highest consumption and<br/>shopping frequency</h4>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-5 right-text">
					<img src="/static/img/man-dark.svg" width="50" />
					<img src="/static/img/woman-dark.svg" width="55" />
				</div>
				<div class="col col-7">
					<h3 class="red-text sekunda-font left-s-space">(36-45)</h3>
					<h4 class="sekunda-font dark-text left-s-space">largest spend (average)<br/>among segments. <span class="red-text">${{ datos.thirtysix_fortyfive }}MXN. per piece</span></h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Teens between 13-15 yo are the most frequent consumers/shoppers of spicy candy with an average expense of $7.46 MXN.</p>
					<p>The highest consumption and shopping frequency is among 18-25 y.o. while the highest expenditure is among 36-45 y.o. ($12.34 per piece). Adults present the largest spend (average) among segments.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>