<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="236">
	<div class="viewer">
		<section class="slide slide-236 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-5 right-text">
					<img src="/static/img/236-people-a.svg" class="float-anim" width="110" />
				</div>
				<div class="col col-7">
					<h3 class="red-text sekunda-font left-s-space">Teens (13-15)</h3>
					<h4 class="sekunda-font dark-text left-s-space">Most of the teens are <span class="red-text">females</span></h4>
					<h2 class="sekunda-font dark-text left-s-space inline-block">{{ datos.convenience }}%</h2>
					<h3 class="sekunda-font white-text left-s-space inline-block red-bg-text">D+</h3>
					<h3 class="sekunda-font white-text inline-block red-bg-text">D</h3>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-5 right-text">
					<img src="/static/img/236-people-b.svg" class="float-anim delay_02" width="100" />
				</div>
				<div class="col col-7">
					<h4 class="sekunda-font dark-text left-s-space top-s-space">influenced at the POS</h4>
					<h5 class="sekunda-font dark-text left-s-space">As they become <span class="red-text">older they are more likely<br/>to be influenced</span> at the POS</h5>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Most of the teens are females who buy the category mainly in self service stores, different to male teens who buy more at convenience. Low SELs are extremely important in this segment (85% of total segment). Mexico city over performs mainly at convenience and SSS.</p>
					<p>60% of the teens are likely to be influenced at the POS, particularly at convenience’s stores. As they become older they are more likely to be influenced at the POS. Talk to this group in-store in order to influence their shopping decision.</p>
					<p>Craving is the main shopping driver, they expect flavor, spice taste, textures in their spicy candies. This group is focused on buying units, half of them pay between $5-9 MXP. The group from 13 - 15 y.o. are the ones with the highest Shopping frequency (weekly) per week (5.44 times). This segment is consuming as they buy the category (different to adults who keep products in storage for later consumption). Their consumption is done during week days at school or the street.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>