<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="237">
	<div class="viewer">
		<section class="slide slide-237 yellow-bg">


			<div class="center-text">
				<h3 class="dark-text sekunda-font top-s-space">are mainly bought <span class="red-text">by impulse</span><br/>AND for <span class="red-text">self consumption</span></h3>
				<h4 class="sekunda-font dark-text">adults share their candies with their sons/daughters and couples</h4>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-7 right-text">
					<h5 class="sekunda-font red-bg-text white-text right-s-space">traditional</h5><h3 class="dark-text inline-block sekunda-font right-s-space"><span class="red-text">Kids</span> (8-12)</h3><br/>
					<h5 class="sekunda-font red-bg-text white-text right-s-space">convenience</h5><h3 class="dark-text inline-block sekunda-font right-s-space"><span class="red-text">young adults</span> (26-35)</h3><br/>
					<h5 class="sekunda-font red-bg-text white-text right-s-space">sss</h5><h3 class="dark-text inline-block sekunda-font right-s-space"><span class="red-text">OLDER adults</span> (36-55)</h3>
				</div>
				<div class="col col-5">
					<img src="/static/img/77-separator.svg" class="right-s-space" height="150" align="left">
					<h4 class="dark-text sekunda-font top-s-space">are more attracted to<br/>the Spicy Candies category</h4>
					<h4 class="red-year white-text inline-block sekunda-font p1">D+</h4>
					<h4 class="red-year white-text inline-block sekunda-font p1">D&nbsp;</h4>
					<h4 class="red-year white-text inline-block sekunda-font p1">E&nbsp;</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Spicy candies are mainly bought by impulse.</p>
					<p>Spicy Candies are mainly for self consumption. Except for adults, who tend to share more their spicy candies, specially with their sons/daughters and couples.</p>
					<p>Kids (8-12 y.o) and young adults (26-35 y.o.) are the age segments who are more attracted to the Spicy Candies category, mainly from low Socio Economical Levels.</p>
					<p>Spicy Candies are mainly bought in Traditional, Convenience and Self Service channels. The modern trade is most relevant channel within Teens and Adults. The traditional channel is very relevant to kids (75% of their shopping occasions). Teens and young adults (13-35 y.o.) are more likely to buy the category at convenience while older adults (36-55 y.o.) at SSS.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>