<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="238">
	<div class="viewer">
		<section class="slide slide-238 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-5 right-text">
					<img src="/static/img/kid.svg" width="50" class="right-s-space float-anim dur_3" />
				</div>
				<div class="col col-7">
					<h3 class="red-text sekunda-font inline-block">male KIDS & TEENS</h3><br/>
					<h4 class="sekunda-font dark-text inline-block">Hot Intenso Shoppers</h4>
				</div>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-6">
					<img src="/static/img/238-map-a.svg" width="75" align="left" class="right-s-space left-double-space anim-zoom-in-out" />
					<h3 class="red-text inline-block sekunda-font right-s-space">monterrey</h3>
					<h4 class="sekunda-font dark-text">good performance in<br/>product acceptance</h4>
					<h4 class="sekunda-font red-text inline-block">mainly</h4>
					<h4 class="red-year white-text inline-block sekunda-font p1">D+</h4>
					<h4 class="red-year white-text inline-block sekunda-font p1">D&nbsp;</h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/238-map-b.svg" width="120" align="left" class="right-s-space anim-zoom-in-out delay_02 bottom-l-space" />
					<h3 class="red-text inline-block sekunda-font right-s-space">GUADALAJARA</h3>
					<h4 class="sekunda-font dark-text">shows an opportunity<br/>to develop</h4>
					<h4 class="sekunda-font red-text inline-block">mainly IN FEMALES</h4>
					<h6 class="red-bg-text inline-block white-text sekunda-font">Undecided Shopper</h6>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Hot Intenso Shoppers are mainly male kids and teens: Monterrey demonstrates a particularly good performance in product acceptance, mainly with the low SEL shoppers. Guadalajara shows an opportunity to develop since is the most underperformed city. There is an opportunity to push the brand among female shoppers since today, they only represent the 31% for the brand.</p>
					<p>.This is a very “Undecided Shopper” (85%) compared to the ones of the Spicy Candies category. This means the opportunity to influence them at the point of sale is big, so the brand effort should focus at store touchpoints.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>