<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="239">
	<div class="viewer">
		<section class="slide slide-239 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-6 right-text">
					<h1 class="sekunda-font dark-text right-s-space">Shopper</h1>
				</div>
				<div class="col col-6">
					<h3 class="red-text sekunda-font inline-block">Middle and low SEL</h3><br/>
					<h4 class="sekunda-font white-text inline-block red-year">C&nbsp;</h4>
					<h4 class="sekunda-font white-text inline-block red-year">C-</h4>
					<h4 class="sekunda-font white-text inline-block red-year">D+</h4>
					<h4 class="sekunda-font white-text inline-block red-year">D&nbsp;</h4>
				</div>
			</div>

			<div class="clearfix top-m-space">
				<div class="col col-2"></div>
				<div class="col col-4">
					<h3 class="dark-bg-text yellow-text sekunda-font">where do they buy?</h3>
					<h4 class="dark-text sekunda-font">
						kids - <span class="red-text">TT</span><br/>
						teens - <span class="red-text">convenience</span><br/>
						young adults - <span class="red-text">convenience</span><br/>
						older adults - <span class="red-text">SSS</span>
					</h4>
				</div>
				<div class="col col-6">
					<h3 class="dark-bg-text yellow-text sekunda-font">what do they buy?</h3>
					<div class="">
						<img src="/static/img/tamarindo-a.svg" width="80" class="right-s-space float-anim" />
						<img src="/static/img/chamoy.svg" width="35" class="right-s-space float-anim delay_02" />
						<img src="/static/img/mango.svg" width="80" class="float-anim delay_04" />
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Who is the Shopper of the Spicy Candies Category? Spicy Candy Shoppers are mainly from mid-low SELs.</p>
					<p>Where do they buy? Kids buy spicy candies mainly on TT, while Teens and young adults (13-35 y.o.) prefer convenience. The older adults (36-55 y.o.) are more used to buy the category at SSS.</p>
					<p>What are they buying? Teens between 13-15 yo are the most frequent consumers of spicy candy with an average expense of $7.46 MXN. As they get older, adults buy more packs than pieces. However, the highest consumption and shopping frequency is among 18-25 y.o. while the highest expenditure per piece is among 36-45 y.o. Lollipops and gummies are the most popular type of candies for all ages. Kids have a preference for liquid type; while older adults (36 – 55 y.o.) prefer pulps.</p>
					<p>Tamarind, chamoy & mango, are the most popular flavors of candies for the 3 segments. However, teens and young adults are also consuming watermelon.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>