<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="24" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-24 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-l-space">Monument to the revolution</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/24-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">The Monument to the Revolution is an architectonic work of art, as well as a mausoleum dedicated to commemorating the Mexican Revolution. Created by Carlos Obregon, who took the structure of the Hall of the Lost Steps from the unfinished Legislative Palace to create the monument, which was finished in 1938.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>