<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="240">
	<div class="viewer">
		<section class="slide slide-240 yellow-bg">


			<h1 class="sekunda-font red-text left-space top-s-space">Craving</h1>
			<h3 class="dark-text sekunda-font inline-block relative left-space">is the main shopping driver <img src="/static/img/240-globe-a.svg" width="350" class="globe-a" /></h3>

			<div class="clearfix"></div>

			<img src="/static/img/child.svg" width="100" class="left-space top-s-space bottom-s-space right-s-space" />
			<h4 class="dark-text sekunda-font text-size-3 inline-block relative">
				focused on <span class="red-text">buying units,<br/>{{ datos.buying_units }}% pay between ${{ datos.pay_between }}.</span><br/>FREQUENCY: <span class="red-text">{{ datos.frecuency }} TIMES PER WEEK</span>
				<img src="/static/img/240-globe-b.svg" width="200" class="globe-b" />
			</h4>

			<div class="clearfix"></div>

			<img src="/static/img/man-red.svg" width="50" class="left-space" />
			<img src="/static/img/woman-red.svg" width="55" class="right-s-space" />
			<h4 class="red-text sekunda-font text-size-3 inline-block relative">
				adults <span class="dark-bg-text yellow-text">keep THEIR CANDIES in storage</span>
			</h4>
			

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Most of the teens are females who buy the category mainly in self service stores, different to male teens who buy more at convenience. Low SELs are extremely important in this segment (85% of total segment). Mexico city over performs mainly at convenience and SSS.</p>
					<p>60% of the teens are likely to be influenced at the POS, particularly at convenience’s stores. As they become older they are more likely to be influenced at the POS. Talk to this group in-store in order to influence their shopping decision.</p>
					<p>Craving is the main shopping driver, they expect flavor, spice taste, textures in their spicy candies. This group is focused on buying units, half of them pay between $5-9 MXP. The group from 13 - 15 y.o. are the ones with the highest Shopping frequency (weekly) per week (5.44 times). This segment is consuming as they buy the category (different to adults who keep products in storage for later consumption). Their consumption is done during week days at school or the street.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>