<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="/static/js/Chart.bundle.min.js"></script>
	<script src="/static/js/utils.js"></script>
</head>
<body class="top-dark-brand" data-slide="241">
	<div class="viewer">
		<section class="slide slide-241 yellow-bg">


			<h3 class="dark-text sekunda-font top-s-space center-text">gummies is the segment with highest growth However.</h3>
			<h4 class="red-text sekunda-font center-text">lollipops and pulp remain with highest participation.</h4>

			<div class="clearfix">
				<div class="col col-5 full-height">
					<h2 class="red-text sekunda-font top-xl-space left-double-space">SPICY CANDY<br/>SEGMENTS</h2>
				</div>
				<div class="col col-7">
					<div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
						<canvas id="chart-area"></canvas>
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
	<script>
		var config = {
			type: 'pie',
			data: {
				datasets: [{
					data: [ {{ datos.Candy }},{{ datos.gummies }} ,{{ datos.lollipop }} , {{ datos.pulp }}, {{ datos.powder }}, ],
					backgroundColor: [ window.chartColors.d, window.chartColors.e, window.chartColors.f, window.chartColors.g, window.chartColors.h
					],
					borderWidth: 0.1,
					label: 'Dataset 1'
				}],
				labels: [ 'candy  {{ datos.Candy }}%', 'gummies {{ datos.gummies }}%',
                    "lollipop {{ datos.lollipop }}%", 'powder  {{ datos.powder }}%', 'pulp {{ datos.pulp }}%' ]
			},
			options: {
				responsive: true,
				 legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            }
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('chart-area').getContext('2d');
			window.myPie = new Chart(ctx, config);
		};
	</script>
</body>
</html>