<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="242">
	<div class="viewer">
		<section class="slide slide-242 yellow-bg">


			<h3 class="dark-text sekunda-font top-s-space center-text">Pelon with strong brand indicators despite<br/>lower investment in TV vs Mars</h3>
			<h4 class="text-size-3 sekunda-font red-text left-space top-s-space">consuption</h4>

			<div class="clearfix top-m-space bars-cont">
				<div class="col col-1"></div>
				<div class="col col-2">
					<h4 class="sekunda-font dark-text">Most frequent</h4>
					<h4 class="sekunda-font dark-text">Regular consumption</h4>
					<h4 class="sekunda-font dark-text">Trial</h4>
					<h4 class="sekunda-font dark-text">Total awareness</h4>
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.pelon_most_frequent }}"><span class="val">{{ datos.pelon_most_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.pelon_regular_consuption }}"><span class="val">{{ datos.pelon_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.pelon_trial }}">
                            <span class="val">{{ datos.pelon_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.pelon_total }}">
                            <span class="val">{{ datos.pelon_total }}</span></div>
					</div>
					<img src="/static/img/pelon.png" class="top-s-space" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.swinkles_most_frequent }}">
                            <span class="val">{{ datos.swinkles_most_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.swinkles_regular_consuption }}">
                            <span class="val">{{ datos.swinkles_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.swinkles_trial }}">
                            <span class="val">{{ datos.swinkles_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.swinkles_total }}">
                            <span class="val">{{ datos.swinkles_total }}</span></div>
					</div>
					<img src="/static/img/skwinkles.png" class="top-s-space" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.lucas_most_frequent }}">
                            <span class="val">{{ datos.lucas_most_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.lucas_regular_consuption }}">
                            <span class="val">{{ datos.lucas_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.lucas_trial }}">
                            <span class="val">{{ datos.lucas_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.lucas_total }}">
                            <span class="val">{{ datos.lucas_total }}</span></div>
					</div>
					<img src="/static/img/lucas.svg" class="top-s-space" width="60%" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.roca_most_frequent }}">
                            <span class="val">{{ datos.roca_most_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.rocka_regular_consuption }}">
                            <span class="val">{{ datos.rocka_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.rocka_trial }}">
                            <span class="val">{{ datos.rocka_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.rocka_total }}">
                            <span class="val">{{ datos.rocka_total }}</span></div>
					</div>
					<img src="/static/img/rockaleta.png" class="top-s-space" />
				</div>
				<div class="col col-1"></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>