<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="244">
	<div class="viewer">
		<section class="slide slide-244 yellow-bg">


			<h4 class="dark-text sekunda-font text-size-3 left-space top-m-space">
				The Food and Agriculture<br/>Administration
			</h4>

			<div class="clearfix top-s-space">
				<div class="col col-6 right-text">
					<img src="/static/img/milk-day.svg" width="80%" />
				</div>
				<div class="col col-6">
					<img src="/static/img/milk-a.svg" width="80" class="left-space float-anim dur_3" />
					<h1 class="dark-text sekunda-font inline-block left-s-space right-s-space">=</h1>
					<img src="/static/img/energy.svg" width="80" class="float-anim dur_1" />
					<h4 class="dark-text sekunda-font left-space">calcium, fats<br/>and natural protein</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The Food and Agricultura Administration, in 2001 named every June 1st as worldwide Milk day, as a way to promote dairy products and their role in nutrition.</p>
					<p>Milk is a strong source of calcium, fats and natural protein, which makes it a source of energy in the diets of many countries. In Mexico, the consumption of dairy products is 110 liters a year, inferior to what the FAO recommends, which is 150 liters. Nevertheless, the country has large milk producers, like the Lala Group or Alpura.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>