<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="245">
	<div class="viewer">
		<section class="slide slide-245 yellow-bg">


			<h3 class="dark-text sekunda-font left-space top-m-space">
				Milk consumption in Mexico
			</h3>

			<div class="clearfix top-s-space">
				<div class="col col-4">
					<h4 class="dark-text sekunda-font left-space top-m-space">The average shopper<br/>are <span class="red-text">Moms with kids<br/>from 5 to 12 years old.</span></h4>
				</div>
				<div class="col col-5 relative">
					<img src="/static/img/245-map.svg" width="60%" class="top-m-space" />
					<img src="/static/img/woman-red.svg" width="50" class="person float-anim" />
					<svg version="1.1" class="comment" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						viewBox="0 0 215.6 176.5" style="enable-background:new 0 0 215.6 176.5; width: 50%" xml:space="preserve">
						<style type="text/css"> .st0{fill:#E4294D;} .st1{fill:#FFFFFF;} .st2{font-family:'Sekunda';} .st3{font-size:39.6443px;} .st4{fill:#FFC900;} .st5{font-size:134.6494px;} </style>
						<path class="st0" d="M19.4,149c3.8-4.6,7.6-9.4,9.2-15.1c1.4-5.4,0.7-11.1,0.2-16.6c-2.8-30.8,3.3-61.7,9.5-92.1
							c0.8-4.2,1.8-8.6,4.6-11.9c3.8-4.4,10-5.7,15.7-6.7c43.2-7.1,87.3-8.5,130.9-4.4c7.1,0.7,14.9,1.9,19.2,7.6
							c3.2,4.2,3.6,9.9,3.8,15.3c1,23,2,46.1,3,69.1c0.6,14.6,0.5,31.2-10.2,41.3c-5.2,4.9-12.2,7.4-19.2,9c-10.4,2.3-21.1,3-31.7,3.6
							c-23.5,1.3-47.2,2.7-70.6-0.3c-12.4-1.6-25.3-4.3-37.2-0.5c-15.4,4.9-32.3,19.6-45.5,29c-2.4,1.7,0.2-5,1.9-7
							C8.6,162.7,13.9,155.8,19.4,149z"/>
						<text transform="matrix(1 0 0 1 150.9409 71.9619)"><tspan x="0" y="0" class="st1 st2 st3">liters</tspan><tspan x="0" y="38.1" class="st1 st2 st3">a year</tspan></text>
						<text transform="matrix(1 0 0 1 47.5051 129.0186)" class="st4 st2 st5">{{ datos.litters_year }} </text>
					</svg>
				</div>
				<div class="col col-3">
					<h2 class="red-text sekunda-font">FAO</h2>
					<h4 class="dark-text text-size-3 sekunda-font">recommends</h4>
					<h3 class="dark-text sekunda-font"><span class="red-text">{{ datos.litters_fao_recommends }}</span> liters</h3>
				</div>
			</div>

			<h3 class="dark-text sekunda-font center-text top-s-space">Mexican large milk producers</h3>

			<div class="center-text bottom top-s-space">
				<img src="/static/img/alpura-logo.png" />
				<img src="/static/img/lala-logo.png" />
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The Food and Agricultura Administration, in 2001 named every June 1st as worldwide Milk day, as a way to promote dairy products and their role in nutrition.</p>
					<p>Milk is a strong source of calcium, fats and natural protein, which makes it a source of energy in the diets of many countries. In Mexico, the consumption of dairy products is 110 liters a year, inferior to what the FAO recommends, which is 150 liters. Nevertheless, the country has large milk producers, like the Lala Group or Alpura.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>