<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="246">
	<div class="viewer">
		<section class="slide slide-246 yellow-bg">


			<div class="clearfix top-xl-space">
				<div class="col col-5 right-text">
					<img src="/static/img/powder-milk.svg" width="150" class="right-s-space" />
				</div>
				<div class="col col-3">
					<img src="/static/img/mexico-flag.svg" width="60" class="right-s-space anim-zoom-in-out" />
					<h2 class="red-text sekunda-font">{{ datos.mexico }}</h2>
					<h4 class="dark-text sekunda-font">tons were consumed</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/usa-flag.svg" width="80" class="right-s-space bottom-s-space float-anim dur_3" align="left" />
					<h2 class="red-text sekunda-font">{{ datos.usa }}</h2>
					<h4 class="dark-text sekunda-font">United States</h4>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-5 right-text"></div>
				<div class="col col-7">
					<h4 class="dark-text sekunda-font">Much more than</h4>
					<img src="/static/img/brasil-flag.svg" width="70" class="float-anim" />
					<img src="/static/img/canada-flag.svg" width="70" class="float-anim delay_02" />
					<img src="/static/img/argentina-flag.svg" width="80" class="float-anim delay_04" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>In regards to powdered milk, Mexico consumed 265,000 tons, much more than Canada, Brazil and Argentina. The United States is the largest consumer of powdered milk, with 496,000 tons in 2015.</p>
					<p>Mexico produced 11.6 million tons of bovine milk in 2015, 2.5% of the world’s total milk production that same year.</p>
					<p>The states that produce the most bovine milk are Jalisco, with 2,157 million liters in 2015; Coahuila with 1,380 million liters and Durango with 1,142 million liters.</p>
					<p>In 2015, bovine milk production in Mexico increased by 2.4%, its highest rate since 2007, when it increased 2.6%.</p>
					<p>Lala Group has a 37% participation in the drinkable dairy market in Mexico, according to an analysis done by Euromonitor. The analysis projects that the market will grow to have 69,000 million pesos in 2020.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>