<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="247">
	<div class="viewer">
		<section class="slide slide-247 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-6 right-text relative">
					<img src="/static/img/245-map.svg" width="80%" class="" />
					<div class="cow-box">
						<img src="/static/img/cow.svg" width="100" class="anim-left-right" />
						<h2 class="red-text sekunda-font">11.600,000</h2>
						<h4 class="dark-text sekunda-font yellow-bg inline-block">liters were PRODUCED</h4>
					</div>
					<h2 class="dark-text sekunda-font">Jalisco <sub class="red-text">{{ datos.jalisco }} liters</sub></h2>
					<h2 class="dark-text sekunda-font">Durango <sub class="red-text">{{ datos.durango }} liters</sub></h2>
					<h2 class="dark-text sekunda-font">Coahuila <sub class="red-text">{{ datos.coahuila }} liters</sub></h2>
				</div>
				<div class="col col-6 center-text">
					<h2 class="red-text sekunda-font">{{ datos.WORLD_TOTAL }}%</h2>
					<img src="/static/img/milk-prod.svg" width="200" class="anim-zoom-in-out dur_5" />
					<div class="clearfix"></div>
					<div class="left-text left-space">
						<h2 class="inline-block sekunda-font red-text">{{ datos.lala }}%</h2>
						<img src="/static/img/lala-logo.png" width="100" class="top-s-space" />
						<div class="clearfix"></div>
						<h2 class="inline-block sekunda-font red-text">{{ datos.alpura }}%</h2>
						<img src="/static/img/alpura-logo.png" width="150" class="" />
					</div>
				</div>
			</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>In regards to powdered milk, Mexico consumed 265,000 tons, much more than Canada, Brazil and Argentina. The United States is the largest consumer of powdered milk, with 496,000 tons in 2015.</p>
					<p>Mexico produced 11.6 million tons of bovine milk in 2015, 2.5% of the world’s total milk production that same year.</p>
					<p>The states that produce the most bovine milk are Jalisco, with 2,157 million liters in 2015; Coahuila with 1,380 million liters and Durango with 1,142 million liters.</p>
					<p>In 2015, bovine milk production in Mexico increased by 2.4%, its highest rate since 2007, when it increased 2.6%.</p>
					<p>Lala Group has a 37% participation in the drinkable dairy market in Mexico, according to an analysis done by Euromonitor. The analysis projects that the market will grow to have 69,000 million pesos in 2020.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>