<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="248">
	<div class="viewer">
		<section class="slide slide-248 yellow-bg">


			<div class="clearfix top-xl-space">
				<div class="col col-6 relative">
					<img src="/static/img/waves.svg" width="140" class="anim-skew dur_1 wave-a" />
					<img src="/static/img/waves.svg" width="200" class="anim-skew dur_1 delay_02 wave-b" />
					<img src="/static/img/waves.svg" width="140" class="anim-skew dur_1 delay_04 wave-c" />
					<h4 class="white-text red-year sekunda-font left-double-space inline-block">{{ datos.year }}</h4>
					<h2 class="red-text sekunda-font left-double-space">{{ datos.liters_milk }}</h2>
					<h3 class="text-size-3 sekunda-font dark-text left-double-space">liters of MILK AND DERIVATIVES</h3>
					<img src="/static/img/ship.svg" width="200" class="anim-left-right left-double-space" />
					<h3 class="text-size-3 sekunda-font dark-text left-double-space">(<span class="red-text">22% more</span> than 2014)</h3>
				</div>
				<div class="col col-6 center-text">
					<img src="/static/img/245-map.svg" width="80%" class="" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>As the production and consumption grow, imports of this product and its derivatives also increase. During 2015, Mexico imported 2,970,000,000 liters of milk, 22% more than 2014.</p>
					<p>In 2015, 373,000 tons of cheese were consumed in the country, while in Brazil and Argentina 770,000 and 511,000 tons were consumed, respectively. The biggest consumers of cheese in the world are the European Union, with almost 8.9 million tons, and the United States with 4.9 million tons.</p>
					<p>.Mexicans do use more butter in their foods than other countries. Last year 227,000 tons of butter were consumed in the country, while in Brazil and Argentina 90,000 and 41,000 tons were consumed respectively. The country that consumes the most amount of butter is India, with 5 million tons last year.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>