<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="25"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-25 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-l-space">Zocalo</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/25-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">The Constitutional Plaza, informally known as the “Zocalo”, is Mexico City’s main plaza. It occupies an almost rectangular surface of approximately 46,800 square meters (195 m x 240 m). It is the second biggest plaza in the world, and the first among Spanish speaking nations.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>