<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body class="top-dark-brand" data-slide="250">
<div class="viewer">
    <section class="slide slide-250 yellow-bg">


        <h3 class="dark-text sekunda-font center-text top-s-space">TOP MANUFACTURERS VALUE</h3>

        <div class="center-text">
            <div id="canvas-holder" style="width:100%" class=" mt-25 sekunda-font">
						<canvas id="chart-area"></canvas>
					</div>

        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ datos.top_manifactures_lala }}, {{ datos.top_manifactures_alpura }},
                    {{ datos.top_manifactures_santa_clara }},{{ datos.top_manifactures_hersheys }},],
                backgroundColor: [window.chartColors.d, window.chartColors.e, window.chartColors.f, window.chartColors.g, window.chartColors.h
                ],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['lala  {{ datos.top_manifactures_lala }}%', 'Alpura {{ datos.top_manifactures_alpura }}%',
                "Santa Clara {{ datos.top_manifactures_santa_clara }}%", 'Hersheys {{ datos.top_manifactures_hersheys }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            }
        }
    };
    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>