<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="251">
	<div class="viewer">
		<section class="slide slide-251 yellow-bg">


			<h2 class="dark-text sekunda-font left-space top-s-space">SHOPPER PROFILE</h2>

			<div class="clearfix top-s-space">
				<div class="col col-3"></div>
				<div class="col col-2">
					<div class="m05 red-panel-header mb-none">
						<div class="panel-content">
							<img src="/static/img/251-group-a.svg" class="float-anim-reverse" />
						</div>
						<div class="panel-header">KIDS / MOMS</div>
					</div>
				</div>
				<div class="col col-2">
					<div class="m05 red-panel-header mb-none">
						<div class="panel-content center-text">
							<img src="/static/img/251-group-b.svg" width="60%" class="top-s-space float-anim-reverse delay_02" />
						</div>
						<div class="panel-header">TEENAGERS</div>
					</div>
				</div>
				<div class="col col-2">
					<div class="m05 red-panel-header mb-none">
						<div class="panel-content center-text">
							<img src="/static/img/251-group-c.svg" width="90%" class="float-anim-reverse delay_04" />
						</div>
						<div class="panel-header">YOUNG ADULTS</div>
					</div>
				</div>
				<div class="col col-2">
					<div class="m05 red-panel-header mb-none">
						<div class="panel-content">
							<img src="/static/img/251-group-d.svg" class="top-s-space float-anim-reverse delay_06" />
						</div>
						<div class="panel-header">FAMILIES</div>
					</div>
				</div>
				<div class="col col-1"></div>
			</div>

			<div class="clearfix">
				<div class="col col-3 right-text">
					<h6 class="red-bg-text white-text sekunda-font right-s-space">FORMAT</h6><br/>
					<h6 class="red-bg-text white-text sekunda-font right-s-space">LT. PER CAPITA</h6><br/>
					<h6 class="red-bg-text white-text sekunda-font right-s-space">DRIVERS</h6><br/>
					<h6 class="red-bg-text white-text sekunda-font right-s-space">MOMENTS</h6>
				</div>
				<div class="col col-2">
					<div class="yellow-panel center-text">
						<h6 class="dark-text sekunda-font">0 - 250 ml</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">2.9 lt</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">GOOD TASTE / CHOCOLATE FLAVOR VITAMINS AND NUTRITION</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">LUNCH AND MEALS</h6>
					</div>
				</div>
				<div class="col col-2">
					<div class="yellow-panel center-text">
						<h6 class="dark-text sekunda-font">251 - 350 ML</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">0.6 LT</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">GOOD FLAVOR</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">BETWEEN MEALS</h6>
					</div>
				</div>
				<div class="col col-2">
					<div class="yellow-panel center-text">
						<h6 class="dark-text sekunda-font">351 - 500 ML</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">0.4 LT</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">THEY REMIND THEM WHEN THEY WERE KIDS</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">BREAKFAST</h6>
					</div>
				</div>
				<div class="col col-2">
					<div class="yellow-panel center-text">
						<h6 class="dark-text sekunda-font">500 ML - 1L</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">5.1 lt</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">GOOD FLAVOR</h6>
						<img src="/static/img/line.svg">
						<h6 class="dark-text sekunda-font">BREAKFAST</h6>
					</div>
				</div>
				<div class="col col-1"></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>