<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-dark-brand" data-slide="252">
	<div class="viewer">
		<section class="slide slide-252 yellow-bg">


			<div class="clearfix">
				<div class="col col-3">
					<h6 class="dark-text sekunda-font left-space top-s-space">Leche</h6>
					<img src="/static/img/hersheys-boxed.svg" class="left-space" />
				</div>
				<div class="col col-9">
					<h4 class="text-size-3 sekunda-font dark-text left-space top-s-space">Hershey’s with the strongest conversion rate<br/>in Kids & Moms, despite of the low TV investment<br/>vs other competitors </h4>
				</div>
			</div>
			<h4 class="text-size-3 sekunda-font red-text left-space top-s-space">consuption kids</h4>
						

			<div class="clearfix top-m-space bars-cont">
				<div class="col col-1"></div>
				<div class="col col-2">
					<h4 class="sekunda-font dark-text">Most frequent</h4>
					<h4 class="sekunda-font dark-text">Regular consumption</h4>
					<h4 class="sekunda-font dark-text">Trial</h4>
					<h4 class="sekunda-font dark-text">Total awareness</h4>
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.hys_frequent }}">
                            <span class="val">{{ datos.hys_frequent }}</span>
                        </div>
						<div class="bar" data-val="32"><span class="val">32</span></div>
						<div class="bar" data-val="{{ datos.hys_regular_consuption }}">
                            <span class="val">{{ datos.hys_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.hys_trial }}"><span class="val">{{ datos.hys_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.hys_total }}"><span class="val">{{ datos.hys_total }}</span></div>
					</div>
					<img src="/static/img/hersheys-boxed.svg" class="top-s-space" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.alpura_frequent }}">
                            <span class="val">{{ datos.alpura_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.alpura_regular_consuption }}">
                            <span class="val">{{ datos.alpura_regular_consuption }}24</span></div>
						<div class="bar" data-val="{{ datos.alpura_regular_consuption }}">
                            <span class="val">{{ datos.alpura_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.alpura_trial }}">
                            <span class="val">{{ datos.alpura_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.alpura_total }}">
                            <span class="val">{{ datos.alpura_total }}</span></div>
					</div>
					<img src="/static/img/alpura.png" class="top-s-space" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.santa_clara_frequent }}">
                            <span class="val">{{ datos.santa_clara_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.santa_clara_regular_consuption }}">
                            <span class="val">{{ datos.santa_clara_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.santa_clara_regular_consuption }}">
                            <span class="val">{{ datos.santa_clara_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.santa_clara_trial }}">
                            <span class="val">{{ datos.santa_clara_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.santa_clara_total }}">
                            <span class="val">{{ datos.santa_clara_total }}</span></div>
					</div>
					<img src="/static/img/santa-clara.png" class="top-s-space" />
				</div>
				<div class="col col-2">
					<div class="horizontal-bars">
						<div class="bar" data-val="{{ datos.lala_frequent }}">
                            <span class="val">{{ datos.lala_frequent }}</span></div>
						<div class="bar" data-val="{{ datos.lala_regular_consuption }}">
                            <span class="val">{{ datos.lala_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.lala_regular_consuption }}">
                            <span class="val">{{ datos.lala_regular_consuption }}</span></div>
						<div class="bar" data-val="{{ datos.lala_trial }}">
                            <span class="val">{{ datos.lala_trial }}</span></div>
						<div class="bar red" data-val="{{ datos.lala_total }}">
                            <span class="val">{{ datos.lala_total }}</span></div>
					</div>
					<img src="/static/img/lala.png" class="top-s-space" />
				</div>
				<div class="col col-1"></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">Source: {{ source }}.</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>