<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="254">
	<div class="viewer">
		<section class="slide slide-254 yellow-bg">


			<div class="clearfix full-height">
				<div class="col col-9 imgs relative full-height">
					<img src="/static/img/soda.svg" width="140" class="soda anim-zoom-in-out" />
					<img src="/static/img/popcorn.svg" width="165" class="popcorn anim-zoom-in-out delay_02" />
					<img src="/static/img/cereal-bar.svg" width="220" class="cereal-bar anim-zoom-in-out delay_04" />
					<img src="/static/img/chips.svg" width="190" class="chips anim-zoom-in-out delay_06" />
					<img src="/static/img/peanuts.svg" width="190" class="peanuts anim-zoom-in-out delay_08" />
					<img src="/static/img/cereal.svg" width="270" class="cereal anim-zoom-in-out delay_1" />
					<img src="/static/img/seeds.svg" width="120" class="seeds anim-zoom-in-out delay_12" />
				</div>
				<div class="col col-3">
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text top-m-space anim-left-right">Potato chips</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_02">peanuts</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_04">seeds</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_06">cereal bars</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_08">cereal</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_1">popcorn</h4><br/>
					<h4 class="text-size-3 sekunda-font yellow-text dark-bg-text anim-left-right delay_12">soda</h4>
				</div>
			</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</>
</html>