<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="255">
	<div class="viewer">
		<section class="slide slide-255 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-4"></div>
				<div class="col col-8">
					<img src="/static/img/man-dark.svg" width="56" align="left" class="float-anim-reverse" />
					<img src="/static/img/woman-dark.svg" width="60" align="left" class="right-s-space float-anim-reverse delay_02" />
					<h3 class="red-text sekunda-font">{{ datos.consumers_with_acquisitive_capability }}</h3>
					<h4 class="dark-text sekunda-font">consumers with acquisitive capability</h4>
				</div>
			</div>

			<div class="center-text">
				<img src="/static/img/255-map-a.svg" width="42" align="top" />
				<h3 class="red-text sekunda-font inline-block text-size-3 right-s-space">monterrey</h3>
				<img src="/static/img/255-map-b.svg" width="68" />
				<h3 class="red-text sekunda-font inline-block text-size-3 right-s-space">GUADALAJARA</h3>
				<img src="/static/img/255-map-c.svg" width="45" />
				<h3 class="red-text sekunda-font inline-block text-size-3">cdmx</h3>
			</div>

			<div class="center-text">
				<img src="/static/img/255-soda.svg" width="300" class="anim-left-right" />
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-1-5"></div>
				<div class="col col-3">
					<img src="/static/img/chips.svg" width="70" align="left" class="right-s-space anim-zoom-in-out dur_1" />
					<h3 class="red-text sekunda-font inline-block">{{ datos.tons }}</h3><br/>
					<h4 class="dark-text sekunda-font inline-block">tons</h4>
				</div>
				<div class="col col-3">
					<h3 class="red-text sekunda-font">{{ datos.pesos }}</h3>
					<h4 class="dark-text sekunda-font">pesos</h4>
				</div>
				<div class="col col-3">
					<h3 class="red-text sekunda-font">{{ datos.formal_companies }}</h3>
					<h4 class="dark-text sekunda-font">formal companies</h4>
				</div>
				<div class="col col-1-5"></div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>