<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="256">
	<div class="viewer">
		<section class="slide slide-256 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-6 center-text relative">
					<h1 class="red-text sekunda-font floating-text">{{ datos.consume_food_from_this_category }}%</h1>
					<img src="/static/img/245-map.svg" class="" width="80%" />
				</div>
				<div class="col col-6">
					<h2 class="dark-text sekunda-font">consume foods<br/>from this category</h2>
					<h4 class="dark-text sekunda-font">consumers with acquisitive capability</h4>
					<svg version="1.1" class="top-s-space right-s-space" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 215.7 148.8" style="enable-background:new 0 0 215.7 148.8; width: 200px; float: left;" xml:space="preserve" align="left">
						<style type="text/css"> .st0{fill:#E4294D;} .st1{fill:#FFFFFF;} .st2{font-family:'Sekunda';} .st3{font-size:29.7738px;} .st4{fill:#FFC900;} .st5{font-size:75px;} </style>
						<g>
							<path class="st0" d="M54.6,137.9c-12.9-0.4-26.7-1.6-36.7-9.8c-10.1-8.3-14-21.8-16.3-34.7c-1.8-9.9-2.8-20.6,1.3-29.8
								c2.8-6.2,7.6-11.2,12.6-15.9c12.5-11.5,27.1-21.9,44-24.1c8.4-1.1,16.9-0.1,25.4,0.1c11.4,0.3,22.7-0.9,34.1-1.4
								c24.1-1.1,48.2,0.7,72.2,2.5c3.6,0.3,7.4,0.6,10.7,2.1c8.8,4.1,11.4,15.2,12.4,24.8c1.1,10.6,1.6,21.2,1.4,31.8
								c-0.1,8.6-0.7,17.2-3.3,25.3s-7.4,15.8-14.6,20.5c-6.2,4.1-13.7,5.6-21.1,6.7c-15,2.1-30.2,2.3-45.4,2.5c-20.1,0.3-40.3,0.5-60.3-1
								L54.6,137.9z"/>
							<text transform="matrix(1.0559 0 0 1 92.2617 127.9878)" class="st1 st2 st3"> pesos a year</text>
							<path class="st0" d="M61.3,8.4c0,8.1,0.1,16.2,0.1,24.3c0,0.7,0.1,1.6,0.6,2c0.4,0.3,1,0.4,1.5,0.4c2.3,0.1,4.7,0.3,7,0.4
								c4.5,0.3,9.9,0.1,12.5-3.6c1.9-2.7,1.5-6.6-0.1-9.6s-4.2-5.2-6.6-7.5C71.4,10.2,67.4,4.7,62.6,0C60.3,1.3,61.3,6,61.3,8.4z"/>
						</g>
						<text transform="matrix(1.0559 0 0 1 22.2617 99.5995)" class="st4 st2 st5">{{ datos.pesos_year }} Billion</text>
					</svg>
					<h4 class="dark-text sekunda-font top-m-space">CONSUPTION INCREASED</h4>
					<h2 class="dark-text sekunda-font inline-block">{{ datos.from_to_value }}%</h2>
					<h4 class="red-text sekunda-font inline-block">{{ datos.from_to }}</h4>
				</div>
			</div>

			<div class="clearfix center-text">
				<div class="col col-6">
					<img src="/static/img/255-soda.svg" width="300" class="anim-left-right" />
				</div>
				<div class="col col-6">
					<img src="/static/img/256-chips.svg" width="300" class="anim-left-right top-s-space delay_02" />
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>