<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="257">
	<div class="viewer">
		<section class="slide slide-257 yellow-bg">


			<div class="clearfix center-text top-xl-space">
				<div class="col col-4">
					<img src="/static/img/mexico-flag.svg" width="75" />
					<h1 class="red-text sekunda-font">{{ datos.importing }}<sup>th</sup></h1>
					<h3 class="dark-text sekunda-font text-size-3">importing</h3>
				</div>
				<div class="col col-4" style="padding-top: 50px;">
					<h1 class="red-text sekunda-font">{{ datos.participation }}<sup>%</sup></h1>
					<h3 class="dark-text sekunda-font text-size-3">participation</h3>
				</div>
				<div class="col col-4" style="padding-top: 50px;">
					<h1 class="red-text sekunda-font">{{ datos.billion_dollars }}</h1>
					<h3 class="dark-text sekunda-font text-size-3">billion dollars</h3>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexico is located in the 17th spot when it comes to importing this category, with a 2.3% participation and a value of 47 billion dollars, at least in 2013.</p>
					<p>The US is the main provider of potato chip products in Mexico, with a participation of 99%. In 2013, their sales to the Mexican market increased by 44.1%, and from 33 billion to 47 billion.</p>
					<p>.France, on the other hand, is the biggest buyer of potato chips in the world, with a value of 223 billion dollars, equivalent to 130 tons during 2013.</p>
					<p>The channels of distribution for potato chips in Mexico are supermarkets, independent bodegas (corner stores) and conveniences stores.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>