<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body class="top-red-brand" data-slide="258">
	<div class="viewer">
		<section class="slide slide-258 yellow-bg">


			<div class="clearfix top-s-space">
				<div class="col col-7 right-text relative">
					<h1 class="red-text sekunda-font inline-block">{{ datos.come_from_percentage }}<sup>%</sup></h1>
					<h3 class="dark-text sekunda-font inline-block">come from</h3>
					<img src="/static/img/usa-flag.svg" width="75" class="right-s-space float-anim-reverse" />
					<img src="/static/img/245-map.svg" class="" width="70%">
					<img src="/static/img/144-arrow.svg" class="arrow anim-semirotate-clockwise origin_bottom arrow" width="100">
					<img src="/static/img/chips.svg" width="70" class="right-s-space chips-a" />
					<img src="/static/img/chips-green.svg" width="55" class="right-s-space chips-b" />
				</div>
				<div class="col col-5">
					<h3 class="dark-text sekunda-font text-size-3">their sales to the Mexican<br/>market increased from</h3>
					<h2 class="red-text sekunda-font top-s-space">{{ datos.sale_mexican_market_from }} <span class="dark-text">billion</span></h2>
					<h3 class="dark-text sekunda-font inline-block">to </h3> <h2 class="red-text sekunda-font inline-block"> {{ datos.sale_mexican_market_from }} <span class="dark-text">billion</span></h2>
				</div>
			</div>

			<div class="clearfix top-s-space">
				<div class="col col-7">
					<img src="/static/img/france-flag.svg" width="100" class="right-s-space left-space" align="left" />
					<h3 class="dark-text sekunda-font inline-block text-size-3">the biggest buyer of potato chips</h3>
					<h3 class="red-text sekunda-font inline-block text-size-3">{{ datos.francia_dls }} billion dollars</h3>
				</div>
				<div class="col col-5">
					<h2 class="red-text sekunda-font top-s-space">{{ datos.francia_tons }}<sup class="dark-text text-size-3">tons</sup></h2>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexico is located in the 17th spot when it comes to importing this category, with a 2.3% participation and a value of 47 billion dollars, at least in 2013.</p>
					<p>The US is the main provider of potato chip products in Mexico, with a participation of 99%. In 2013, their sales to the Mexican market increased by 44.1%, and from 33 billion to 47 billion.</p>
					<p>.France, on the other hand, is the biggest buyer of potato chips in the world, with a value of 223 billion dollars, equivalent to 130 tons during 2013.</p>
					<p>The channels of distribution for potato chips in Mexico are supermarkets, independent bodegas (corner stores) and conveniences stores.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>