<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <script src="/static/js/Chart.bundle.min.js"></script>
	<script src="/static/js/utils.js"></script>
</head>
<body class="top-red-brand" data-slide="259">
	<div class="viewer">
		<section class="slide slide-259 yellow-bg">


			<div class="clearfix top-s-space">
				<div class="col col-5">
					<h3 class="dark-text sekunda-font text-size-3 left-space">people that</h3>
					<h2 class="dark-text sekunda-font left-space">drink soda</h2>
					<img src="/static/img/soda-red.svg" width="100" class="top-s-space left-space float-anim" />
				</div>
				<div class="col col-7">
					<div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
						<canvas id="chart-area"></canvas>
					</div>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>
	{% include 'menu.html' %}<script type="text/javascript" src="/static/js/main.js"></script>
<script>
		var config = {
			type: 'pie',
			data: {
				datasets: [{
					data: [ {{ datos.drink_soda_home }}, {{ datos.drink_soda_restaurants }}, {{ datos.drink_soda_gatherings }} ],
					backgroundColor: [ window.chartColors.f, window.chartColors.g, window.chartColors.h	],
					borderWidth: 0.1,
					label: 'Dataset 1'
				}],
				labels: [ 'HOME {{ datos.drink_soda_home }}%',
                    'RESTAURANTS - BARS, NIGHTCLUBS {{ datos.drink_soda_restaurants }}%',
                    'GATHERINGS  {{ datos.drink_soda_gatherings }}%', ]
			},
			options: {
				responsive: true,
			 legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
			}
		};

		window.onload = function() {
			var ctx = document.getElementById('chart-area').getContext('2d');
			window.myPie = new Chart(ctx, config);
		};
	</script>
</body>
</html>