<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="26"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-26 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-l-space">Bellas Artes or Fine Arts Palace</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/26-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">The Fine Arts Palace is a cultural center located in the Historic center of Mexico City. Considered to be the venue for maximum expression of culture. UNESCO declared it an artistic monument in 1987.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>