<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body class="top-red-brand" class="top-red-brand" data-slide="260">
<div class="viewer">
    <section class="slide slide-260 yellow-bg">

        <div class="clearfix top-s-space">
            <div class="col col-4">
                <h2 class="dark-text sekunda-font left-space">flavors</h2>
                <img src="/static/img/soda-red.svg" width="100" class="top-s-space left-space float-anim"/>
            </div>
            <div class="col col-8 center-text">
                <div id="canvas-holder" style="width:100%" class="top-l-space sekunda-font">
                    <canvas id="chart-area"></canvas>
                </div>
            </div>
        </div>
        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
    </section>
</div>
{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ datos.flavors_cola }},
                    {{ datos.flavors_apple }},
                    {{ datos.flavors_sangria }},
                    {{ datos.flavors_lime }},
                    {{ datos.flavors_others }}
                ],
                backgroundColor: [window.chartColors.h, window.chartColors.g, window.chartColors.f, window.chartColors.e, window.chartColors.a],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['Cola {{ datos.flavors_cola }}%',
                'Others {{ datos.flavors_others }}%',
                "Lime {{ datos.flavors_lime }}%",
                'Sangría  {{ datos.flavors_sangria }}%',
                'Apple  {{ datos.flavors_apple }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>