<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body class="top-red-brand" data-slide="261">
   <div class="viewer">
		<section class="slide slide-261 yellow-bg">
			<div class="center-text">
				<div id="canvas-holder" style="width:100%" class="top-m-space sekunda-font">
					<canvas id="chart-area"></canvas>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>


{% include 'menu.html' %}
<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [{{ datos.soda_market_coca_cola }}, {{ datos.soda_market_pepsi }}, {{ datos.soda_market_pennafiel }},{{ datos.soda_market_others }}],
                backgroundColor: [window.chartColors.f, window.chartColors.g, window.chartColors.h],
                borderWidth: 0.1,
                label: 'Dataset 1'
            }],
            labels: ['Coca-Cola {{ datos.soda_market_coca_cola }}%',
                'PEPSI {{ datos.soda_market_pepsi }}%',
                'PEÑAFIEL  {{ datos.soda_market_pennafiel }}%', 'OTHERS {{ datos.soda_market_others }}%']
        },
        options: {
            responsive: true,
            legend: {
                position: 'right',
                fullWidth: true,
                labels: {
                    fontSize: 25,
                    fontFamily: 'Sekunda',
                    fontColor: '#E5294D'
                }
            },
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('chart-area').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
</script>
</body>
</html>