<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="28"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-28 yellow-bg">

        <h2 class="sekunda-font red-text main-heading-text left-space top-s-space">Northern Region</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text">Nuevo Leon</h3>

        <h3 class="sekunda-font main-heading-text left-space dark-text top-l-space">
            <img src="/static/img/16-a.svg"
                 width="60" align="absmiddle"
                 class="right-s-space"/>{{ datos.population_nuevo_leon }}
            Million</h3>
        <h4 class="sekunda-font red-text left-double-space">Aproximately</h4>
        <h4 class="sekunda-font main-heading-text left-space dark-text top-s-space"><img
                src="/static/img/28-minimap.svg" width="60" align="left" class="right-s-space"/>One of the most<br/>populated
            cities of the state.</h4>

        <div class="star right-text">
            <h3 class="red-text sekunda-font txt-a">Monterrey</h3>
            <h4 class="dark-text sekunda-font">Capital City</h4>
            <span class="yellow-text sekunda-font txt-a">51 Municipalities</span>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>The state of Nuevo Leon, due to its proximity to the United States, is a modern state, with a
                    population that is knowledgeable about foreign products and services that define different
                    parameters of behavior and consumption.</p>
                <p>Their capital, Monterrey, is one of the most important cities in the country due to their
                    infrastructure and industry, besides having approximately 5 million inhabitants.</p>
                <p>Their commerce provides the country with 7.3% of its GDP.</p>
                <p>Its 51 municipalities represent 3.27% of the national territory.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>