<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="29"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-29 yellow-bg">

        <h3 class="sekunda-font main-heading-text center-text dark-text top-l-space">is a modern <span class="red-text">state</span>
            due to its <span class="red-text">proximity to the USA</span></h3>

        <div class="dark-bg-brand top-m-space">
            <img src="/static/img/29-img.svg" class="dark-brand-img left-space" align="left"/>
            <h3 class="marker center-text white-text sekunda-font left-s-space">Monterrey</h3>
            <div class="brand-box-a">
                <h4 class="dark-text sekunda-font inline-block left-s-space top-s-space">Their commerce provides<br/>the
                    country with</h4>
                <div class="clearfix"></div>
                <h2 class="sekunda-font red-text inline-block left-s-space right-s-space text-size-5">{{ datos.gdp_monterrey }}% <span
                        class="dark-text">GDP</span></h2>
            </div>
            <div class="brand-box-b">
                <div class="clearfix top-xs-space"></div>
                <h2 class="sekunda-font red-text inline-block left-s-space right-s-space text-size-5">{{ datos.surface_monterrey }}%</h2><h4
                    class="sekunda-font dark-text inline-block">of the country´s<br/>total <span class="red-text">surface area.</span>
            </h4>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>The state of Nuevo Leon, due to its proximity to the United States, is a modern state, with a
                    population that is knowledgeable about foreign products and services that define different
                    parameters of behavior and consumption.</p>
                <p>Their capital, Monterrey, is one of the most important cities in the country due to their
                    infrastructure and industry, besides having approximately 5 million inhabitants.</p>
                <p>Their commerce provides the country with 7.3% of its GDP.</p>
                <p>Its 51 municipalities represent 3.27% of the national territory.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>