<!DOCTYPE html>
<html>
<head>
        {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body data-slide="3" class="red-bg">
	<div class="viewer">
		<section class="slide slide-3 red-bg">
			<h1 class="center-text sekunda-font white-text main-heading-text mb-none top-xl-space anim-text">Country Overview</h1>
			<div class="button-box-container center-text">
				<a href="/web/4.html" class="button-box button-box-1 sekunda-font red-text">Geography</a>
				<a href="/web/14.html" class="button-box button-box-3 sekunda-font red-text">Differences by regions</a>
				<a href="/web/61.html" class="button-box button-box-2 sekunda-font red-text">Economic Context</a>
				<a href="/web/52.html" class="button-box button-box-1 sekunda-font red-text">Goverment</a>
				<a href="/web/82.html" class="button-box button-box-4 sekunda-font red-text">Wealth distribution by regions</a>
			</div>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>