<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="30"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-30 yellow-bg">

			<h2 class="sekunda-font main-heading-text red-text top-m-space left-space">Climate</h2>
			<h3 class="dark-text sekunda-font text-size-3 left-space">in Nuevo Leon and nearby areas.</h3>
			<h2 class="sekunda-font main-heading-text red-text top-m-space left-space inline-block">sub-humid </h2>
			<h3 class="dark-text sekunda-font text-size-3 inline-block"> (extreme)</h3>

			<img src="/static/img/dashed-arrow.svg" class="top-s-space" />
			<img src="/static/img/sun-mini.svg" width="200" class="floating-sun" />
			<img src="/static/img/rain-mini.svg" width="200" class="floating-rain" />

			<div class="clearfix">
				<div class="col col-4 relative">
					<img src="/static/img/sun-mini.svg" width="100" class="floating-sun" />
					<h3 class="sekunda-font yellow-text small-dark-cont text-size-3 left-space top-s-space">July</h3>
					<h3 class="sekunda-font red-text text-size-3 left-space top-xs-space">Summer</h3>
					<h4 class="sekunda-font dark-text left-space">37<img src="/static/img/celsius-a-dark.svg" class="celsius" width="5" align="top">C, 39<img src="/static/img/celsius-a-dark.svg" class="celsius" width="5" align="top">C, <span class="red-text">40<img src="/static/img/celsius-a-red.svg" class="celsius" width="5" align="top">C</span></h4>
				</div>
				<div class="col col-4 relative">
					<img src="/static/img/rain-mini.svg" width="100" class="floating-rain" />
					<h3 class="sekunda-font yellow-text big-dark-cont text-size-3 top-s-space">AUGUST & SEPTEMBER</h3>
					<h3 class="sekunda-font blue-text text-size-3 top-xs-space inline-block">YEARLY<br/>precipitation</h3>
					<h4 class="sekunda-font inline-block left-s-space relative">
						<img src="/static/img/blue-arrow.svg" class="floating-arrow" width="30" />
						<span class="blue-text">1200 mm.</span><br/>
						<span class="dark-text">800 mm.</span><br/>
						<span class="dark-text">431.1 mm.</span>
					</h4>
				</div>
				<div class="col col-4">
					<h3 class="sekunda-font yellow-text big-dark-cont text-size-3 top-s-space">NOVEMBER & DECEMBER</h3>
					<img src="/static/img/wind-mini.svg" width="100" align="left" class="top-s-space wind right-s-space" />
					<h3 class="blue-text sekunda-font text-size-3 top-s-space">Cold & Rainy</h3>
					<h4 class="sekunda-font inline-block relative dark-text">Due to the cold fronts</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
			
			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Climate in Monterrey is temperate and sub-humid and is considered extreme. The winters are moderately cold, and the summers are very hot. In terms of precipitation, the yearly average varies from 431.1 mm to 800 mm, but on occasions they can even reach 1200 mm. In May and April, the climate changes a little from cold to warm, with days that have minimums of 14-15°C and maximums of 30-31°C, although from time to time cold fronts regulate the temperature.</p>
					<p>In May the days are hot and the nights cold. In June, the rains continue along with isolated downpours, but the heat also increases. July is the hottest month of the year, with highs of 37-39°C and sometimes even over 40°. In August and September rains increase to the extreme. October is considered the best month, with temperate days and cool nights.</p>
					<p>In November, the climate turns cool and windy. Finally, in December the climate is cold and rainy 14°°\6° with moderately colder days due to the strong cold fronts that occur in the region.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>