<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="31"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-31 yellow-bg">

			<h2 class="center-text sekunda-font red-text main-heading-text anim-text top-l-space">Traditional Places in Monterrey</h2>

			<img src="/static/img/cable.svg" class="cable top-l-space" />
			<div class="relative tiles-cont">
				<a class="paper-menu-tile valerie-font white-text tile-1" href="#"><span><img src="/static/img/31-a.svg" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-2" href="#"><span><img src="/static/img/31-b.svg" /></span></a>
				<a class="paper-menu-tile valerie-font white-text tile-3" href="#"><span><img src="/static/img/31-c.svg" /></span></a>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>