<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="33" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-33 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-l-space">El Parque Fundidora</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/33-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">The grounds of the old Monterrey Steel Mill that date back to the early XXth century have become a public space with a variety of <span class="red-text">cultural, recreational, sportive and business-oriented locations</span>. The architectural complex houses the first high oven in Latin America (now turned into an industrial-archeology museum), many auditoriums and the state-owned Center for the Arts.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>