<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="34"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-34 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-l-space">Paseo Santa Luciía</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/34-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">It is a walkway, in its center there is an artificial canal that is 10m deep. The canal can be traversed by boat, and there are several bridges that lead to gardens and restaurants.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>