<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="36"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-36 yellow-bg">

        <h2 class="sekunda-font red-text main-heading-text left-space top-s-space">WESTERN REGION</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text">Jalisco</h3>

        <h3 class="sekunda-font main-heading-text left-space dark-text top-m-space">
            <img src="/static/img/16-a.svg"
                 width="60" align="absmiddle"
                 class="right-s-space"/>{{ datos.population_jalisco }}
        </h3>
        <h4 class="sekunda-font main-heading-text left-space dark-text top-s-space"><img
                src="/static/img/36-minimap.svg" width="60" align="left" class="right-s-space"/>One of the most<br/>populated
            cities of the state.</h4>
        <h4 class="sekunda-font dark-text text-size-2 smaller left-double-space top-s-space">IT provides the country
            with</h4>
        <h3 class="sekunda-font red-text left-double-space">{{ datos.gdp_jalisco }}% <span class="dark-text">GDP</span></h3>
        <h3 class="sekunda-font red-text left-double-space top-s-space inline-block">4%</h3> <h4
            class="sekunda-font inline-block dark-text text-size-2 smaller">of the country´s<br/>total <span
            class="red-text">surface area</span>.</h4>

        <div class="star">
            <h3 class="red-text sekunda-font txt-a">Guadalajara</h3>
            <h4 class="yellow-text sekunda-font">Capital City</h4>
            <span class="yellow-text sekunda-font txt-a">125 Municipalities</span>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
         {{ source }}
        </div>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>