<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="37"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-37 yellow-bg">


			<div class="clearfix top-m-space">
				<div class="col col-4 relative center-text">
					<img src="/static/img/marker-a.svg" width="70" />
					<h3 class="dark-text sekunda-font">Guadalajara</h3>
				</div>
				<div class="col col-8 relative">
					<h3 class="dark-text sekunda-font text-size-3">is <span class="red-text">one of the three</span></h3>
					<h3 class="dark-text sekunda-font text-size-3 top-xs-space">most important cities in the country</h3>
					

					<h3 class="red-text sekunda-font top-m-space">urban life + traditions</h3>
					<div class="top-s-space">
						<span class="relative heart"><img src="/static/img/tacos.svg" width="94" align="absmiddle" class="right-s-space inline-block" /></span>
						<span class="relative heart"><img src="/static/img/soccer.svg" width="71" align="absmiddle" class="right-s-space inline-block" /></span>
						<span class="relative heart"><img src="/static/img/hat.svg" width="95" align="absmiddle" class="inline-block" /></span>
					</div>
					<h4 class="dark-text sekunda-font top-s-space">
						its inhabitants display a <span class="red-text">love for their food</span>,<br/>
						their <span class="red-text">activities</span> and regional <span class="red-text">customs.</span>
					</h4>
				</div>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			
			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Jalisco combines urban life with the preservation of their state’s traditions: its inhabitants display a love for their food, their activities and regional customs.</p>
					<p>Guadalajara, their capital, is one of the three most important cities in the country due to its culture, urban and technological development. It is oftentimes the location for many of the country’s most important events: like FIL, Campus Party, International Film festival etc.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>