<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="38"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-38 yellow-bg">

			<h2 class="sekunda-font red-text main-heading-text left-space top-s-space">CLIMATE</h2>
			<h3 class="sekunda-font main-heading-text text-size-3 left-space dark-text">in Jalisco and<br/>neighboring regions.</h3>

			<img src="/static/img/sun-mini.svg" class="sun sun-a" width="130" />
			<img src="/static/img/sun-mini.svg" class="sun sun-b" width="130" />
			<img src="/static/img/sun-mini.svg" class="sun sun-c" width="95" />
			<img src="/static/img/sun-mini.svg" class="sun sun-d" width="95" />
			<img src="/static/img/sun-mini.svg" class="sun sun-e" width="130" />

			<img src="/static/img/cloud-b.svg" class="cloud cloud-a" width="46" />
			<img src="/static/img/cloud-b.svg" class="cloud cloud-b" width="106" />
			<img src="/static/img/cloud-b.svg" class="cloud cloud-c" width="46" />
			<img src="/static/img/cloud-b.svg" class="cloud cloud-d" width="106" />

			<img src="/static/img/wind-mini.svg" class="wind" width="90" />

			<div class="floating-text text-a">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">Coast</h3>
				<h4 class="sekunda-font red-text">Warm sub-humid</h4>
			</div>
			<div class="floating-text text-b">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">West</h3>
				<h4 class="sekunda-font red-text">Temperate</h4>
			</div>
			<div class="floating-text text-c">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">North and northeast</h3>
				<h4 class="sekunda-font red-text">Dry</h4>
			</div>
			<div class="floating-text text-d">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">East</h3>
				<h4 class="sekunda-font red-text">Temperate and warm</h4>
			</div>
			<div class="floating-text text-e">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">South</h3>
				<h4 class="sekunda-font red-text">Temperate</h4>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>This state has many different of climates:</p>
					<p>Coastal region: warm sub-humid climate that extends towards the southeast. The annual average temperature is 22 to 26° C.</p>
					<p>North and northeast regions: Dry climate is predominant. Average yearly temperature is 10-18° C.</p>
					<p>Central region: Temperate climate is predominant. Average temperature is 19° C.</p>
					<p>Eastern region: Temperate and warm climates are predominant. Average temperature is 16 to 18° C.</p>
					<p>Western region: Temperate climate is predominant. Average temperature is from 18 to 22° C.</p>
					<p>Southern region: Temperate climate is predominant. Average temperature is less than 16° C.</p>
					<p>Rains come starting June until September. The highest amount of hail is concentrated during July and August. Winter is the dry season. In May and June temperatures rise.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>