<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="41"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-41 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-m-space">Cathedral</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/41-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">It is located in Guadalajara's Historical Center, and is the seat of their Archdiocese. There is a mixture of architectural styles due to gothic, neoclassical and baroque influences. In the interior, the gothic influences are predominant. It has the second biggest organ in Mexico and the painting “The Purest Conception” created by Bartolome Esteban Murillo.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>