<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="45"  class="top-red-brand">
<div class="viewer">
    <section class="slide slide-45 yellow-bg">

        <h2 class="sekunda-font red-text main-heading-text left-space top-s-space">Southern Region</h2>
        <h3 class="sekunda-font main-heading-text left-space dark-text">Yucatan</h3>

        <h3 class="sekunda-font main-heading-text left-space dark-text top-m-space">
            <img src="/static/img/16-a.svg"
                 width="60" align="absmiddle"
                 class="right-s-space"/>{{ datos.population_yucatan }}
        </h3>
        <h3 class="sekunda-font red-text left-double-space top-s-space inline-block">{{ datos.rural_inhabitants_yucatan }}%</h3> <h4
            class="sekunda-font inline-block dark-text text-size-2 smaller">rural<br/>inhabitants.</h4>
        <h4 class="sekunda-font dark-text text-size-2 smaller left-double-space top-s-space">IT provides the country
            with</h4>
        <h3 class="sekunda-font red-text left-double-space">{{ datos.gdp_gdp }}% <span class="dark-text">GDP</span></h3>
        <h3 class="sekunda-font red-text left-double-space top-s-space inline-block">{{ datos.surface_yucatan }}%</h3> <h4
            class="sekunda-font inline-block dark-text text-size-2 smaller">of the country´s<br/>total <span
            class="red-text">surface area</span>.</h4>

        <img class="floating-img sun" src="/static/img/sun-mini.svg" width="130"/>
        <img class="floating-img wave wave-a" src="/static/img/sea-wave.svg" width="130"/>
        <img class="floating-img wave wave-b" src="/static/img/sea-wave.svg" width="100"/>
        <img class="floating-img wave wave-c" src="/static/img/sea-wave.svg" width="90"/>
        <img class="floating-img coco-tree" src="/static/img/coco-tree.svg" width="90"/>
        <img class="floating-img piramid" src="/static/img/piramid.svg" width="90"/>

        <div class="star">
            <h3 class="red-text sekunda-font txt-a">Merida</h3>
            <h4 class="yellow-text sekunda-font">Capital City</h4>
            <span class="yellow-text sekunda-font txt-a">106 Municipalities</span>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>