<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="46"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-46 yellow-bg">

			<h2 class="sekunda-font red-text main-heading-text left-space top-s-space">CLIMATE</h2>
			<h3 class="sekunda-font main-heading-text text-size-3 left-space dark-text">in Yucatan and<br/>surrounding areas.</h3>

			<img src="/static/img/sun-mini.svg" class="sun sun-a" width="130" />
			<img src="/static/img/sun-mini.svg" class="sun sun-b" width="130" />
			<img src="/static/img/sun-mini.svg" class="sun sun-c" width="130" />
			<img src="/static/img/sun-mini.svg" class="sun sun-d" width="130" />

			<img src="/static/img/rain-mini.svg" class="cloud cloud-a" width="100" />
			<img src="/static/img/wind-mini-a.svg" class="wind floating-img" width="90" />
			<img class="floating-img coco-tree" src="/static/img/coco-tree.svg" width="90" />
			<img class="floating-img piramid" src="/static/img/piramid.svg" width="90" />

			<div class="floating-text text-a">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">warm semi-dry</h3>
			</div>
			<div class="floating-text text-b">
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">warm sub-humid</h3>
				<h4 class="sekunda-font red-text">90% of its territory</h4>
				<h3 class="sekunda-font main-heading-text text-size-3 dark-text">24<img src="/static/img/celsius-a-dark.svg" class="celsius" width="5" align="top">C - 27<img src="/static/img/celsius-a-dark.svg" class="celsius" width="5" align="top">C</h3>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The state of Yucatan has two types of weather, first is the warm sub-humid climate that makes up 90% of its territory, it has a fluctuating annual temperature between 24 to 27 degrees Celsius. The second climate is the warm semi-dry climate that makes up the coastal area.</p>
					<p>When spring ends there is moderate rainfall that is used for crops. They are called oriental rains, because they mostly come from the east and are accompanied by strong winds. The rainfall is more abundant in the south and less frequent in the coasts due to the lack of trees, many times maritime breezes push storm clouds away from the coast.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>