<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="47" >
	<div class="viewer">
		<section class="slide slide-47 yellow-bg">
			<h2 class="center-text sekunda-font red-text main-heading-text anim-text top-l-space">Traditional places in Yucatan</h2>
			<img src="/static/img/cable.svg" class="cable top-l-space" />
			<a class="paper-menu-tile valerie-font white-text tile-1" href="#"><span><img src="/static/img/47-a.svg" /></span></a>
			<a class="paper-menu-tile valerie-font white-text tile-2" href="#"><span><img src="/static/img/47-b.svg" /></span></a>
			<a class="paper-menu-tile valerie-font white-text tile-3" href="#"><span><img src="/static/img/47-c.svg" /></span></a>
			<a class="paper-menu-tile valerie-font white-text tile-4" href="#"><span><img src="/static/img/47-d.svg" /></span></a>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>