<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="49"  class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-49 yellow-bg">

			<h3 class="sekunda-font main-heading-text left-space red-text top-m-space">Kabah archeological zone</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/49-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">One of the cities that make up the Puuc Route, Kabah was the second most important. It is small but singularly beautiful because of the green gardens and the special architecture in the main building named the Palace of Masks.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>