<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body class="top-red-brand" data-slide="5">
<div class="viewer">
    <section class="slide slide-5 yellow-bg">

        <h4 class="center-text sekunda-font white-text main-heading-text floating-text">Continental<br/>Surface</h4>
        <h3 class="sekunda-font main-heading-text left-space"><span class="red-text">GEOGRAPHY</span><br/><span
                class="dark-text">United States<br/>of Mexico</span></h3>
        <h4 class="sekunda-font dark-text main-heading-text bigger left-space top-l-space">Continental Surface</h4>
        <h1 class="sekunda-font dark-text main-heading-text left-space anim-text">1,960,189<sup>KM<sup>2</sup></sup>
        </h1>
        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>Mexico’s surface is made up of the continental surface and the maritime surface.</p>
                <p>The continental surface refers to the parts of the national territory that are part of the American
                    continent, the surface of the country’s islands.</p>
                <p>The maritime surface is made up of the Territorial sea, and the Exclusive Economic Zone (EEZ).</p>
                <p>The area that the territorial sea and the EEZ occupy is defined through international treaties (with
                    the United States, Guatemala, Belize, Honduras and Cuba) and is guarded by the Secretary of the
                    Navy. Less than half of our territory is on dry land.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>