<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="51" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-51 yellow-bg">
			<h3 class="sekunda-font main-heading-text left-space red-text top-m-space">Cuzamaá subterranean lakes</h3>

			<div class="dark-bg-brand top-m-space">
				<img src="/static/img/51-img.svg" class="dark-brand-img left-space right-s-space" align="left" />
				<p class="yellow-text sekunda-font text-size-2">Located in the outskirts of Merida, where one can visit three different cenotes (subterranean lakes) the Chelentún, Chacsinicche and Bolonchojol. Swimming is allowed for only 30 minutes each, and the tour takes 3 hours.</p>
			</div>

			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: </div>
			
		</section>
	</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>