<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="53" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-53 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>
        <h1 class="sekunda-font main-heading-text center-text red-text top-xs-space">United States of Mexico</h1>
        <h4 class="dark-text sekunda-font center-text">is a federal republic based on a <span class="red-text">{{ datos.text_base_on }}</span>
        </h4>

        <img src="/static/img/president-move-trace.svg" width="40" class="floating-img move-trace"/>
        <img src="/static/img/president.svg" width="58" class="floating-img president"/>
        <img src="/static/img/president-board.svg" width="520" class="floating-img board"/>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
           {{ source }}
        </div>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>