<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="54" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-54 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>

        <img src="/static/img/president.svg" width="150" class="floating-img president"/>
        <img src="/static/img/president-place.svg" width="185" class="floating-img president-place"/>
        <img src="/static/img/president-vote.svg" width="163" class="floating-img president-vote"/>

        <img src="/static/img/president-vote-letter.svg" width="43" class="floating-img vote-letter vote-letter-a"/>
        <img src="/static/img/president-vote-letter.svg" width="35" class="floating-img vote-letter vote-letter-b"/>
        <img src="/static/img/president-vote-letter.svg" width="37" class="floating-img vote-letter vote-letter-c"/>
        <img src="/static/img/president-vote-letter.svg" width="25" class="floating-img vote-letter vote-letter-d"/>
        <img src="/static/img/president-vote-letter.svg" width="20" class="floating-img vote-letter vote-letter-e"/>
        <img src="/static/img/president-vote-letter.svg" width="24" class="floating-img vote-letter vote-letter-f"/>
        <img src="/static/img/president-vote-letter.svg" width="21" class="floating-img vote-letter vote-letter-g"/>

        <div class="floating-text text-a sekunda-font">
            <h4 class="white-text center-text top-s-space left-s-space">Executive branch</h4>
            <ul class="yellow-text">
                <li>The head of state.</li>
                <li>The chief of government.</li>
                <li>The Supreme commander<br/>of the Armed Forces.</li>
            </ul>
        </div>
        <div class="floating-text text-red-box-a sekunda-font white-text"><h5>{{ datos.text_reelection }}</h5></div>
        <div class="floating-text text-red-box-b sekunda-font white-text"><h5>{{ datos.year_election }} years</h5></div>

        <h4 class="floating-text dark-text sekunda-font text-b">elected by<br/><span
                class="red-text">effective suffrage</span></h4>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
           {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>By constitutional mandate, the Executive Power in Mexico resides in the president of the United
                    States of Mexico. The president is simultaneously the head of state, the chief of government and the
                    Supreme commander of the Armed Forces. The President is elected by ‘effective suffrage’ and there is
                    no possibility for reelection. The presidential term is {{ datos.year_election }} years.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>