<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="55" class="top-red-brand">
	<div class="viewer" >
		<section class="slide slide-55 yellow-bg" >
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>

			<h4 class="floating-text red-text sekunda-font center-text">Legislative branch</h4>
			<h4 class="floating-text floating-text-a center-text sekunda-font absolute">
				<span class="dark-text">Chamber of Deputies</span><br/>
				<span class="red-text">({{ datos.chamber_of_diputies }} members)</span>
			</h4>
			<h4 class="floating-text floating-text-b center-text sekunda-font absolute">
				<span class="dark-text">Senate of the Republic</span><br/>
				<span class="red-text">({{ datos.senate_of_republic }} members)</span>
			</h4>
			<h6 class="sekunda-font white-text floating-text-c absolute">
				{{ datos.popular_vote_total }} are chosen through<br/>
				the popular vote<br/>
				{{ datos.proportional_representation }} which are chosen by<br/>
				proportional representation. 
			</h6>
			<h6 class="sekunda-font white-text floating-text-d right-text absolute">
				The Senate chooses its members<br/>
				due to proportional representation,<br/>
				choosing {{ datos.every_two_year }} of their {{ datos.sentate_members }} members<br/>
				every two years.
			</h6>
			
			<div class="bottom-line-text yellow-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The Mexican legislative branch is divided into the Congress of the Union, which is divided into two chambers: The Chamber of Deputies and the Senate of the Republic. The Chamber of Deputies has 500 deputies, 300 who are chosen through the popular vote and 200 which are chosen by proportional representation.</p>
					<p>The Senate chooses its members due to proportional representation, choosing 32 of their 96 members every two years.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>