<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="56" class="top-red-brand">
	<div class="viewer" style="height: 800px!important;">
		<section class="slide slide-56 yellow-bg" style="padding-top: 120px;!important;">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>

			<h4 class="floating-text red-text sekunda-font center-text top-m-space">Main political parties. <span class="dark-text">Mexico has a multi-party system.</span></h4>
			<div class="center-text top-m-space logos-partidos">
				<img src="/static/img/logo-partido-pri.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-pan.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-prd.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-morena.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-pt.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-verde.svg" class="right-m-space bottom-s-space" width="147" />
				<img src="/static/img/logo-partido-mov-ciud.svg" class="right-m-space bottom-s-space" width="147" />
			</div>
			
			<div class="bottom-line-text yellow-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexico has a multi-party system. The transition into democratic pluralism displaced the center of power from the executive to the legislative and the territorial authorities.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>