<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="59" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-59 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>

			<div class="clearfix top-m-space fixed-height">
				<div class="col col-5 right-text">
					<img src="/static/img/logo-partido-prd.svg" width="147" align="absmiddle" />
					<img src="/static/img/llave.svg" width="70" align="absmiddle"  style="margin-left: 80px;"/>
				</div>
				<div class="col col-7">
					<div class="vertical-align-container">
						<div class="tabcell">
							<h4 class="floating-text red-text sekunda-font">Democratic Revolution Party (PRD)</h4>
							<h4 class="floating-text dark-text sekunda-font ">center left</h4>
							<h4 class="floating-text dark-text sekunda-font ">socialist leftwing party.</h4>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: </div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>