<!DOCTYPE html>
<html>
<head>
        {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body class="top-red-brand"  data-slide="6">
	<div class="viewer">
		<section class="slide slide-6 yellow-bg">

			<h2 class="sekunda-font main-heading-text left-space red-text">in comparison</h2>
			<h4 class="sekunda-font dark-text main-heading-text bigger left-space">To other countries</h4>
			<table class="nostyle left-space top-m-space">
				<thead class="dark-text sekunda-font left-text">
					<th>Country</th>
					<th>Total Surface (km2)</th>
				</thead>
				<tbody class="white-text valerie-font">
					<tr><td>1. Russia</td><td>17,098,242</td></tr>
					<tr><td>2. Canada</td><td>9,984,670</td></tr>
					<tr><td>3. USA</td><td>9,826,675</td></tr>
					<tr><td>4. China</td><td>9,596,960</td></tr>
					<tr><td>5. Brazil</td><td>8,514,877</td></tr>
					<tr><td>6. Australia</td><td>7,741,220</td></tr>
					<tr><td>7. India</td><td>3,287,263</td></tr>
					<tr><td>8. Argentina</td><td>2,780,400</td></tr>
					<tr><td>9. Kazakhstan</td><td>2,724,900</td></tr>
					<tr><td>10. Algeria</td><td>2,381,741</td></tr>
					<tr><td>11. The Congo</td><td>2,344,858</td></tr>
					<tr><td>12. Greenland</td><td>2,166,086</td></tr>
					<tr><td>13. Saudi Arabia</td><td>2,149,690</td></tr>
					<tr class="dark-text sekunda-font anim-text highlighted"><td>14. Mexico</td><td>1,960,189</td></tr>
					<tr><td>15. Indonesia</td><td>1,904,569</td></tr>
				</tbody>
			</table>
			<h1 class="sekunda-font red-text main-heading-text floating-text">1,960,189<sup>KM<sup>2</sup></sup></h1>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexico occupies the fourteenth place in the world in regards to national territory.</p>
					<p>To govern, organize and administrate their territory, Mexico is organized into 32 states. Mexico City is the capital and the seat of the three branches of government (Executive, Judicial and Legislative).</p>
					<p>Each state is comprised of multiple municipalities, of which there are 2,457 in the entire country. Separate from this, Mexico City has 16 different politically separated municipalities.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>