<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="60" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-60 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Government</h3>

        <div class="clearfix top-m-space fixed-height">
            <div class="col col-5 right-text">
                <img src="/static/img/president-saludo.svg" width="190" align="absmiddle" class="president-saludo"/>
                <img src="/static/img/president-place.svg" width="184" align="absmiddle" class="president-place"/>
                {% if datos.political_party == "PRI" %}
                    <img src="/static/img/bandera-presidente.svg" width="65" align="absmiddle"
                         class="president-bandera"/>
                {% endif %}
                {% if datos.political_party == "PAN" %}
                    <img src="/static/img/bandera-presidente-pan.svg" width="65" align="absmiddle"
                         class="president-bandera"/>
                {% endif %}
                {% if datos.political_party == "MORENA" %}
                    <img src="/static/img/bandera-presidente-morena.svg" width="65" align="absmiddle"
                         class="president-bandera"/>
                {% endif %}
            </div>
            <div class="col col-7">
                <div class="vertical-align-container">
                    <div class="tabcell">
                        <h4 class="floating-text red-text sekunda-font left-m-space">Political leaders in power:</h4>
                        <h3 class="sekunda-font red-text main-heading-text top-xs-space">
                            {% if datos.president_text != None %}
                                {{ datos.president_text }}
                            {% else %}
                                <img src="{{ datos.president_img.url }}" alt="Pesident" width="270px" height="65px">
                            {% endif %}

                        </h3>
                        <h4 class="floating-text dark-text sekunda-font left-m-space">since {{ datos.since }} </h4>
                        <h4 class="floating-text dark-text sekunda-font left-m-space top-s-space">Next elections:</h4>
                        <div class="valerie-font red-text reg-text">
                            Presidential {{ datos.next_elections_month }}, {{ datos.next_elections_year }}.<br/>
                            Senate: {{ datos.next_elections_senate_year }}.<br/>
                            Deputies: {{ datos.next_elections_deputies_year }}.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
            {{ source }}
        </div>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>