<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body data-slide="62" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-62 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>

        <div class="clearfix top-m-space fixed-height">
            <div class="col col-5 right-text">
                <h4 class="dark-text sekunda-font text-size-3 right-s-space">
                    challenging external environment<br/>
                    modest global growth<br/>
                    commerce stagnation<br/>
                    gradual increase in the prices<br/>
                    of oil decrease in capital flow.
                </h4>
            </div>
            <div class="col col-7 relative">
                <div id="container" style="width: 100%;">
                    <canvas id="canvas"></canvas>
                </div>
                <h4 class="dark-text sekunda-font text-size-3 chart-legend">growth rate (GDP)</h4>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
            {{ source }}
        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>The economic growth in 2016 was driven almost exclusively by private consumption, which was helped by
                    low inflation, workers remittances, the expansion of credit, the real highest salaries and the
                    creation of jobs in the formal sector.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var color = Chart.helpers.color;
    var barChartData = {
        labels: [
            '{{ datos.first_year }}',
            '{{ datos.second_year}}',
            '{{ datos.three_year}}',
            '{{ datos.four_year}}',
            '{{ datos.five_year}}',
            '{{ datos.six_year}}',
            '{{ datos.seven_year}}',
            '{{ datos.eight_year}}',
            '{{ datos.nine_year}}',
            '{{ datos.ten_year}}'
        ],
        datasets: [{
            label: 'GDP',
            // backgroundColor: color(window.chartColors.g).alpha(0.5).rgbString(),
            backgroundColor: window.chartColors.g,
            borderColor: window.chartColors.g,
            fill:false,
            borderWidth: 1,
            data: [
                {{ datos.first_year_percentage }},
                {{ datos.second_year_percentage }},
                {{ datos.three_year_percentage }},
                {{ datos.four_year_percentage }},
                {{ datos.five_year_percentage }},
                {{ datos.six_year_percentage }},
                {{ datos.seven_year_percentage }},
                {{ datos.eight_year_percentage }},
                {{ datos.nine_year_percentage }},
                {{ datos.ten_year_percentage }}
            ]
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#6E4012';
        window.myBar = new Chart(ctx, {
            type: 'line',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'right',
                    labels: {
                        fontSize: 25,
                        fontFamily: 'Sekunda',
                        fontColor: '#E5294D'
                    }
                }
            }
        });

    };

</script>
</body>
</html>