<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="63" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-63 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
        <h4 class="sekunda-font dark-text top-xs-space left-space">The external conditions weakened the economy</h4>

        <div class="clearfix top-m-space">
            <div class="col col-5">
                <img src="/static/img/oil.svg" width="65" class="left-space right-s-space anim-a" align="bottom"/>
                <h4 class="dark-text sekunda-font inline-block">Oil prices<br/>significant decreased</h4>
                <div class="clearfix top-s-space"></div>
                <img src="/static/img/credit.svg" width="66" class="left-space right-s-space anim-b"/>
                <h4 class="dark-text sekunda-font inline-block">Low interest rates</h4>
                <div class="clearfix top-s-space"></div>
                <img src="/static/img/dollar.svg" width="75" class="left-space right-s-space anim-c"/>
                <h4 class="dark-text sekunda-font inline-block">Exchange<br/>Rate vs. US Dollar</h4>
                <div class="clearfix top-s-space"></div>
                <img src="/static/img/gasoline.svg" width="67" class="left-space right-s-space anim-d"/>
                <h4 class="dark-text sekunda-font inline-block">Nafta agreement<br/>uncertainty</h4>
            </div>
            <div class="col col-7 relative">
                <h4 class="red-box white-text sekunda-font">2.7% to 3.4%</h4>
                <h4 class="dark-text sekunda-font">
                    annual inflation average<br/>
                    2015 - 2016
                </h4>
                <h4 class="red-box white-text sekunda-font top-xs-space">6.4%</h4>
                <h4 class="dark-text sekunda-font">
                    annual inflation average<br/>
                    MARCH 2017
                </h4>
                <img src="/static/img/up-arrow.svg" width="23" class="top-s-space anim-e"/>
                <h4 class="red-box white-text sekunda-font">15-20%</h4>
                <h2 class="dark-text sekunda-font inline-block">=</h2>
                <h4 class="red-box white-text sekunda-font inline-block">4.9%</h4>
                <h6 class="dark-text sekunda-font text-size-1 inline-block">
                    annual inflation<br/>
                    of consumer goods
                </h6>
                <div class="clearfix"></div>
                <h4 class="dark-text sekunda-font inline-block left-s-space">Jan-2017</h4>
                <h4 class="dark-text sekunda-font inline-block left-space">Feb-2017</h4>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:
{{ source }}        </div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>The external conditions weakened the economy, and caused a major depreciation of the Mexican peso
                    against the US dollar.</p>
                <p>The monetary depreciation and the inflation kept limited during most of 2015 and 2016, with an annual
                    average of inflation in consumer goods prices of about 2.7 to 3.4 percent, respectively.</p>
                <p>Nevertheless, the added currency weakness and the possible non-linear effects of the inflation
                    brought a strong response in the monetary policies rising the interest over the course of one day to
                    350 base points in the last 15 months, to 6.5% in March 2017.</p>
                <p>The increase in the price of gasolines in 15-20% in January of 2017 elevated the annual inflation of
                    consumer goods in February 2017 to 4.9%. The structural change in national politics that regulate
                    the price of gasolines -changes due to a fixed tax on gas- can increase the rate of depreciation to
                    inflation.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>