<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="64" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-64 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>

			<div class="clearfix top-m-space fixed-height">
				<div class="col col-5 relative">
					<img src="/static/img/money.svg" width="82" class="floating-img money-a" />
					<img src="/static/img/money.svg" width="74" class="floating-img money-b" />
					<img src="/static/img/money.svg" width="53" class="floating-img money-c" />
					<img src="/static/img/money.svg" width="41" class="floating-img money-d" />
					<img src="/static/img/money.svg" width="38" class="floating-img money-e" />
					<img src="/static/img/money.svg" width="32" class="floating-img money-f" />
					<h4 class="dark-text sekunda-font floating-text">depreciation of the Mexican peso</h4>
					<div class="clearfix top-s-space"></div>
					<img src="/static/img/dollar.svg" class="left-space right-m-space floating-img dollar" />
				</div>
				<div class="col col-7 relative">
					<h4 class="dark-text sekunda-font text-size-3">
						inflation kept limited IN<br/>
						<span class="red-text">{{ datos.first_year_inflation }}</span> and <span class="red-text">{{ datos.second_year_inflation }}</span> with an annual average<br/>
						of inflation in consumer goods prices of<br/>
					</h4>
					<h2 class="red-text sekunda-font">{{ datos.range_percentage }}</h2>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The external conditions weakened the economy, and caused a major depreciation of the Mexican peso against the US dollar.</p>
					<p>The monetary depreciation and the inflation kept limited during most of 2015 and 2016, with an annual average of inflation in consumer goods prices of about 2.7 to 3.4 percent, respectively.</p>
					<p>Nevertheless, the added currency weakness and the possible non-linear effects  of the inflation brought a strong response in the monetary policies rising the interest over the course of one day to 350 base points in the last 15 months, to 6.5% in March 2017.</p>
					<p>The increase in the price of gasolines in 15-20% in January of 2017 elevated the annual inflation of consumer goods in February 2017 to 4.9%. The structural change in national politics that regulate the price of gasolines -changes due to a fixed tax on gas- can increase the rate of depreciation to inflation.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>