<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <script src="/static/js/Chart.bundle.min.js"></script>
    <script src="/static/js/utils.js"></script>
</head>
<body data-slide="65" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-65 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>

        <div class="clearfix top-m-space">
            <div class="col col-5 right-text">
                <h3 class="sekunda-font red-text text-center">{{ datos.inflation_consumer_goods_actual }}%</h3>
                <h4 class="sekunda-font dark-text text-center">inflation of<br/>consumer goods</h4>
                 <h4 class="mt-25 sekunda-font dark-text text-center">MX Bank forecast for <span
                    class="red-text">{{ datos.bank_forecast }}</span></h4>
            </div>
            <div class="col col-7 relative">
                <div id="container" style="width: 100%;">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>The external conditions weakened the economy, and caused a major depreciation of the Mexican peso
                    against the US dollar.</p>
                <p>The monetary depreciation and the inflation kept limited during most of 2015 and 2016, with an annual
                    average of inflation in consumer goods prices of about 2.7 to 3.4 percent, respectively.</p>
                <p>Nevertheless, the added currency weakness and the possible non-linear effects of the inflation
                    brought a strong response in the monetary policies rising the interest over the course of one day to
                    350 base points in the last 15 months, to 6.5% in March 2017.</p>
                <p>The increase in the price of gasolines in {{ datos.price_of_gasolines }} in January of 2017 elevated
                    the annual inflation of consumer goods in February 2017 to 4.9%. The structural change in national
                    politics that regulate the price of gasolines -changes due to a fixed tax on gas- can increase the
                    rate of depreciation to inflation.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
<script>
    var color = Chart.helpers.color;
    var barChartData = {
        labels: [
            '{{ datos.inflation_consumer_goods_year_one }}',
            '{{ datos.inflation_consumer_goods_year_two }}',
            '{{ datos.inflation_consumer_goods_year_three }}',
            '{{ datos.inflation_consumer_goods_year_four }}',
            '{{ datos.inflation_consumer_goods_year_five }}',
            '{{ datos.inflation_consumer_goods_year_six }}',
            '{{ datos.inflation_consumer_goods_year_seven }}',
            '{{ datos.inflation_consumer_goods_year_eight }}',
            '{{ datos.inflation_consumer_goods_year_nine }}',
            '{{ datos.inflation_consumer_goods_year_ten }}'

        ],
        datasets: [{
            label: 'GDP',
            // backgroundColor: color(window.chartColors.g).alpha(0.5).rgbString(),
            backgroundColor: window.chartColors.g,
            borderColor: window.chartColors.g,
            fill: false,
            borderWidth: 1,
            data: [
                {{ datos.inflation_consumer_goods_one }},
                {{ datos.inflation_consumer_goods_two }},
                {{ datos.inflation_consumer_goods_three }},
                {{ datos.inflation_consumer_goods_four }},
                {{ datos.inflation_consumer_goods_five }},
                {{ datos.inflation_consumer_goods_six }},
                {{ datos.inflation_consumer_goods_seven }},
                {{ datos.inflation_consumer_goods_eight }},
                {{ datos.inflation_consumer_goods_nine }},
                {{ datos.inflation_consumer_goods_ten }}
            ]
        }]

    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#6E4012';
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    position: 'right',
                    labels: {
                        fontSize: 25,
                        fontFamily: 'Sekunda',
                        fontColor: '#E5294D'
                    }
                }
            }
        });

    };

</script>
</body>
</html>