<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="66" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-66 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC<br/>context</h3>
			<h2 class="sekunda-font dark-text left-space top-s-space">{{ datos.year_reduction }}</h2>
			<h4 class="dark-text sekunda-font text-size-3 left-space">reduction of the deficit<br/>in the current account</h4>
			<h4 class="red-text sekunda-font text-size-3 left-space">{{ datos.reduction_from }}<br/>{{ datos.reduction_to }}</h4>
			<h5 class="dark-text sekunda-font left-space">(2.7 percent of the GDP)</h5>

			<div class="floating-text text-a center-text">
				<img src="/static/img/yellow-arrow.svg" class="floating-img arrow-a" width="31" />
				<img src="/static/img/21-maiz.svg" width="25" />
				<h4 class="sekunda-font red-text right-text">decrease<br/><span class="yellow-text">in imports</span></h4>
			</div>

			<div class="floating-text text-b">
				<img src="/static/img/yellow-arrow.svg" class="floating-img arrow-b" width="35" />
				<img src="/static/img/dollar.svg" width="79" />
				<h4 class="sekunda-font white-text text-size-3">8.8%</h4>
				<h5 class="sekunda-font green-text">increase in<br/><span class="yellow-text">workers remittances</span></h5>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The increase in external competitivity due to the depreciation of the national currency has not led to an expansion of exports (yet).</p>
					<p>A moderate reduction of the deficit in the current account from $5,500 million USD to $27,900 million USD (2.7 percent of the GDP) in 2016, was mainly the results of a decrease in imports and a significant increase in workers remittances (an 8.8 percent more towards $27 billion USD).</p>
					<p>The increase in direct foreign investment (IED) financed the deficit of the current account, reducing the dependence to the diminishing of capital funds.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>