<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="67" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-67 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC<br/>context</h3>
			<h4 class="dark-text sekunda-font text-size-3 left-space top-m-space">A new economic<br/><span class="red-text">deceleration is expected</span></h4>

			<div class="floating-text text-a center-text">
				<h4 class="sekunda-font yellow-text">ceasing the net investment</h4>
				<h4 class="sekunda-font dark-text">manufacture industry</h4>
				<img src="/static/img/stop-hand.svg" class="img-a" width="120" />
			</div>		
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>