<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="68" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-68 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC<br/>context</h3>

			<img src="/static/img/pesa-top.svg" class="pesa-top" width="500" />
			<img src="/static/img/pesa-bottom.svg" class="pesa-bottom" width="146" />
			<img src="/static/img/pesa-piece.svg" class="pesa-piece-left" width="278" />
			<img src="/static/img/pesa-piece.svg" class="pesa-piece-right" width="278" />
			<img src="/static/img/oil.svg" class="oil" width="123" />
			<img src="/static/img/red-arrow.svg" class="red-arrow-down" width="45" />
			<img src="/static/img/red-arrow-up.svg" class="red-arrow-up" width="40" />

			<div class="floating-text center-text">
				<h4 class="sekunda-font red-text text-size-3">public<br/>sector</h4>
				<h4 class="sekunda-font dark-text">fiscal deficit of 2.9%<br/>of the GDP in 2016.</h4>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>A new economic deceleration is expected due to the US ceasing the net investment in Mexico, in particular  the expansion of activities related with commerce in the manufacture industry.</p>
					<p>The public sector achieved its objective with a fiscal deficit of 2.9% of the GDP in 2016. The growth of non-oil related tax income balanced with the fall of the oil related income and allowed the government to fulfill with the requirements of additional expenses, like the financial support to Pemex, the country’s oil company, payment of interests and the costs of pensions.</p>
					<p>The capability of the public sector to contribute to the growth is limited by the need of tax consolidation and stabilization between debt and GDP.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>