<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="69" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-69 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>

			<div class="clearfix">
				<div class="col col-7 center-text">
					<div class="family-bubble top-m-space">
						<h4 class="sekunda-font white-text">{{ datos.families }} million <span class="yellow-text">families</span></h4>
						<h4 class="sekunda-font white-text">{{ datos.monthly_wage }} MXN <span class="yellow-text">monthly wage <sub>Average</sub></span></h4>
						<h4 class="sekunda-font white-text">{{ datos.purchasing_power }} people <span class="yellow-text">Purchasing Power Parity <sub>Average</sub></span></h4>
						<h4 class="sekunda-font white-text">{{ datos.anual_spending }} MXN <span class="yellow-text">annual spending <sub>Average</sub></span></h4>
						<h4 class="sekunda-font white-text">{{ datos.anual_spending_per_person }} MXN <span class="yellow-text">annual spending per person <sub>Average</sub></span></h4>
						<img src="/static/img/family.svg" class="top-l-space family-img" width="155" />
					</div>
				</div>
				<div class="col col-5">
					<table class="colored-table">
						<thead>
							<th colspan="2" class="red-text">Family Spending Distribution</th>
						</thead>
						<tbody>
							<tr>
								<td>Non alcoholic food and drink</td>
								<td>{{ datos.non_alcoholic_food }}%</td>
							</tr>
							<tr>
								<td>Housing, water, power and gas</td>
								<td>{{ datos.housing_water }}%</td>
							</tr>
							<tr>
								<td>Transportation</td>
								<td>{{ datos.transportation }}%</td>
							</tr>
							<tr>
								<td>Restaurants & hotels</td>
								<td>{{ datos.restaurant }}%</td>
							</tr>
							<tr>
								<td>Health / Alcohol / Tobacco</td>
								<td>{{ datos.health }}%</td>
							</tr>
							<tr>
								<td>Goods and services</td>
								<td>{{ datos.goods_services }}%</td>
							</tr>
							<tr>
								<td>Clothing and footwear</td>
								<td>{{ datos.clothing }}%</td>
							</tr>
							<tr>
								<td>Recreation and culture</td>
								<td>{{ datos.recreation }}%</td>
							</tr>
							<tr>
								<td>Furniture and household decoration</td>
								<td>{{ datos.decoration }}%</td>
							</tr>
							<tr>
								<td>Communication</td>
								<td>{{ datos.communication }}%</td>
							</tr>
							<tr>
								<td>Education</td>
								<td>{{ datos.education }}%</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>