<!DOCTYPE html>
<html>
<head>
        {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body class="top-red-brand" data-slide="7">
	<div class="viewer">
		<section class="slide slide-7 yellow-bg">

			<h2 class="sekunda-font main-heading-text left-space red-text">STATES<br/>AND REGIONS</h2>
			<h2 class="sekunda-font dark-text main-heading-text left-space top-l-space">32 States</h2>
			<p class="left-space valerie-font mt-none reg-text"><span class="red-text">each one divided into</span> <span class="dark-text">municipalities</span></p>
			<h2 class="sekunda-font dark-text main-heading-text left-space top-s-space">Mexico City</h2>
			<p class="left-space valerie-font mt-none reg-text"><span class="red-text">is the only one that is not divided into Municipalities<br/>but into</span> <span class="dark-text">"Delegaciones"</span></p>
			<p class="left-space valerie-font dark-text reg-text">The smallest geopolitical division in<br/> each municipality or Delegación are<br/> neighborhoods ("Colonias").</p>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>