<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="70" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-70 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>

			<div class="clearfix">
				<div class="col col-6 center-text">
					<div class="family-bubble top-m-space">
						<h4 class="sekunda-font dark-text text-size-3">How much are Mexicans willing<br/>to spend on entertainment</h4>
						<img src="/static/img/sofa-family.svg" class="top-m-space family-img" width="293" />
					</div>
				</div>
				<div class="col col-6">
					<table class="colored-table">
						<thead>
							<th class="red-text">Activity / Technology</th>
							<th class="red-text">Average cost</th>
						</thead>
						<tbody>
							<tr>
								<td>Movies</td>
								<td>{{ datos.movies }} MXN</td>
							</tr>
							<tr>
								<td>Concerts</td>
								<td>{{ datos.concerts }} MXN </td>
							</tr>
							<tr>
								<td>TV</td>
								<td>{{ datos.tv }} MXN <sub>(monthly)</sub></td>
							</tr>
							<tr>
								<td>TV online</td>
								<td>{{ datos.tv_online }} MXN <sub>(monthly)</sub></td>
							</tr>
							<tr>
								<td>Music online</td>
								<td>{{ datos.music_online }} MXN <sub>(monthly)</sub></td>
							</tr>
							<tr>
								<td>smartphone (57%) <sub>Average</sub></td>
								<td>{{ datos.smartphone }} MXN</td>
							</tr>
							<tr>
								<td>tablet (20%) <sub>Average</sub></td>
								<td>{{ datos.tablet }} MXN</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>