<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="71" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-71 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
		
			<table class="colored-table full top-m-space">
				<thead>
					<th class="red-text">Marker of growth</th>
					<th class="red-text">2014</th>
					<th class="red-text">2015</th>
					<th class="red-text">2016</th>
					<th class="red-text">2017*</th>
					<th class="red-text">2018*</th>
                    <th class="red-text">2019*</th>
					<th class="red-text">2020*</th>
				</thead>
				<tbody>
					<tr>
						<td>GDP (billions of USD)</td>
						<td>1,00</td>
						<td>1,00</td>
						<td>1,00</td>
						<td>{{ datos.gdp_2017 }}</td>
						<td>{{ datos.gdp_2018 }}</td>
						<td>{{ datos.gdp_2019 }}</td>
						<td>{{ datos.gdp_2020 }}</td>
					</tr>
					<tr>
						<td>GDP (Annual growth in %, constant price)</td>
						<td>2,3</td>
						<td>2,6</td>
						<td>2,3</td>
						<td>{{ datos.gdp_anual_2017 }}</td>
						<td>{{ datos.gdp_anual_2018 }}</td>
                        <td>{{ datos.gdp_anual_2019 }}</td>
						<td>{{ datos.gdp_anual_2020 }}</td>
					</tr>
					<tr>
						<td>GDP per capita (USD)</td>
						<td>10</td>
						<td>9</td>
						<td>8e</td>
						<td>{{ datos.gdp_per_capita_2017 }}</td>
						<td>{{ datos.gdp_per_capita_2018 }}</td>
						<td>{{ datos.gdp_per_capita_2019 }}</td>
						<td>{{ datos.gdp_per_capita_2020 }}</td>
					</tr>
					<tr>
						<td>Public finance balances (% of GDP)</td>
						<td>-4,9</td>
						<td>-4,6</td>
						<td>-4,1</td>
						<td>{{ datos.public_finance_2017 }}</td>
						<td>{{ datos.public_finance_2018 }}</td>
						<td>{{ datos.public_finance_2019 }}</td>
						<td>{{ datos.public_finance_2020 }}</td>
					</tr>
					<tr>
						<td>State debt (in % of GDP)</td>
						<td>49,5</td>
						<td>53,7</td>
						<td>58,1</td>
						<td>{{ datos.state_debt_2017 }}</td>
						<td>{{ datos.state_debt_2018 }}</td>
						<td>{{ datos.state_debt_2019 }}</td>
						<td>{{ datos.state_debt_2020 }}</td>
					</tr>
					<tr>
						<td>Inflation rate (%)</td>
						<td>4,0</td>
						<td>2,7</td>
						<td>2,8</td>
						<td>{{ datos.inflation_rate_2017 }}</td>
						<td>{{ datos.inflation_rate_2018 }}</td>
						<td>{{ datos.inflation_rate_2019 }}</td>
						<td>{{ datos.inflation_rate_2020 }}</td>
					</tr>
					<tr>
						<td>Unemployment rate (% of active population)</td>
						<td>4,8</td>
						<td>4,4</td>
						<td>4,3</td>
						<td>{{ datos.unemployment_2017 }}</td>
						<td>{{ datos.unemployment_2018 }}</td>
						<td>{{ datos.unemployment_2019 }}</td>
						<td>{{ datos.unemployment_2020 }}</td>
					</tr>
					<tr>
						<td>Current transaction balance (billions of USD)</td>
						<td>-26,20</td>
						<td>-33,35</td>
						<td>-27,86</td>
						<td>{{ datos.current_transaction_balance_usd_2017 }}</td>
						<td>{{ datos.current_transaction_balance_usd_2018 }}</td>
						<td>{{ datos.current_transaction_balance_usd_2019 }}</td>
						<td>{{ datos.current_transaction_balance_usd_2020 }}</td>
					</tr>
					<tr>
						<td>Current transaction balance (% of GDP)</td>
						<td>-2,0</td>
						<td>-2,9</td>
						<td>-2,7</td>
						<td>{{ datos.current_transaction_balance_gdp_2017 }}</td>
						<td>{{ datos.current_transaction_balance_gdp_2018 }}</td>
						<td>{{ datos.current_transaction_balance_gdp_2019 }}</td>
						<td>{{ datos.current_transaction_balance_gdp_2020 }}</td>
					</tr>
				</tbody>
			</table>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>