<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="72" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-72 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">ECONOMY SECTORS</h4>
		
			<div class="clearfix center-text">
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">AGRICULTURE</h4>
					<img src="/static/img/tractor.svg" width="200" class="top-s-space tractor" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.agriculture_gdp }}% of GDP</h4>
					<h4 class="dark-text sekunda-font">employs more than 13%<br/>of the active population.</h4>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">GAS & OIL</h4>
					<img src="/static/img/oil.svg" width="100" class="top-s-space oil" />
					<img src="/static/img/gas.svg" width="100" class="top-s-space gas" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.gas_oil }}</h4>
					<h4 class="dark-text sekunda-font">PEMEX is the second most powerful<br/>company in Latin America</h4>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">Cattle raising & fishing</h4>
					<img src="/static/img/res.svg" width="100" class="top-s-space res" />
					<img src="/static/img/fish.svg" width="100" class="top-s-space fish" />
					<h4 class="dark-text sekunda-font top-s-space">also important economic activities<br/>in the food sector.</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Agriculture represents more than 3.5% of GDP and employs more than 13% of the active population. Nevertheless, the lack of credit is still harming this sector. Mexico is one of the top producers of coffee, sugar, corn, orange, lime and avocado and lime in the world. Mexico is also the fifth most important producer of beer, and the second exporter on a worldwide level. It is also one of the most important producers of minerals in the world, including silver, fluorite, zinc and mercury.</p>
					<p>The gas and petroleum reserves make up some of Mexico’s most important resources: Mexico is the fifth biggest producer of oil in the world, while PEMEX is the second most powerful company in Latin America according to a magazine specialized in American Economy.</p>
					<p>Cattle raising and fishing are also important economic activities in the food sector.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>