<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="74" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-74 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">ECONOMY SECTORS</h4>
		
			<div class="clearfix center-text">
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">clusters</h4>
					<img src="/static/img/cluster.svg" width="139" class="top-s-space cluster" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">call centers</h4>
					<h4 class="dark-text sekunda-font">low costs of operation.</h4>
					<h4 class="red-text sekunda-font">employs almost <span class="red-text">{{ datos.call_center }}</span><br/>of the active population.</h4>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">SERVICE</h4>
					<img src="/static/img/services.svg" width="168" class="top-s-space service" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.service_gdp }}% of the GDP</h4>
					<h4 class="dark-text sekunda-font">employs <span class="red-text">{{ datos.service_active_population }}%</span> of the<br/>active population.</h4>
				</div>
				<div class="col col-4">
					<h4 class="text-size-3 red-text sekunda-font top-s-space">CONSTRUCTION</h4>
					<img src="/static/img/construction.svg" width="137" class="top-s-space construction" />
					<h4 class="text-size-3 red-text sekunda-font top-s-space">{{ datos.construction }}</h4>
{#					<h4 class="dark-text sekunda-font">Due to strong investment in real estate.</h4>#}
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The air and space industry has grown a lot due to the presence of almost 190 companies, including Bombardier, Goodrich, the Safran & Honeywell group etc; together they employ 30,000 people. Mexico is also one of the top ten most important producers of automobiles in the world. The high technology, information and software development sectors are very productive, due to the quality of the workforce, the ‘clusters’ and the low costs of operation the work in favor of call centers. The industry employs almost 25% of the active population and represents almost a third of the GDP.</p>
					<p>The service sector provides more than 60% of the GDP and employs the same percentage of the active population. Due to strong investment in real estate, the construction sector has recovered since 2010.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>