<!DOCTYPE html>
<html>
<head>
    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
</head>
<body data-slide="75" class="top-red-brand">
<div class="viewer">
    <section class="slide slide-75 yellow-bg">
        <h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
        <h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">Country's main income sources.</h4>

        <div class="clearfix full-height-custom">
            <div class="col col-5">
                <h1 class="red-text sekunda-font top-s-space text-aa left-space">{{ datos.automobile_export }}<sup>st<img
                        src="/static/img/automobile.svg" width="52" class="carrito"/></sup><sub class="dark-text">automobile
                    export</sub></h1>
                <h1 class="red-text sekunda-font top-s-space text-ab left-space">{{ datos.remittances }}<sup>nd<img
                        src="/static/img/dollar.svg" class="carrito" width="52"/></sup><sub class="dark-text">remittances</sub></h1>
            </div>
            <div class="col col-7 center-text relative full-height center-text">
                <img src="/static/img/usa.svg" width="430" class="usa-map"/>
                <img src="/static/img/construction-yellow.svg" width="116" class="floating-img construction"/>
                <h2 class="sekunda-font yellow-text floating-text text-a">{{ datos.american_construction }}%</h2>
                <h4 class="yellow-text sekunda-font floating-text text-b">American construction industry</h4>

                <svg version="1.1" class="curve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.4 75.1" style="enable-background:new 0 0 52.4 75.1; width: 50px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
						<path fill="transparent" d="M1,1.5c6.2-1.5,13,0.7,17.9,4.9s8,10.1,9.9,16.2c1.8,5.8,2.5,12.2,0.6,18c-1.8,5.8-6.6,10.9-12.6,12
							c-2.8,0.5-6.2-0.2-7.3-2.8c-0.8-1.9-0.1-4.1,1-5.9c2.4-3.8,6.7-6.2,11.1-6.9s9,0,13.2,1.6c6.1,2.3,11.6,6.4,14.6,12.1
							c3.1,5.7,2.2,18.1-1.3,23.5" stroke="#E3294D" stroke-width="2">
							<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="freeze"/>
						</path>
					</svg>

                <img src="/static/img/dollar.svg" width="50" class="floating-img dollar"/>
                <img src="/static/img/money-stack.svg" width="50" class="floating-img money-stack"/>

                <svg version="1.1" class="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 95.7 68" style="enable-background:new 0 0 95.7 68; width: 90px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
						<path fill="transparent" d="M4.5,64.4c0,0,11-15.8,15.5-20.7s12.8-12.8,12.8-12.8s4,3.8,9.8,6.7S54,42.7,54,42.7S77.3,17.6,82,13
							s7.5-8.7,7.5-8.7h-8.3l9.8,7.8l-1-5.8l-0.1-1.6l-6.1,0.4l5.5,4.5l-0.4-3L86,5.7" stroke="#E3294D" stroke-width="7">
							<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="freeze" repeatCount="indefinite" />
						</path>
					</svg>

                <img src="/static/img/xaxis.svg" width="288" class="floating-img xaxis"/>
                <h4 class="sekunda-font dark-text floating-text text-c">{{ datos.american_construction_start_year }}</h4>
                <h4 class="sekunda-font dark-text floating-text text-d">{{ datos.american_construction_end_year }}</h4>
                <h4 class="sekunda-font red-text text-size-3 floating-text text-e">{{ datos.american_construction_start_value }}</h4>
                <h4 class="sekunda-font dark-text floating-text text-f">{{ datos.american_construction_end_value }}</h4>

            </div>
        </div>

        <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

        <label class="drawer-handler" for="drawer-check"></label>
        <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
        <div class="drawer">
            <div class="inner-drawer">
                <p>Mexican remittances became the second source of income, only automobile exports being more important,
                    but above direct foreign investment, tourism and gas related exports. Between 2000 and 2016,
                    shipments increased 9.2% annually and went from 6,572,700,000 to 26,972,400,000 USD dollars, their
                    biggest level in history, according to the Bank of Mexico.</p>
                <p>The remittances’ behavior is directly tied to the economic activity in the United States, since 96%
                    of the remittances come from there. It is estimated that said resources have an 80% correlation with
                    the American construction industry, according to analysts at the Center of Public Finances and
                    Studies.</p>
            </div>
        </div>
        <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>