<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="76" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-76 yellow-bg">

			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">income sources</h4>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3 top-s-space">United States<br/>economic evolution:</h4>
			<h4 class="sekunda-font red-text main-heading-text left-space text-size-3">{{ datos.usa_economic_evol }}</h4>
			<img src="/static/img/money-stack.svg" width="70" align="left" class="left-space top-s-space" />
			<h3 class="sekunda-font dark-text inline-block text-d">{{ datos.usa_year_incomes }}</h3>
			<h1 class="sekunda-font red-text inline-block top-s-space">{{ datos.usa_year_value }}%</h1>
			<h4 class="sekunda-font dark-text left-space text-size-3">{{ datos.usa_year_text }}</h4>

			<img src="/static/img/factory-yellow.svg" width="127" class="floating-img factory" />
			<img src="/static/img/tractor-yellow.svg" width="111" class="floating-img tractor" />
			<img src="/static/img/construction-yellow.svg" width="94" class="floating-img construction" />

			<h4 class="sekunda-font white-text floating-text text-a">Manufacture</h4>
			<h4 class="sekunda-font white-text floating-text text-b">Agriculture</h4>
			<h4 class="sekunda-font white-text floating-text text-c">Construction</h4>

			<svg version="1.1" class="curve-a floating-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 78.7 187.7" style="enable-background:new 0 0 78.7 187.7; width: 76px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
				<path fill="transparent" d="M51.5,1c-23.3,12.9-37,41.2-32.7,67.5c2.3,14.2,10.7,28.5,24.5,32.7c5.5,1.7,11.3,1.6,16.9,0.6
					c4.7-0.8,9.4-2.3,12.9-5.5c3.5-3.2,5.6-8.4,4-12.9c-2.7-7.8-13.2-8.9-21.3-7.4c-17,3.2-33,12.5-43.2,26.4s-14.4,32.4-9.9,49.1
					s18.1,30.9,34.8,35.1" stroke="#E3294D" stroke-width="2">
					<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="880" dur="5s" fill="freeze"/>
				</path>
			</svg>

			<svg version="1.1" class="curve-b floating-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 97.3 200" style="enable-background:new 0 0 97.3 200; width: 93px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
				<path fill="transparent" d="M47.8,2.3c-5.1,1.2-9.5,4.5-13.1,8.4c-13.8,15.1-16.2,38.8-7.6,57.4c3.1,6.7,7.6,13,13.8,17.2
					c8.5,5.8,19.3,7,29.6,7.1c5.4,0,11-0.2,15.9-2.6s8.9-7.2,8.7-12.6c-0.2-4.8-3.8-9.1-8.3-11s-9.6-1.5-14.2,0
					c-7.2,2.3-13.3,7.5-16.9,14.2c-2.8,5.2-3.9,11.1-4.6,16.9c-1.6,14.9-0.1,30-0.5,45c-0.3,12.2-2.1,25-9.3,34.9s-21.2,15.7-32.1,10.3
					c-2.3-1.1-4.4-2.7-5.7-4.9c-2.9-4.8-1.3-11.2,2.1-15.5c4.9-6.4,12.9-9.6,20.8-11.1c6.5-1.2,13.4-1.3,19.7,0.6
					c6.4,1.9,12.2,5.9,15.5,11.7c2.4,4.2,3.3,9,3.7,13.8c0.4,5.5,0.2,11-0.8,16.4" stroke="#E3294D" stroke-width="2">
					<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="880" dur="5s" fill="freeze"/>
				</path>
			</svg>

			<svg version="1.1" class="curve-c floating-img" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 52.1 148.4" style="enable-background:new 0 0 52.1 148.4; width: 50px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
				<path fill="transparent" d="M19.2,0.8c-5,2.3-8.8,6.7-11.7,11.5c-10.8,18.1-8.7,43,4.9,59.1c3.8,4.5,8.5,8.4,14,10.6
					c5.5,2.2,11.8,2.6,17.3,0.3c3.1-1.3,6.1-3.7,6.9-7c0.7-3.1-0.7-6.5-3.2-8.5s-5.9-2.7-9-2.2c-5.9,0.9-10.8,5.5-13.2,11
					c-2.4,5.4-2.8,11.6-2.4,17.6s1.4,11.9,1.7,17.8c0.3,7.2-0.7,14.5-3.7,21.1c-2.9,6.6-7.9,12.4-14.3,15.7" stroke="#E3294D" stroke-width="2">
					<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="880" dur="10s" fill="freeze"/>
				</path>
			</svg>

			<img src="/static/img/dollar.svg" width="45" class="floating-img dollar-a" />
			<img src="/static/img/dollar.svg" width="45" class="floating-img dollar-b" />
			<img src="/static/img/dollar.svg" width="45" class="floating-img dollar-c" />

			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Mexican remittances became the second source of income, only automobile exports being more important, but above direct foreign investment, tourism and gas related exports. Between 2000 and 2016, shipments increased 9.2% annually and went from 6,572,700,000 to 26,972,400,000 USD dollars, their biggest level in history, according to the Bank of Mexico.</p>
					<p>The remittances’ behavior is directly tied to the economic activity in the United States, since 96% of the remittances come from there. It is estimated that said resources have an 80% correlation with the American construction industry, according to analysts at the Center of Public Finances and Studies.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>