<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="77" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-77 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">minimum wage & basic food staples</h4>
			
			<div class="clearfix center-text top-l-space">
				<div class="col col-5">
					<h4 class="sekunda-font dark-text main-heading-text text-size-3 top-s-space">MINIMUM WAGE</h4>
					<h3 class="sekunda-font dark-text main-heading-text">{{ datos.min_wage_peso }} PESOS X 24 workdays</h3>
					<h2 class="red-text sekunda-font"><span class="dark-text">=</span> {{ datos.total_wage_peso }} MONTLY</h2>
				</div>
				<div class="col col-1">
					<img src="/static/img/77-separator.svg" width="12" />
				</div>
				<div class="col col-6">
					<h4 class="sekunda-font dark-text inline-block text-size-3 top-s-space">food basket<br/><span class="red-text">{{ datos.food_basket }} pesos</span></h4>
					<h2 class="dark-text sekunda-font inline-block"> + </h2>
					<h4 class="sekunda-font dark-text inline-block text-size-3 top-s-space">non-food basket<br/><span class="red-text">{{ datos.no_food_basket }} pesos</span></h4>
					<div class="clearfix">
						<h2 class="red-text sekunda-font inline-block"><span class="dark-text">=</span> {{ datos.total_food_no_food }}</h2>
						<h4 class="sekunda-font dark-text inline-block left-text">For a worker to overcome<br/>the state of poverty</h4>
					</div>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The minimum wage in 2016 was homologated in the whole country to 73.34 pesos. Multiplying the 24 workdays of the month, the result is 1,725.96 pesos a month, income that 7 million workers around the country receive.</p>
					<p>The monthly cost of a ‘food basket’ in urban zones is 1,346.46 pesos, and it can increase depending on what products are added, like corn, cereals, meats, cold cuts, dairy, fruit and vegetables.</p>
					<p>There is also a non-food ‘basket’ that includes transportation, housing, personal care, health, education, recreation, clothing, etc. which is calculated to be 1,361 pesos a month.</p>
					<p>For a worker to overcome the state of poverty, he must earn enough to acquire a basic food basket, and the non-food basket, that total up to 2,707.46 pesos.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>