<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="78" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-78 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">minimum wage & basic food staples</h4>
			
			<div class="clearfix center-text top-m-space">
				<div class="col col-6">
					<img src="/static/img/money-stack.svg" class="money-stack" width="58" />
					<h3 class="sekunda-font red-text top-s-space">{{ datos.lowest_min_wage_text }}</h3>
					<h4 class="sekunda-font dark-text text-size-3">{{ datos.mexico_text }}</h4>
					<h4 class="sekunda-font dark-text text-size-3">less than IN CHILE AND ESTONIA</h4>
					<h4 class="sekunda-font dark-text text-size-3 top-m-space">WORK {{ datos.works_mexico_hour }}hour: <span class="red-text">{{ datos.works_usd_year_mexico }} USD a year.</span></h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/money-stack.svg" class="money-stack" width="75" />
					<img src="/static/img/money-stack.svg" class="money-stack" width="75" />
					<h3 class="sekunda-font red-text top-s-space">HIGHEST minimum wage</h3>
					<h4 class="sekunda-font dark-text text-size-3">Australia: <span class="red-text">{{ datos.australia }} USD an hour.</span></h4>
					<h4 class="sekunda-font dark-text text-size-3">Luxemburg: <span class="red-text">{{ datos.luxemburgo }} USD an hour.</span></h4>
					<h4 class="sekunda-font dark-text text-size-3">France: <span class="red-text">{{ datos.france }} USD an hour.</span></h4>
					<h4 class="sekunda-font dark-text text-size-3 top-s-space">WORK {{ datos.works_hrs_year_countries }} hour: <span class="red-text">{{ datos.works_usd_year_countries }} USD a year.</span></h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>According to the Organization for Cooperation and Economic Development (OCDE), Mexico counts with the lowest minimum wage when considering all the member nations, it is less than 1 USD an hour, which is less than the minimum wage in Chile and Estonia.</p>
					<p>In the same survey, the countries best rated are:</p>
					<p>Australia:15.2 USD an hour.</p>
					<p>Luxemburg:14 USD an hour.</p>
					<p>France: 12.4 USD an hour.</p>
					<p>To accurately understand the wage gap, it is important to understand that the average Mexican works on average 2,226 hours a year and obtains a family income of 12,850 USD a year.</p>
					<p>While in the rest of the OCDE countries, the average amount of work hours is 1,765 with a payment of 24,000 USD annually.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>