<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="79" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-79 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">wealth DISTRIBUTION</h4>
			
			<div class="clearfix top-m-space">
				<div class="col col-6 relative">
					<img src="/static/img/79-axis.svg" class="left-space" width="77%" />
					<svg version="1.1" class="arrow-green" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 254.5 248.1" style="enable-background:new 0 0 254.5 248.1; width: 252px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
						<path fill="transparent" d="M1.2,246.8c0,0,30.8-53.9,43.3-58.6s31.8,11.5,45.3,5.5c13.4-6,44-57.1,55.2-71.5s24.9-1.3,40-6.3
							s37.8-49.9,43.8-64.5s20-49.8,20-49.8l-18.5,10.6L249,0.9l4.8,18.7" stroke="#008E45" stroke-width="5">
							<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="freeze" repeatCount="indefinite" />
						</path>
					</svg>
					<svg version="1.1" class="arrow-red" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 323.3 40" style="enable-background:new 0 0 323.3 40; width: 315px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
						<path fill="transparent" d="M5.7,18.5c0,0,112.9,1.5,150.8,1.5c38.6,0,155-1.5,155-1.5s1.1-2.1-2.4-3.8c-1.9-0.9-11.5-5.9-11.5-5.9
							s6.6,1.5,10.8,2.6c7,1.9,9,5.2,9,5.2s-3.8,5.7-8,9.5c-2.9,2.6-10.8,7.2-10.8,7.2s7.7-6.4,10-8.8c6-5.9,5.8-7.5,5.8-7.5" stroke="#E3294D" stroke-width="5">
							<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="freeze" repeatCount="indefinite" />
						</path>
					</svg>
					<h4 class="sekunda-font green-text left-space text-size-3 floating-text text-a">Income</h4>
					<h4 class="sekunda-font red-text left-space text-size-3 floating-text text-b">Poverty</h4>
				</div>
				<div class="col col-6">
					<img src="/static/img/money-stack-big.svg" class="float-anim" width="58" align="top" />
					<h1 class="green-text sekunda-font left-s-space inline-block">{{ datos.hoard }}%</h1>
					<h4 class="sekunda-font dark-text left-s-space text-size-3 inline-block">hoard 21% of the<br/>country’s wealth</h4>
					<div class="clearfix top-s-space"></div>
					<img src="/static/img/money-stack-small.svg" class="float-anim-reverse" width="58" align="bottom" />
					<h1 class="red-text sekunda-font left-s-space inline-block">{{ datos.live_poverty }}%</h1>
					<h4 class="sekunda-font dark-text left-s-space text-size-3 inline-block">live in poverty<br/>(54 million)</h4>
					<div class="clearfix"></div>
					<h4 class="sekunda-font red-text left-space text-size-3 inline-block">23 million cannot afford<br/>the basic food</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Wealth inequality is polarized more and more every day. In the last two decades, income in the country has increased while the percentage of poverty is still stagnated: in this country, 46.5% of the population live in poverty, while a 1% of Mexicans hoard 21% of the country’s wealth.</p>
					<p>Out of the 54 million Mexicans that live in poverty, 23 million cannot afford the basic food, even though they receive minimum wage. The basic problems that prevent this sector of the population from acquiring more benefits from their income is:</p>
					<p>1.- The precarious nature of their minimum wage.</p>
					<p>2.- The marginalization of the indigenous population.</p>
					<p>3.- The gap between public and private education.</p>
					<p>4.- The increase in violence.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>