<!DOCTYPE html>
<html>
<head>    {% load staticfiles %}

    <title>México - A sweet ride</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body class="top-red-brand" data-slide="8">
<div class="viewer">
    <section class="slide slide-8 yellow-bg">

        <div class="sun"></div>
        <h2 class="sekunda-font main-heading-text left-space red-text top-s-space">Weather</h2>
        <h3 class="sekunda-font red-text main-heading-text left-space top-l-space">semi-humid climates<br/>are
            predominant.</h3>
        <h1 class="sekunda-font main-heading-text left-space dark-text top-s-space anim-text">22
            <img width="15"
                 src="{% static 'img/celsius.svg' %}"
                 class="celsius"
                 align="top"/>C</h2>
            <h3 class="sekunda-font dark-text main-heading-text left-space mt-none">ANNUAL AVERAGE</h3>
            <div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}
            </div>

            <label class="drawer-handler" for="drawer-check"></label>
            <input type="checkbox" id="drawer-check" class="drawer-check" name=""/>
            <div class="drawer">
                <div class="inner-drawer">
                    <p>On average the 32 states that comprise Mexico have 760 mm of rain annually.</p>
                    <p>In Mexico temperate and semi-humid climates are predominant.</p>
                    <p>The average temperature in Mexico is about 22 degrees Celsius as an annual average. Although
                        since it is a country with a wide range of climates this can vary from zone to zone.</p>
                    <p>CONAGUA establishes that May is the month where the rainy season starts.</p>
                    <p>The warmest months are May and June; the coldest being January and February.</p>
                </div>
            </div>
            <label class="trans-overlay" for="drawer-check"></label>
    </section>
</div>
{% include 'menu.html' %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>