<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="80" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-80 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">wealth DISTRIBUTION</h4>

			<h4 class="sekunda-font dark-text center-text text-size-3">basic problems</h4>
			<div class="clearfix top-m-space center-text">
				<div class="col col-3">
					<img src="/static/img/money-bag.svg" class="img-a" width="95" />
					<h4 class="sekunda-font red-text top-s-space">minimum wage</h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/casa-indigena.svg" class="img-b" width="128" />
					<h4 class="sekunda-font red-text top-s-space">marginalization of the<br/><span class="dark-text">indigenous population.</span></h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/education.svg" class="img-c" width="158" />
					<h4 class="sekunda-font dark-text top-s-space">The gap between <span class="red-text">public<br/>and private education</span></h4>
				</div>
				<div class="col col-3">
					<img src="/static/img/violence.svg" class="img-d" width="130" />
					<h4 class="sekunda-font dark-text top-s-space">The increase in <span class="red-text">violence</span></h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Wealth inequality is polarized more and more every day. In the last two decades, income in the country has increased while the percentage of poverty is still stagnated: in this country, 46.5% of the population live in poverty, while a 1% of Mexicans hoard 21% of the country’s wealth.</p>
					<p>Out of the 54 million Mexicans that live in poverty, 23 million cannot afford the basic food, even though they receive minimum wage. The basic problems that prevent this sector of the population from acquiring more benefits from their income is:</p>
					<p>1.- The precarious nature of their minimum wage.</p>
					<p>2.- The marginalization of the indigenous population.</p>
					<p>3.- The gap between public and private education.</p>
					<p>4.- The increase in violence.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>