<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="81" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-81 yellow-bg">

			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">ECONOMIC context</h3>
			<h4 class="sekunda-font dark-text main-heading-text left-space text-size-3">Cost of living</h4>

			<h4 class="sekunda-font dark-text center-text text-size-3">basic problems</h4>
			<div class="clearfix top-m-space">
				<div class="col col-4">
					<img src="/static/img/house.svg" class="img-a left-space" width="95" />
					<h4 class="sekunda-font dark-text top-s-space left-space left-text">
						<span class="red-text">Monthly rent</span><br/>
						1 bedroom apartment (50 M2)<br/>
						middle - class IN CDMX<br/>
						<span class="red-text">${{ datos.monthly_rent }} pesos</span>
					</h4>
				</div>
				<div class="col col-4">
					<img src="/static/img/car.svg" class="img-b" width="128" />
					<h4 class="sekunda-font dark-text top-s-space">
						<span class="red-text">Transport</span><br/>
						Standard / austere Nissan:<br/>
						<span class="red-text">${{ datos.transport_cost }} pesos.</span>
						<div class="clearfix top-s-space"></div>
						PUBLIC bus in CDMX<br/>
						<span class="red-text">${{ datos.public_bus }} pesos.</span>
					</h4>
				</div>
				<div class="col col-4 relative">
					<svg version="1.1" class="hershey" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 141.7 116.4" style="enable-background:new 0 0 141.7 116.4;" xml:space="preserve">
						<style type="text/css">
							.st0{fill:#E3294D;}
							.st1{fill:#FFFFFF;}
							.st2{font-family:'Sekunda';}
							.st3{font-size:23.9888px;}
							.st4{fill:#FFC800;}
						</style>
						<g>
							<g>
								<path class="st0" d="M17,33.9C14.3,42,8.5,47.4,0,46.3c6.2,4.3,10.5,11.2,11.7,18.6s-0.8,15.3-5.4,21.3c7.1-3.1,15.9-4.8,22.2-0.2
									c3.7,2.7,5.8,7.1,6.7,11.6c0.9,4.5,0.6,9.1,0.3,13.7c5.8-6.6,14.5-11.1,23.3-10.5s17.3,6.9,19,15.6c3.8-7.4,10.3-13.7,18.2-15.9
									s17.5,0.1,22.4,6.8c-2.7-6.7-2.6-14.5,0.3-21.1c2.9-6.6,5.9-9.7,12.7-12.4c2.7-1.1,6.6-2,10.4-1c-4.7-2.4-8.1-6.7-10.9-11.2
									c-3-4.9-5.3-10.4-5.7-16.1c-0.3-5.7,1.6-11.8,6-15.5c-7,0.9-14.4-2.4-18.3-8.2S108.6,7.7,112,1.6c-4.2,8.3-10.3,11.3-19.5,12.8
									c-5.4,0.9-11.3,1.4-16.2-1S65.3,5.7,66.1,0c-2.3,10.3-9.9,17.4-20.5,15.6c-6-2.2-9.5-5.9-9.9-10.5c-1.3,6.4-2.1,9.8-8,11.5
									s-12.4-0.8-16.9-5C11,11.6,19.7,25.8,17,33.9z"/>
							</g>
							<text transform="matrix(1 0 0 1 36.0508 44.774)">
								<tspan x="0" y="0" class="st1 st2 st3">Hershey’s 40g</tspan>
								<tspan x="-15.6" y="23.3" class="st1 st2 st3">departament store:</tspan>
								<tspan x="9.4" y="46.6" class="st4 st2 st3">${{ datos.hershey }} pesos</tspan>
							</text>
						</g>
					</svg>
					<img src="/static/img/milk.svg" class="img-c" width="158" />
					<h4 class="sekunda-font dark-text top-s-space">
						<span class="red-text">Nutrition</span><br/>
						liter of tetra pack milk<br/>
						IN self serve store:<br/>
						<span class="red-text">${{ datos.nutrition }} pesos</span>
					</h4>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>Housing</p>
					<p>Monthly rent in a one-bedroom apartment (50 square meters) in a middle-class neighborhood in Mexico City: $8,000 pesos on average.</p>
					<p>Housing</p>
					<p>Monthly rent in a one-bedroom apartment (50 square meters) in a middle-class neighborhood in Mexico City: $8,000 pesos on average.</p>
					<p>Nutrition</p>
					<p>Price of one liter of milk in a tetra pack container: ${{ datos.nutrition }} pesos approximately, in a self serve store.</p>
					<p>Hershey’s 40g chocolate bar in a departament store: ${{ datos.hershey }} pesos approximately.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>