<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="82" class="red-bg">
	<div class="viewer">
		<section class="slide slide-82 red-bg">
			<h2 class="center-text sekunda-font white-text main-heading-text centered anim-text">WEALTH DISTRIBUTION<br/>BY REGIONS</h2>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>