<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="86" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-86 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Wealth distribution</h3>

			<div class="clearfix">
				<div class="col col-4">
					<img src="/static/img/5-stars.svg" width="55" class="top-m-space left-space right-s-space bottom-xl-space float-anim" align="left" />
					<h3 class="sekunda-font red-text top-m-space">Lomas<br/><sub class="dark-text">and</sub> Santa Fe</h3>
					<h4 class="sekunda-font dark-text">Other neighborhoods<br/>of great importance</h4>
				</div>
				<div class="col col-8">
					<img src="/static/img/86-img.svg" class="top-m-space left-space right-s-space" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE:{{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The capital contains the most high-income municipalities in the same location; the municipality at the top of that list is Benito Juarez, since it has a level and quality of life almost equivalent to that of the Netherlands. The colonies of high acquisitive power like Lomas de Chapultepec and Polanco, make the municipality of Miguel Hidalgo a conglomerate of inhabitants of high income. Other neighborhoods of great importance are Bosques de las Lomas and Santa Fe, and both are in the municipality of Cuajimalpa de Morelos.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>