<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="88" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-88 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Wealth distribution</h3>

			<div class="clearfix">
				<div class="col col-4">
					<img src="/static/img/money-stack.svg" width="55" class="top-m-space left-space right-s-space bottom-xl-space float-anim" align="left" />
					<h3 class="sekunda-font red-text top-m-space">San Nicolas<br/>de los Garza</h3>
					<h4 class="sekunda-font dark-text">GDP: {{ datos.wealth_distribution_san_nicolas }} USD</h4>
				</div>
				<div class="col col-8">
					<img src="/static/img/88-img.svg" class="top-m-space left-space right-s-space" />
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>The richest people based on wealth per capita are found in the municipality of San Nicolas de los Garza, where the GDP per capita is 25,636 USD eight times more than the poorest municipality in the country: which is Zitacuaro, in the state of Michoacán, where GDP per capita is 3,286 USD annually. It is estimated that the richest people in Monterrey are found in San Nicolas de los Garza, a municipality that has maintained itself from 2010 to today. </p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label> 
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>