<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="89" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-35 yellow-bg">

			<h1 class="sekunda-font red-text main-heading-text anim-text floating-text">Western</h1>
			<h3 class="sekunda-font main-heading-text red-text anim-text floating-text">Region</h3>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>