<!DOCTYPE html>
<html>
<head>    {% load staticfiles %}

	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body class="top-red-brand" data-slide="9">
	<div class="viewer">
		<section class="slide slide-9 yellow-bg">
			<h2 class="sekunda-font main-heading-text left-space red-text top-s-space">Weather</h2>
			<h3 class="sekunda-font dark-text main-heading-text left-space top-m-space">The INEGI establishes<br/>Mexico having 8 types<br/>of climates:</h3>
			<table class="nostyle left-space top-m-space">
				<tbody class="dark-text valerie-font color-table">
					<tr><td><span class="color-bar" style="background-color: #FF3B7C"></span></td><td>Warm and humid</td></tr>
					<tr><td><span class="color-bar" style="background-color: #FFB300"></span></td><td>Warm sub-humid</td></tr>
					<tr><td><span class="color-bar" style="background-color: #FF8000"></span></td><td>Very dry</td></tr>
					<tr><td><span class="color-bar" style="background-color: #6E4012"></span></td><td>Dry</td></tr>
					<tr><td><span class="color-bar" style="background-color: #CAAC90"></span></td><td>Dry with winter rains</td></tr>
					<tr><td><span class="color-bar" style="background-color: #B347A6"></span></td><td>Temperate with winter rains</td></tr>
					<tr><td><span class="color-bar" style="background-color: #005B85"></span></td><td>Temperate humid</td></tr>
					<tr><td><span class="color-bar" style="background-color: #1ED1C0"></span></td><td>Temperate sub-humid</td></tr>
				</tbody>
			</table>
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

			<label class="drawer-handler" for="drawer-check"></label>
			<input type="checkbox" id="drawer-check" class="drawer-check" name="" />
			<div class="drawer">
				<div class="inner-drawer">
					<p>On average the 32 states that comprise Mexico have 760 mm of rain annually.</p>
					<p>In Mexico temperate and semi-humid climates are predominant.</p>
					<p>The average temperature in Mexico is about 22 degrees Celsius as an annual average. Although since it is a country with a wide range of climates this can vary from zone to zone.</p>
					<p>CONAGUA establishes that May is the month where the rainy season starts.</p>
					<p>The warmest months are May and June; the coldest being January and February.</p>
				</div>
			</div>
			<label class="trans-overlay" for="drawer-check"></label>
		</section>
	</div>
    {% include 'menu.html' %}

	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>