<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="92" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-92 yellow-bg">
			<h3 class="sekunda-font red-text main-heading-text center-text top-s-space">Wealth distribution</h3>

			<div class="clearfix">
				<div class="col col-4 relative right-text">
					<h4 class="red-text sekunda-font right-text">{{ datos.wealth_distribution_second_year }}</h4>
					<img src="/static/img/dollar-perspective.svg" width="55" class="img-a" />
					<img src="/static/img/dollar-perspective.svg" width="55" class="img-b" />
					<img src="/static/img/dollar-perspective.svg" width="55" class="img-c" />
					<img src="/static/img/dollar-perspective.svg" width="55" class="img-d" />
					<img src="/static/img/money-stack.svg" width="55" class="top-xl-space left-space bottom-l-space" align="left" />
					<img src="/static/img/92-arrow-up.svg" width="150" class="arrow-a float-anim" />
					<h4 class="red-text sekunda-font left-text">{{ datos.wealth_distribution_first_year }}</h4>
					<h3 class="sekunda-font red-text inline-block yellow-bg floating-text text-a">{{ datos.wealth_distribution_money }}% </h3>
				</div>
				<div class="col col-5">
					<img src="/static/img/92-img.svg" class="top-m-space" />
					<h3 class="sekunda-font dark-text top-s-space inline-block right-s-space">{{ datos.wealth_distribution_state }} State</h3>
					<h4 class="sekunda-font red-text inline-block">fight against poverty<br/>that is linked to salaries</h4>
					<h4 class="text-size-3 dark-text sekunda-font center-text"><span class="red-text">{{ datos.new_jobs }}</span> new jobs.</h4>
				</div>
				<div class="col col-3 relative">
					<h4 class="red-text sekunda-font">{{ datos.wealth_distribution_first_year }}</h4>
					<img src="/static/img/92-arrow-down.svg" width="150" class="arrow-b float-anim-reverse" />
					<h4 class="red-text sekunda-font right-text right-s-space">{{ datos.wealth_distribution_second_year }}</h4>
					<h3 class="sekunda-font red-text inline-block yellow-bg floating-text text-b">{{ datos.wealth_distribution_people_not_food }}%</h3>
				</div>
			</div>
			
			<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>