<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="93" class="dark-bg">
	<div class="viewer">
		<section class="slide slide-93 dark-bg">
			<h1 class="center-text sekunda-font yellow-text main-heading-text mb-none top-xl-space anim-text">Population</h1>
			<div class="button-box-container center-text">
				<a href="/web/93.html" class="button-box btn-box btn-a sekunda-font dark-text">Generals</a>
				<a href="/web/101.html" class="button-box btn-box btn-b sekunda-font dark-text">Socioeconomic Levels</a><br/>
				<a href="/web/158.html" class="button-box btn-box btn-c sekunda-font dark-text top-s-space">SEL Differences by region</a>
			</div>
		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>