<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="94" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-94 yellow-bg">
			<div class="people-a">
				<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Population</h3>

				<h4 class="sekunda-font dark-text left-space top-l-space">Mexico is one of the</h4>
				<h1 class="sekunda-font red-text left-space inline-block">{{ datos.population }}</h1>
				<h4 class="sekunda-font dark-text inline-block">most populated<br/>countries in the world.</h4>

				<div class="clearfix"></div>

				<h1 class="sekunda-font red-text inline-block left-space">{{ datos.citizens }}</h1>
				<h4 class="sekunda-font red-text inline-block text-size-3">citizens</h4>

				<div class="clearfix"></div>

				<h4 class="sekunda-font dark-text inline-block left-space">The most of them are concentrated<br/>primarily in the State of Mexico, and Mexico City.</h4>
					<div class="floating-text">
					<h2 class="sekunda-font red-text">{{ datos.annual_population_growth }}%</h2>
					<h4 class="sekunda-font dark-text">annual<br/>population growth</h4>
				</div>
				<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			</div>
			

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>