<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="95" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-95 yellow-bg">
			<div class="people-a">
				<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">men and<br/>women</h3>
				<h4 class="dark-text text-size-3 sekunda-font top-s-space left-space">The proportion between<br/>men and women</h4>
				<h4 class="sekunda-font red-text left-space">that inhabit the country is constantly<br/>being modified due to migration<br/>to the US.</h4>
				<h4 class="dark-text text-size-3 sekunda-font left-space top-s-space">Women live on average<br/>{{ datos.women_live_on_avarage }}</h4>


				
				<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			</div>
			

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>