<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="96" class="top-red-brand">
    <div class="viewer">
		<section class="slide slide-96 yellow-bg">
			<div class="people-a">
				<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">YOUNG<br/>PEOPLE</h3>
				<h1 class="sekunda-font red-text left-space top-s-space">{{ datos.young_people }}%</h1>
				<h3 class="sekunda-font dark-text main-heading-text left-space top-s-space">{{ datos.young_people_range }}</h3>
				<h4 class="sekunda-font dark-text left-space top-m-space">every year more young people choose to be independent workers<br/>due to limited opportunities in the workforce. </h4>


				<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			</div>


		</section>
	</div>
    {% include 'menu.html' %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
