<!DOCTYPE html>
<html>
<head>
	<title>México - A sweet ride</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body data-slide="97" class="top-red-brand">
	<div class="viewer">
		<section class="slide slide-97 yellow-bg">
			<div class="people-a">
				<h3 class="sekunda-font red-text main-heading-text left-space top-s-space">Older<br/>People</h3>
				<h4 class="sekunda-font dark-text left-space top-s-space">The segment of the population<br/>that is in constant increase<br/>recently is the older adults.</h4>
				<svg version="1.1" class="top-s-space left-space" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202 56.3" style="enable-background:new 0 0 202 56.3; width: 195px; stroke-dasharray:3000,2300; stroke-dashoffset:0" xml:space="preserve">
					<path fill="transparent" d="M3.9,45.4c0,0,9-0.2,17.8-3.4s20.5-12.1,20.5-12.1s0.3,4.3,1.8,7.8s10.5,14.8,10.5,14.8s9.1-8.1,15.7-11.3
						s20.5-6.9,25.3-10s10-7.3,10-7.3s4.3,6.1,7.5,9.5s8.8,6.3,11.3,10.3s5,8.8,5,8.8s11.5-11.1,18.8-14.3s18.3-8.5,25.3-14.3
						s15.8-14.7,15.8-14.7l-13.3-2.5l22.8-3c0,0-11,19.9-11.5,20.8s7.2-18.7,7.2-18.7l-8,1.1l5.1,1.3l-2.2,8.7" stroke="#E3294D" stroke-width="5">
						<animate begin="0" attributeName="stroke-dashoffset" from="3000" to="2000" dur="5s" fill="freeze" repeatCount="indefinite" />
					</path>
				</svg>
				<div class="clearfix"></div>
				<img src="/static/img/older-people.svg" class="left-space" width="116" align="top" />
				<h4 class="dark-text sekunda-font left-s-space text-size-3 inline-block">{{ datos.older_people }}<br/>until 2030</h4>
				<h4 class="red-text sekunda-font left-space top-s-space">now Mexicans live, on average,</h4>
				<h4 class="text-size-3 red-text left-space sekunda-font">more than 70 years.</h4>
				
				<div class="bottom-line-text dark-text sekunda-font center-text">SOURCE: {{ source }}</div>
			</div>
			

		</section>
	</div>{% include 'menu.html' %}

	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>