<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<!-- Menu -->
<script>
    $(function(){
        var closeBtn = '<span class="close" id="close-btn">&times;</span>';
        $('.drawer').append(closeBtn);
        $('body').on('click','span.close', function(){
            $('.drawer-check').prop('checked', false);
        })
    })
</script>
<input type="checkbox" id="app-drawer-check" class="drawer-check" name=""/>
<label class="app-menu-handler" for="app-drawer-check">
    <span class="menu-line"></span>
    <span class="menu-line"></span>
    <span class="menu-line"></span>
</label>
<div class="app-drawer">
    <div class="vertical-align-container full-width">
        <div class="tabcell">
            <ul>
                <li class="white-text">
                    <a href="/web/1.html">Home</a>
                </li>
                <li class="white-text">
                    <a href="/web/2.html">Mexico and Mexican consumer</a>
                </li>
                <li class="dark-text yellow-bg menu-parent">
                    <a href="#">Country Overview</a>
                    <ul>
                        <li><a href="/web/4.html">Geography</a></li>
                        <li><a href="/web/14.html">Differences by regions</a></li>
                        <li><a href="/web/52.html">Goverment</a></li>
                        <li><a href="/web/61.html">Economic Context</a></li>
                        <li><a href="/web/82.html">Wealth distribution by regions</a></li>
                    </ul>
                </li>
                <li class="dark-bg yellow-text menu-parent">
                    <a href="/web/93.html">Population</a>
                    <ul>
                        <li><a href="/web/93.html">Generals</a></li>
                        <li><a href="/web/101.html">Socioeconomic Levels</a></li>
                        <li><a href="/web/158.html">SEL Differences by region</a></li>
                    </ul>
                </li>
                <li class="white-bg red-text menu-parent">
                    <a href="/web/165.html">Eating Habits</a>
                    <ul>
                        <li><a href="/web/166.html">MEXICAN FOOD GENERALS</a></li>
                        <li><a href="/web/182.html">EATING HABITS BY REGION</a></li>
                    </ul>
                </li>
                <li class="dark-text yellow-bg menu-parent">
                    <a href="/web/211.html">HSY Categories</a>
                    <ul>
                        <li><a href="/web/212.html">Chocolates</a></li>
                        <li><a href="/web/229.html">SPICY CANDY</a></li>
                        <li><a href="/web/243.html">Flavored milk</a></li>
                        <li><a href="/web/253.html">OTHER CATEGORIES</a></li>
                    </ul>
                </li>
                <li class="white-text">
                    <a href="/accounts/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<label class="app-trans-overlay" for="app-drawer-check"></label>
<!-- End Menu -->